<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>В стране Русского языка живут буквы и звуки.</p>
            <p>Знакомимся с жителями страны - весёлыми человечками-буковками.</p>
            <p>Веселые озорные человечки очень любят говорить, петь и шутить.</p>
            <p style="color:red">Внимание!</p>
            <p>Начинаем знакомство с весёлыми буковками-певуньями.</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <img class="print" src="../../../assets/img/bus.png" alt="автобус">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect" (click)="viewDiv3()">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">З</button>
        </div>
    </div>

    <div id="div3">
        <div>
            <img class="cloudo" src="../../../assets/img/hoop.png" alt="обруч">
            <img class="letter" src="../../../assets/img/o.gif" alt="о">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv4()">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Б</button>
        </div>
    </div>

    <div id="div4">
        <div>
            <img class="print" src="../../../assets/img/lizard.png" alt="ящерица">
            <img class="letter" src="../../../assets/img/ya.gif" alt="я">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect" (click)="viewDiv5()">Я</button>
            <button class="yellow noselect">В</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <img class="print" src="../../../assets/img/turkey.png" alt="индюк">
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect" (click)="viewDiv6()">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">П</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv7()">ИА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <img class="print" src="../../../assets/img/duck.png" alt="утка">
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv8()">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="print" src="../../../assets/img/kid.png" alt="малыш">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv9()">УА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
            <img class="print" src="../../../assets/img/au.png" alt="ау">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">УА</button>
            <button class="yellow noselect" (click)="viewDiv10(); addEvent1();">АУ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p style="font-size:2em; color:red;">На какую букву начинаются слова?</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; justify-content:space-between; margin-bottom:50px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; flex-wrap:wrap; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/berries.png" alt="berries" class="imgInDiv">
                <img src="../../../assets/img/iron.jpg" alt="iron" class="imgInDiv">
                <img src="../../../assets/img/vegatebles.png" alt="vegetables" class="imgInDiv">
                <img src="../../../assets/img/indian.png" alt="indian" class="imgInDiv">
                <img src="../../../assets/img/orange.png" alt="orange" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv11(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p style="font-size: 2em; color: red;">С какой буквы начинается слово?</p>
        </div>

        <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm3">
            <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
            <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
        </div>

        <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm4">
            <img src="../../../assets/img/rod.png" alt="rod" class="imgInDiv">
            <img src="../../../assets/img/lizard.png" alt="lizzard" class="imgInDiv">
            <img src="../../../assets/img/berries.png" alt="berries" class="imgInDiv">
            <img src="../../../assets/img/udot.png" alt="udot" class="imgInDiv">
            <img src="../../../assets/img/anchor.png" alt="anchor" class="imgInDiv">
            <img src="../../../assets/img/snall.png" alt="snail" class="imgInDiv">
            <img src="../../../assets/img/lamb.png" alt="lamb" class="imgInDiv">
            <img src="../../../assets/img/duck.png" alt="duck" class="imgInDiv">
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv12(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div12">
        <div>
            <p style="font-size:2em; color:red;">Соедини картинку и букву!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; justify-content:space-between; margin-bottom:50px;" id="divIm5">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; flex-wrap:wrap; justify-content:space-between;" id="divIm6">
                <img src="../../../assets/img/lizard.png" alt="lizzard" class="imgInDiv">
                <img src="../../../assets/img/bus.png" alt="bus" class="imgInDiv">
                <img src="../../../assets/img/donkey.png" alt="donkey" class="imgInDiv">
                <img src="../../../assets/img/turkey.png" alt="turkey" class="imgInDiv">
                <img src="../../../assets/img/duck.png" alt="duck" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv13(); addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <p style="font-size:2em; color:red;">Соедини картинку и букву!</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px; flex-wrap:wrap;" id="divIm7">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; flex-wrap:wrap; justify-content:space-between;" id="divIm8">
                <img src="../../../assets/img/pineapple.png" alt="pineapple" class="imgInDiv">
                <img src="../../../assets/img/needle.png" alt="needle" class="imgInDiv">
                <img src="../../../assets/img/snall.png" alt="snall" class="imgInDiv">
                <img src="../../../assets/img/wasps.png" alt="wasps" class="imgInDiv">
                <img src="../../../assets/img/lamb.png" alt="lamb" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv14()">Жми!</a>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">АУ</span>
                <input type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">ИА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УА</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size:2em; color:red;">Посмотри и запиши.</p>
            <p>Вспомни, на какую букву начинаются слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <img src="../../../assets/img/needle.png" alt="игла" title="И" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/watermelon.png" alt="арбуз" title="А" class="imgInDiv1">
                <input type = "text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/snall.png" alt="улитка" title="У" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/donkey.png" alt="осел" title="ИА" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/au.png" alt="ау" title="АУ" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/kid.png" alt="малыш" title="УА" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/cloud.gif" alt="облако" title="О" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/apple.png" alt="яблоко" title="Я" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div16">
        <div>
            <p class="big">Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" alt="A">
            <img src="../../../assets/img/i.gif" alt="И">
            <img src="../../../assets/img/o.gif" alt="О">
            <img src="../../../assets/img/u.gif" alt="У">
            <img src="../../../assets/img/ya.gif" alt="Я">
        </div>

        <div>
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>
</div>