<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/4.gif" alt="4">
            <img class="number1" src="../../../assets/img/9.gif" alt="9">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Рассортируй буквы на мягкие и твёрдые согласные.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">Мягкий</div>
                <div class="inDivConsVow">Твёрдый</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px; flex-wrap:wrap;">
                <img src="../../../assets/img/c.gif" alt="c" class="imgInDivMargin">
                <img src="../../../assets/img/ch.gif" alt="ch" class="imgInDivMargin">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDivMargin"><!--й-->
                <img src="../../../assets/img/Tz.png" alt="t" class="imgInDivMargin">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDivMargin">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDivMargin">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDivMargin">
                <img src="../../../assets/img/Kz.gif" alt="k" class="imgInDivMargin">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDivMargin">
                <img src="../../../assets/img/Shy.gif" alt="sha" class="imgInDivMargin">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDivMargin">
                <img src="../../../assets/img/Bz.gif" alt="b" class="imgInDivMargin">
                <img src="../../../assets/img/Pz.gif" alt="p" class="imgInDivMargin">
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDivMargin">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDivMargin">
                <img src="../../../assets/img/fZ.gif" alt="f" class="imgInDivMargin">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDivMargin">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Объедини парные гласные.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:20px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="eiy" class="imgInDivMargin"><!--ы-->
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivMargin">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin"><!--э-->
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Найди гласные, которые смягчают согласный звук.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">Смягчает</div>
                <div style="height:80px;" class="inDivConsVow">Не смягчает</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivMargin">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="eiy" class="imgInDivMargin"><!--ы-->
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin"><!--э-->
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv5(); addEvent4();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Расположи слова в алфавитном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div  class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">9</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">10</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/titmouse.png" alt="tit" class="imgInDiv">
                <img src="../../../assets/img/owl2.png" alt="owl" class="imgInDiv">
                <img src="../../../assets/img/cuckoo.png" alt="cuckoo" class="imgInDiv">
                <img src="../../../assets/img/sparrow.png" alt="sparrow" class="imgInDiv">
                <img src="../../../assets/img/pelican.png" alt="pelican" class="imgInDiv">
                <img src="../../../assets/img/turkey.png" alt="turkey" class="imgInDiv">
                <img src="../../../assets/img/blackbird.png" alt="thrush" class="imgInDiv">
                <img src="../../../assets/img/stork.png" alt="stork" class="imgInDiv">
                <img src="../../../assets/img/pigeon.png" alt="pigeon" class="imgInDiv">
                <img src="../../../assets/img/crane.png" alt="crane" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv6(); addEvent5();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Рассортируй слова по количеству слогов.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">1 слог</div>
                <div class="inDivConsVow">2 слога</div>
                <div class="inDivConsVow">3 слога</div>
                <div class="inDivConsVow">4 слога</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px; flex-wrap:wrap;">
                <img src="../../../assets/img/thrushText.png" alt="thrush" class="imgText">
                <img src="../../../assets/img/sparrow2.png" alt="sparrow" class="imgText">
                <img src="../../../assets/img/pigeonText.png" alt="pigeon" class="imgText">
                <img src="../../../assets/img/owlText.gif" alt="owl" class="imgText">
                <img src="../../../assets/img/sparrower.png" alt="sparrower" class="imgText">
                <img src="../../../assets/img/owlerText.png" alt="owler" class="imgText">
                <img src="../../../assets/img/pigeonerText.png" alt="pigeoner" class="imgText">
                <img src="../../../assets/img/pelicanText.png" alt="pelican" class="imgText">
                <img src="../../../assets/img/cuckooText.png" alt="cuckoo" class="imgText">
                <img src="../../../assets/img/titmouseText.png" alt="titmouse" class="imgText">
                <img src="../../../assets/img/StorkerText.png" alt="storker" class="imgText">
                <img src="../../../assets/img/storkText.png" alt="stork" class="imgText">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv7(); addEvent6();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Рассортируй буквы на глухие и звонкие.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">Глухой</div>
                <div class="inDivConsVow">Звонкий</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px; flex-wrap:wrap;">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDivMargin">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDivMargin">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDivMargin">
                <img src="../../../assets/img/fS.gif" alt="f" class="imgInDivMargin">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDivMargin">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDivMargin">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDivMargin">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDivMargin">
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDivMargin">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDivMargin">
                <img src="../../../assets/img/Nz.gif" alt="n" class="imgInDivMargin">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDivMargin">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDivMargin">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDivMargin"><!--й-->
                <img src="../../../assets/img/ch.gif" alt="ch" class="imgInDivMargin">
                <img src="../../../assets/img/Hs.gif" alt="h" class="imgInDivMargin">
                <img src="../../../assets/img/Shy.gif" alt="sha" class="imgInDivMargin">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv8()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Расположи слова в обратном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div  class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">9</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">10</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/motorcycle.png" alt="motorcycle" class="imgInDiv">
                <img src="../../../assets/img/sailboat.png" alt="sailboat" class="imgInDiv">
                <img src="../../../assets/img/helicopter.png" alt="helicopter" class="imgInDiv">
                <img src="../../../assets/img/plane.png" alt="plane" class="imgInDiv">
                <img src="../../../assets/img/airliner.png" alt="airlainer" class="imgInDiv">
                <img src="../../../assets/img/tank.png" alt="tank" class="imgInDiv">
                <img src="../../../assets/img/bickle.png" alt="bike" class="imgInDiv">
                <img src="../../../assets/img/rocket.png" alt="rocket" class="imgInDiv">
                <img src="../../../assets/img/electricTrain.png" alt="electrotrain" class="imgInDiv">
                <img src="../../../assets/img/bus.png" alt="bus" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv9()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ДОМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ДОМИК</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ДОМИЩЕ</span>
                <input style="width:230px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СТАКАН</span>
                <input style="width:195px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СТАКАНЧИК</span>
                <input style="width:293px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СТАКАНИЩЕ</span>
                <input style="width:311px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГРАФИН</span>
                <input style="width:198px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГРАФИНЧИК</span>
                <input style="width:297px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГРАФИНИЩЕ</span>
                <input style="width:315px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">САПОГ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">САПОЖОК</span>
                <input style="width:254px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">САПОЖИЩЕ</span>
                <input style="width:303px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Бук-вы мох-на-тые,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv11()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Б</span><span class="letterSpan" (click)="clickRightLetter()">ю</span>
            <span class="letterSpan" (click)="clickWrongLetter()">у</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickWrongLetter()">ы</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> м</span><span class="letterSpan" (click)="clickRightLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">о</span><span class="letterSpan" (click)="clickWrongLetter()">х</span>
            <span class="letterSpan" (click)="clickWrongLetter()">н</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">ы</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickRightLetter()">й</span>
            <span class="letterSpan" (click)="clickRightLetter()">э</span><span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan1()">Проверить</a>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Бук-вы пер-на-ты-е,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv13()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Б</span><span class="letterSpan" (click)="clickRightLetter()">ю</span>
            <span class="letterSpan" (click)="clickWrongLetter()">у</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickRightLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ы</span><span class="letterSpan" (click)="clickWrongLetter()"> п</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickRightLetter()">э</span>
            <span class="letterSpan" (click)="clickWrongLetter()">р</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ы</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickRightLetter()">й</span><span class="letterSpan" (click)="clickRightLetter()">э</span>
            <span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan2()">Проверить</a>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Бук-вы жи-вы-е:</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv15()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Б</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickRightLetter()">ю</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickRightLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ы</span><span class="letterSpan" (click)="clickWrongLetter()"> ж</span>
            <span class="letterSpan" (click)="clickRightLetter()">ы</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickWrongLetter()">ы</span>
            <span class="letterSpan" (click)="clickRightLetter()">й</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">:</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan3()">Проверить</a>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">С хвос-та-ми,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv17()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">С</span><span class="letterSpan" (click)="clickWrongLetter()"> х</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickRightLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">о</span><span class="letterSpan" (click)="clickWrongLetter()">с</span>
            <span class="letterSpan" (click)="clickRightLetter()">з</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">м</span>
            <span class="letterSpan" (click)="clickWrongLetter()">и</span><span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan4()">Проверить</a>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">С у-са-ми,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv19()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">С</span><span class="letterSpan" (click)="clickWrongLetter()"> у</span>
            <span class="letterSpan" (click)="clickRightLetter()">ю</span><span class="letterSpan" (click)="clickWrongLetter()">с</span>
            <span class="letterSpan" (click)="clickRightLetter()">я</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">м</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan5()">Проверить</a>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Бе-гать у-ме-ют о-ни</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv21()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Б</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">г</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickRightLetter()">ц</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ь</span><span class="letterSpan" (click)="clickWrongLetter()"> у</span>
            <span class="letterSpan" (click)="clickWrongLetter()">м</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ю</span><span class="letterSpan" (click)="clickRightLetter()">й</span>
            <span class="letterSpan" (click)="clickRightLetter()">у</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> о</span><span class="letterSpan" (click)="clickRightLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">н</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan6()">Проверить</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">И ле-тать,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv23()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">И</span><span class="letterSpan" (click)="clickWrongLetter()"> л</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickRightLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickRightLetter()">ц</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ь</span><span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan7()">Проверить</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Пол-зать и пла-вать,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv25()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">П</span><span class="letterSpan" (click)="clickWrongLetter()">о</span>
            <span class="letterSpan" (click)="clickWrongLetter()">л</span><span class="letterSpan" (click)="clickWrongLetter()">з</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickRightLetter()">о</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ь</span><span class="letterSpan" (click)="clickWrongLetter()"> и</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> п</span><span class="letterSpan" (click)="clickWrongLetter()">л</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">в</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">ь</span>
            <span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan8()">Проверить</a>
        </div>
    </div>

    <div id="div26">
        <div>
            <p>Посчитай слова.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Ку-сать и хва-тать...</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv27()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div27">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">К</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickRightLetter()">ю</span><span class="letterSpan" (click)="clickWrongLetter()">с</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">ь</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> и</span><span class="letterSpan" (click)="clickWrongLetter()"> х</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ь</span><span class="letterSpan" (click)="clickWrongLetter()">...</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan9()">Проверить</a>
        </div>
    </div>

    <div id="div28">
        <div>
            <p style="color:red;">Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ТУЧА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ТУЧКА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОВЁР</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОВРИК</span>
                <input style="width:220px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРОВАТЬ</span>
                <input style="width:224px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРОВАТКА</span>
                <input style="width:254px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПОДУШКА</span>
                <input style="width:248px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПОДУШЕЧКА</span>
                <input style="width:314px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОРЗИНА</span>
                <input style="width:235px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОРЗИНОЧКА</span>
                <input style="width:335px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЯГОДА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЯГОДКА</span>
                <input style="width:220px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div29">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Rz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/iy.gif" alt="Ь">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/Hz.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/Hs.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
            <img class="letter1" src="../../../assets/img/Shy.gif" alt="Щ">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv30()">Домашнее задание</a>
        </div>
    </div>

    <div id="div30">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/suitcase.png" class="imgInDiv1" title="ЧЕМОДАН" alt="ЧЕМОДАН">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/squirrel.png" class="imgInDiv1" title="БЕЛОЧКА" alt="БЕЛОЧКА">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/blackberry.png" class="imgInDiv1" title="ЕЖЕВИКА" alt="ЕЖЕВИКА">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/blackbird.png" class="imgInDiv1" title="ДРОЗД" alt="ДРОЗД">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/chicken.png" class="imgInDiv1" title="КУРОЧКА" alt="КУРОЧКА">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/goat.png" class="imgInDiv1" title="КОЗОЧКА" alt="КОЗОЧКА">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/doll.png" class="imgInDiv1" title="КУКОЛКА" alt="КУКОЛКА">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/lily.png" class="imgInDiv1" title="ЛИЛИЯ" alt="ЛИЛИЯ">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>