<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/4.gif" alt="4">
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Собери гласные по парочкам.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:20px; flex-wrap:wrap;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;" id="divIm2">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="yi" class="imgInDivMargin">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivMargin">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv3()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div3">
        <p>Изучаем алфавит.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/DmMwQt6Pr6E" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <p>Запомни название букв.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/0oL07tUZMcA" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Введи название букв.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/Ss.gif" class="imgInDiv2" title="С" alt="С">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Ms.gif" class="imgInDiv2" title="М" alt="М">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Ls.gif" class="imgInDiv2" title="Л" alt="Л">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Gs.gif" class="imgInDiv2" title="Г" alt="Г">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/B.gif" class="imgInDiv2" title="Б" alt="Б">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Vs.gif" class="imgInDiv2" title="В" alt="В">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/D.gif" class="imgInDiv2" title="Д" alt="Д">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/J.gif" class="imgInDiv2" title="Ж" alt="Ж">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Zs.gif" class="imgInDiv2" title="З" alt="З">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/y.gif" class="imgInDiv2" title="Й" alt="Й">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Ks.gif" class="imgInDiv2" title="К" alt="К">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Ns.gif" class="imgInDiv2" title="Н" alt="Н">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Ps.gif" class="imgInDiv2" title="П" alt="П">
                <input type="text" class="inputInDiv2">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Rs.gif" class="imgInDiv2" title="Р" alt="Р">
                <input type="text" class="inputInDiv2">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div6">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/OdIDS20151c" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv7(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:20px;">
                <div class="inDivABC">
                    <div class="textInDiv">1</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">2</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">3</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">4</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">5</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">6</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">7</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">8</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">9</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">10</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">11</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">12</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">13</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">14</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">15</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">16</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">17</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">18</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">19</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">20</div>
                    <div class="divInDivABC"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDivABC">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDivABC">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDivABC">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDivABC">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDivABC">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDivABC">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDivABC">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDivABC">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDivABC">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivABC">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDivABC">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDivABC">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDivABC">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDivABC">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDivABC">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDivABC">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivABC">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDivABC">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDivABC">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDivABC">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv8()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div8">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/VFo_Hg94V8M" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv9(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Подбери правильное название букв.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">У</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЭФ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ТЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ХА</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/fS.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/Hs.gif" alt="h" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/O6_O96X7TVc" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv11(); addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/fS.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/Hs.gif" alt="h" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv12()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div12">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/-Ifn7z2_JvM" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv13(); addEvent5();">Жми!</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Подбери правильное название букв.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">ША</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЦЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЩА</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЧЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="width: 260px;" class="inDiv">
                    <div  class="textInDiv">ТВЕРДЫЙ ЗНАК</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/c.gif" alt="c" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="iye" class="imgInDiv"><!--ъ-->
                <img src="../../../assets/img/ch.gif" alt="ch" class="imgInDiv">
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDiv">
                <img src="../../../assets/img/Shy.gif" alt="sha" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv14()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div14">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/tHfHepnxR7M" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv15(); addEvent6();">Жми!</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/ch.gif" alt="ch" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="iye" class="imgInDiv"><!--ъ-->
                <img src="../../../assets/img/Shy.gif" alt="sha" class="imgInDiv">
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDiv">
                <img src="../../../assets/img/c.gif" alt="c" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-left:5px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ЗАЯЦ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗАЙЧИК</span>
                <input style="width:197px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛИСА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛИСКА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПКА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ХВОСТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ХВОСТИК</span>
                <input style="width:233px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПКА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СПИНА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СПИНКА</span>
                <input style="width:206px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div17">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/s-ekQU5fFrc" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv18(); addEvent7();">Жми!</a>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDiv">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDiv"><!--э-->
                <img src="../../../assets/img/iy.gif" alt="iy" class="imgInDiv"><!--ь-->
                <img src="../../../assets/img/Eiy.gif" alt="eiy" class="imgInDiv">  <!--ы-->
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Бе-ге-мот ра-зи-нул рот,</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Бул-ки про-сит бе-ге-мот.</p>
        </div>

        <div>
            <img src="../../../assets/img/B.gif" class="riddle" alt="Б" (click)="viewDiv20(); addEvent8();">
            <img src="../../../assets/img/J.gif" class="riddle" alt="Ж" (click)="clickWrong()">
            <img src="../../../assets/img/ei.gif" class="riddle" alt="Э" (click)="clickWrong()">
            <img src="../../../assets/img/Zs.gif" class="riddle" alt="З" (click)="clickWrong()">
        </div>
    </div>

    <div id="div20">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/hippopotamus.png" alt="БЕГЕМОТ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Bz.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e2" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Gz.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Во-ро-бей про-сил во-ро-ну</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Выз-вать вол-ка к те-ле-фо-ну.</p>
        </div>

        <div>
            <img src="../../../assets/img/Vs.gif" class="riddle" alt="В" (click)="viewDiv22(); addEvent9();">
            <img src="../../../assets/img/i.gif" class="riddle" alt="И" (click)="clickWrong()">
            <img src="../../../assets/img/D.gif" class="riddle" alt="Д" (click)="clickWrong()">
            <img src="../../../assets/img/Gs.gif" class="riddle" alt="Г" (click)="clickWrong()">
        </div>
    </div>

    <div id="div22">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/sparrow.png" alt="ВОРОБЕЙ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/Bz.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv23()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Дя-тел жил в дуп-ле пус-том,</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Дуб дол-бил как до-ло-том.</p>
        </div>

        <div>
            <img src="../../../assets/img/B.gif" class="riddle" alt="Б" (click)="clickWrong()">
            <img src="../../../assets/img/D.gif" class="riddle" alt="Д" (click)="viewDiv24(); addEvent10();">
            <img src="../../../assets/img/Ms.gif" class="riddle" alt="М" (click)="clickWrong()">
            <img src="../../../assets/img/Ks.gif" class="riddle" alt="К" (click)="clickWrong()">
        </div>
    </div>

    <div id="div24">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/woodpecker.png" alt="ДЯТЕЛ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/Dz.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Tz.png" alt="t" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv25()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Мёд в ле-су мед-ведь на-шёл,</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Ма-ло мё-ду, мно-го пчёл.</p>
        </div>

        <div>
            <img src="../../../assets/img/Ks.gif" class="riddle" alt="К" (click)="clickWrong()">
            <img src="../../../assets/img/Vs.gif" class="riddle" alt="В" (click)="clickWrong()">
            <img src="../../../assets/img/Ms.gif" class="riddle" alt="М" (click)="viewDiv26(); addEvent11();">
            <img src="../../../assets/img/u.gif" class="riddle" alt="У" (click)="clickWrong()">
        </div>
    </div>

    <div id="div26">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/bear.png" alt="МЕДВЕДЬ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/D.gif" alt="ds" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Dz.gif" alt="dz" class="imgInDiv">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e2" class="imgInDiv">
                <img src="../../../assets/img/iy.gif" alt="y" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv27()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div27">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Цап-ля важ-ная, но-са-тая,</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Це-лый день сто-ит как ста-туя.</p>
        </div>

        <div>
            <img src="../../../assets/img/c.gif" class="riddle" alt="Ц" (click)="viewDiv28(); addEvent12();">
            <img src="../../../assets/img/o.gif" class="riddle" alt="О" (click)="clickWrong()">
            <img src="../../../assets/img/Zs.gif" class="riddle" alt="З" (click)="clickWrong()">
            <img src="../../../assets/img/Ns.gif" class="riddle" alt="Н" (click)="clickWrong()">
        </div>
    </div>

    <div id="div28">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/heron.png" alt="ЦАПЛЯ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/c.gif" alt="c" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv29()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div29">
        <div>
            <p style="color:red;">Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-left:5px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ШКАФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ШКАФЧИК</span>
                <input style="width:241px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СТУЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СТУЛЬЧИК</span>
                <input style="width:255px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗАМОК</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗАМОЧЕК</span>
                <input style="width:238px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЦВЕТОК</span>
                <input style="width:200px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЦВЕТОЧЕК</span>
                <input style="width:265px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯЧ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯЧИК</span>
                <input style="width:230px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВАЗА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВАЗОЧКА</span>
                <input style="width:227px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>

    <div id="div30">
        <div>
            <p>Замечательно!</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-left:10px; margin-right:10px;">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Rz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/iy.gif" alt="Ь">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/Hz.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/Hs.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
            <img class="letter1" src="../../../assets/img/Shy.gif" alt="Щ">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv31()">Домашнее задание</a>
        </div>
    </div>

    <div id="div31">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/bear.png" class="imgInDiv1" title="МЕДВЕДЬ" alt="МЕДВЕДЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/woodpecker.png" class="imgInDiv1" title="ДЯТЕЛ" alt="ДЯТЕЛ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/sparrow.png" class="imgInDiv1" title="ВОРОБЕЙ" alt="ВОРОБЕЙ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/hippopotamus.png" class="imgInDiv1" title="БЕГЕМОТ" alt="БЕГЕМОТ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/heron.png" class="imgInDiv1" title="ЦАПЛЯ" alt="ЦАПЛЯ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/ball.png" class="imgInDiv1" title="МЯЧИК" alt="МЯЧИК">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/chair.png" class="imgInDiv1" title="СТУЛЬЧИК" alt="СТУЛЬЧИК">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/flowerer.png" class="imgInDiv1" title="ЦВЕТОЧЕК" alt="ЦВЕТОЧЕК">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp4()">Проверить</a>
        </div>
    </div>
</div>