<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ю</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Д</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm1">
                <img src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/whale.png" alt="whale" class="imgInDiv">
                <img src="../../../assets/img/goat.png" alt="goat" class="imgInDiv">
                <img src="../../../assets/img/kangaroo.png" alt="kangaroo" class="imgInDiv">
                <img src="../../../assets/img/cow.png" class="imgInDiv" alt="cow">
                <img src="../../../assets/img/kiwi.png" alt="kiwi" class="imgInDiv">
                <img src="../../../assets/img/cactus.png" class="imgInDiv" alt="cactus">
                <img src="../../../assets/img/cap.png" alt="cap" class="imgInDiv">
                <img src="../../../assets/img/pencil.png" class="imgInDiv" alt="pencil">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Узнай на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm3">
                <img src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm4">
                <img src="../../../assets/img/mimosa.png" alt="mimosa" class="imgInDiv">
                <img src="../../../assets/img/matryoshka.png" alt="doll" class="imgInDiv">
                <img src="../../../assets/img/bear.png" alt="bear" class="imgInDiv">
                <img src="../../../assets/img/mouse.png" class="imgInDiv" alt="mouse">
                <img src="../../../assets/img/mill.png" alt="mill" class="imgInDiv">
                <img src="../../../assets/img/raspberry.png" class="imgInDiv" alt="raspberry">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/hammer.png" class="imgInDiv" alt="hammer">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Запиши буквы, которые любят петь.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/lamb.png" class="imgInDiv1" title="Я" alt="ягненок">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/stork.png" class="imgInDiv1" title="А" alt="аист">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/wasps.png" class="imgInDiv1" title="О" alt="осы">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/iron.jpg" class="imgInDiv1" title="У" alt="утюг">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/blackberry.png" class="imgInDiv1" title="Е" alt="ежевика">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/ruff.png" class="imgInDiv1" title="Ё" alt="ёрш">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/seaCadet.png" class="imgInDiv1" title="Ю" alt="юнга">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/turkey.png" class="imgInDiv1" title="И" alt="индюк">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Запиши буквы, которые не любят петь.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/giraffe.png" class="imgInDiv1" title="Ж" alt="жираф">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/piglet.png" class="imgInDiv1" title="П" alt="поросёнок">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/dragon.png" class="imgInDiv1" title="Д" alt="дракон">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/cactus.png" class="imgInDiv1" title="К" alt="кактус">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/raspberry.png" class="imgInDiv1" title="М" alt="малина">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/lemon.png" class="imgInDiv1" title="Л" alt="лимон">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Найди букву</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/yu.gif" alt="ю">
            <img class="print" src="../../../assets/img/yula.png" alt="юла">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect" (click)="viewDiv8()">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Прочитай слово!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="print" src="../../../assets/img/yula.png" alt="юла">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:200px;" class="yellow noselect">ЮЛО</button>
            <button style="width:200px;" class="yellow noselect">УЛЮ</button>
            <button style="width:200px;" class="yellow noselect">УЛА</button>
            <button style="width:200px;" class="yellow noselect" (click)="viewDiv9(); addEvent3();">ЮЛА</button>
            <button style="width:200px;" class="yellow noselect">ЮПА</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px; justify-content:center;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <div>
            <img class="print" src="../../../assets/img/pit.png" alt="яма">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect" (click)="viewDiv11()">Я</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/pit.png" alt="яма">
            <img class="letter" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <button class="yellow noselect">АМЯ</button>
            <button class="yellow noselect">АМА</button>
            <button class="yellow noselect">МАЯ</button>
            <button class="yellow noselect" (click)="viewDiv12(); addEvent4();">ЯМА</button>
            <button class="yellow noselect">УМА</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="я">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px; justify-content:center;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <img class="print" src="../../../assets/img/grassSnake.png" alt="уж">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv14()">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/grassSnake.png" alt="уж">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
            <img class="letter" src="../../../assets/img/J.gif" alt="Ж">
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv15()">УЖ</button>
            <button class="yellow noselect">ЖУ</button>
            <button class="yellow noselect">ЁЖ</button>
            <button class="yellow noselect">ЕЖ</button>
            <button class="yellow noselect">ЖЕ</button>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/u.gif" alt="У">
            <img src="../../../assets/img/J.gif" alt="Ж">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change">
            <img src="../../../assets/img/J.gif" class="letter1" alt="ж">
            <img src="../../../assets/img/u.gif" class="letter1" alt="У">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div16">
        <div>
            <img class="print" src="../../../assets/img/clod.jpg" alt="ком">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv17()">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/clod.jpg" alt="ком">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ms.gif" alt="М">
        </div>

        <div>
            <button class="yellow noselect">ОКМ</button>
            <button class="yellow noselect">КЁМ</button>
            <button class="yellow noselect" (click)="viewDiv18(); addEvent5();">КОМ</button>
            <button class="yellow noselect">КМО</button>
            <button class="yellow noselect">МОК</button>
        </div>
    </div>

    <div id="div18">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px; justify-content:center;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <img class="print" src="../../../assets/img/paw.png" alt="лапа">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv20()">Л</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>
    
        <div>
            <img class="print" src="../../../assets/img/paw.png" alt="лапа">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:300px;" class="yellow noselect">ПУЛА</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv21(); addEvent6();">ЛАПА</button>
            <button style="width:300px;" class="yellow noselect">ПАЛУ</button>
            <button style="width:300px;" class="yellow noselect">ЛУПА</button>
            <button style="width:300px;" class="yellow noselect">ПАЛА</button>
        </div>
    </div>

    <div id="div21">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a2" class="imgInDiv">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22(); addEvent7();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и найди слова.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">КОМ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">ЛАПА</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">УЖ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">ЯМА</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv" style="height:220px;">
                    <div class="textInDiv">ЮЛА</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/yula.png" alt="whirligig" class="imgInDiv">
                <img src="../../../assets/img/grassSnake.png" alt="snake" class="imgInDiv">
                <img src="../../../assets/img/pit.png" alt="pit" class="imgInDiv">
                <img src="../../../assets/img/clod.jpg" alt="clod" class="imgInDiv">
                <img src="../../../assets/img/paw.png" alt="pow" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv23()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/a.gif" alt="A">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv24()">Домашнее задание</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ЯМА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УЖ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЮЛА</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp4()">Проверить</a>
        </div>
    </div>
</div>