<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/3.gif" alt="3">
            <img class="number1" src="../../../assets/img/0.gif" alt="0">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-left:5px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ц</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ч</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Н</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ДТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖШ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГК</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БП</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УЮ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">АЯ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОЁ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Р</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm1">
                <img src="../../../assets/img/c.gif" alt="c" class="imgInDiv">
                <img src="../../../assets/img/Tz.png" alt="t" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm2">
                <img src="../../../assets/img/tulip.png" alt="tulip" class="imgInDiv">
                <img src="../../../assets/img/heron.png" alt="heron" class="imgInDiv">
                <img src="../../../assets/img/phone.png" alt="phone" class="imgInDiv">
                <img src="../../../assets/img/pintado.png" class="imgInDiv" alt="pintado">
                <img src="../../../assets/img/television.png" alt="TV" class="imgInDiv">
                <img src="../../../assets/img/circus.png" class="imgInDiv" alt="circus">
                <img src="../../../assets/img/blackGrose.png" alt="blackGrose" class="imgInDiv">
                <img src="../../../assets/img/circusPerformer.png" class="imgInDiv" alt="circusPerformer">
                <img src="../../../assets/img/tiger.png" class="imgInDiv" alt="tiger">
                <img src="../../../assets/img/cicada.png" class="imgInDiv" alt="cicada">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Новая буква!</p>
        </div>

        <div>
            <img style="margin-right:50px;" class="letter" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/fS.gif" alt="Ф">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect" (click)="viewDiv5(); addEvent2();">Ф</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm3">
                <img src="../../../assets/img/fS.gif" alt="fs" class="imgInDiv">
                <img src="../../../assets/img/fZ.gif" alt="fz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm4">
                <img src="../../../assets/img/violets.png" alt="violets" class="imgInDiv">
                <img src="../../../assets/img/hazelnuts.png" alt="hazelnuts" class="imgInDiv">
                <img src="../../../assets/img/fairy.png" alt="fairy" class="imgInDiv">
                <img src="../../../assets/img/magician.png" class="imgInDiv" alt="magician">
                <img src="../../../assets/img/ficus.png" alt="ficus" class="imgInDiv">
                <img src="../../../assets/img/fountain.png" class="imgInDiv" alt="fountain">
                <img src="../../../assets/img/dates.png" alt="dates" class="imgInDiv">
                <img src="../../../assets/img/flamingo.png" class="imgInDiv" alt="flamingo">
                <img src="../../../assets/img/owl.png" class="imgInDiv" alt="owl">
                <img src="../../../assets/img/camera.png" class="imgInDiv" alt="camera">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6()">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/fairy.png" alt="фея">
        </div>

        <div>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv7()">Ф</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <img class="print" src="../../../assets/img/fairy.png" alt="ФЕЯ">
            <img class="letter" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/ya.gif" alt="Я">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:280px;" class="yellow noselect">ФЭА</button>
            <button style="width:280px;" class="yellow noselect">ФЭЯ</button>
            <button style="width:280px;" class="yellow noselect" (click)="viewDiv8(); addEvent3();">ФЕЯ</button>
            <button style="width:280px;" class="yellow noselect">ФЕА</button>
        </div>
    </div>

    <div id="div8">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/fairy.png" alt="ФЕЯ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/fZ.gif" alt="f" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv9()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/owl.png" alt="ФИЛИН">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv10()">Ф</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">В</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">Д</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/owl.png" alt="филин">
            <img class="letter" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="Л">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="Н">
        </div>

        <div>
            <button style="width:290px;" class="yellow noselect">ФИПИН</button>
            <button style="width:290px;" class="yellow noselect" (click)="viewDiv11(); addEvent4();">ФИЛИН</button>
            <button style="width:290px;" class="yellow noselect">ФИЛЕН</button>
            <button style="width:290px;" class="yellow noselect">СИЛЕН</button>
        </div>
    </div>

    <div id="div11">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/owl.png" alt="ФИЛИН">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/fZ.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i2" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv12()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/dates.png" alt="ФИНИКИ">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv13()">Ф</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">В</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/dates.png" alt="ФИНИКИ">
            <img class="letter" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
        </div>

        <div>
            <button style="width:310px;" class="yellow noselect">ФИНИКА</button>
            <button style="width:310px;" class="yellow noselect" (click)="viewDiv14(); addEvent5();">ФИНИКИ</button>
            <button style="width:310px;" class="yellow noselect">ФЕНИКИ</button>
            <button style="width:310px;" class="yellow noselect">ФИНЕКИ</button>
        </div>
    </div>

    <div id="div14">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/dates.png" alt="ФИНИКИ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Nz.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/Kz.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i2" class="imgInDiv">
                <img src="../../../assets/img/fZ.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv15()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/footballer.png" alt="ФУТБОЛИСТ">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv16()">Ф</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/footballer.png" alt="ФУТБОЛИСТ">
            <img class="letter" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
            <img class="letter" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="Л">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/Ts.png" alt="Т">
        </div>

        <div>
            <button style="width:430px;" class="yellow noselect" (click)="viewDiv17(); addEvent6();">ФУТБОЛИСТ</button>
            <button style="width:430px;" class="yellow noselect">ФУТБАЛИСТ</button>
            <button style="width:430px;" class="yellow noselect">ФЮТБОЛИСТ</button>
        </div>
    </div>

    <div id="div17">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/footballer.png" alt="ФУТБОЛИСТ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">9</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/fS.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="t2" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv18()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/flamingo.png" alt="ФЛАМИНГО">
        </div>

        <div>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect" (click)="viewDiv19()">Ф</button>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/flamingo.png" alt="ФЛАМИНГО">
            <img class="letter" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
        </div>

        <div>
            <button style="width:390px;" class="yellow noselect">ФЛАМИНКО</button>
            <button style="width:390px;" class="yellow noselect" (click)="viewDiv20(); addEvent7();">ФЛАМИНГО</button>
            <button style="width:390px;" class="yellow noselect">ФЛАМЕНГО</button>
        </div>
    </div>

    <div id="div20">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/flamingo.png" alt="ФЛАМИНГО">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/fS.gif" alt="f" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Прочитай и запиши слоги.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-left:5px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ФЕ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ФА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ФУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ФИ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ФО</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЮФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЭФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЕФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">АФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЯФ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Замечательно!</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-left:10px; margin-right:10px;">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv23()">Домашнее задание</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/footballer.png" class="imgInDiv1" title="ФУТБОЛИСТ" alt="футболист">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/dates.png" class="imgInDiv1" title="ФИНИКИ" alt="финики">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/fairy.png" class="imgInDiv1" title="ФЕЯ" alt="фея">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/owl.png" class="imgInDiv1" title="ФИЛИН" alt="филин">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/flamingo.png" class="imgInDiv1" title="ФЛАМИНГО" alt="фламинго">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/crow.png" class="imgInDiv1" title="ВОРОНА" alt="ворона">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/wolf.png" class="imgInDiv1" title="ВОЛК" alt="волк">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/banana.png" class="imgInDiv1" title="БАНАН" alt="банан">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>