<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
            <img class="number1" src="../../../assets/img/5.gif" alt="5">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГК</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УЮ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОЁ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">АЯ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Р</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БП</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ДТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Н</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗС</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm1">
                <img src="../../../assets/img/Rs.gif" alt="rs" class="imgInDiv">
                <img src="../../../assets/img/Rz.gif" alt="rz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm2">
                <img src="../../../assets/img/radish.png" alt="radish" class="imgInDiv">
                <img src="../../../assets/img/crayfish.png" alt="crayfish" class="imgInDiv">
                <img src="../../../assets/img/belt.png" alt="belt" class="imgInDiv">
                <img src="../../../assets/img/robot.png" class="imgInDiv" alt="robot">
                <img src="../../../assets/img/river.png" alt="river" class="imgInDiv">
                <img src="../../../assets/img/rose.png" class="imgInDiv" alt="rose">
                <img src="../../../assets/img/backpack.png" alt="backpack" class="imgInDiv">
                <img src="../../../assets/img/mermaid.png" class="imgInDiv" alt="mermaid">
                <img src="../../../assets/img/turnip.png" class="imgInDiv" alt="turnip">
                <img src="../../../assets/img/chamomile.png" class="imgInDiv" alt="chamomile">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm3">
                <img src="../../../assets/img/Dz.gif" alt="dz" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="ds" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="ts" class="imgInDiv">
                <img src="../../../assets/img/Tz.png" alt="tz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around; flex-wrap:wrap;" id="divIm4">
                <img src="../../../assets/img/blackGrose.png" alt="blackGrose" class="imgInDiv">
                <img src="../../../assets/img/tank.png"alt="tank" class="imgInDiv">
                <img src="../../../assets/img/woodpecker.png" alt="woodpecker" class="imgInDiv">
                <img src="../../../assets/img/blackbird.png" class="imgInDiv" alt="blackbird">
                <img src="../../../assets/img/tiger.png" alt="tiger" class="imgInDiv">
                <img src="../../../assets/img/cake.png" class="imgInDiv" alt="cake">
                <img src="../../../assets/img/dolphin.png" alt="dolphin" class="imgInDiv">
                <img src="../../../assets/img/dragon.png" class="imgInDiv" alt="dragon">
                <img src="../../../assets/img/phone.png" class="imgInDiv" alt="phone">
                <img src="../../../assets/img/pumpkin.png" class="imgInDiv" alt="pumpkin">
                <img src="../../../assets/img/sofa.png" class="imgInDiv" alt="sofa">
                <img src="../../../assets/img/melon.png" class="imgInDiv" alt="melon">
                <img src="../../../assets/img/tulip.png" class="imgInDiv" alt="tulip">
                <img src="../../../assets/img/taxi.png" class="imgInDiv" alt="taxi">
                <img src="../../../assets/img/tree.png" class="imgInDiv" alt="tree">
                <img src="../../../assets/img/house.png" class="imgInDiv" alt="house">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Новая буква!</p>
        </div>

        <div>
            <img style="margin-right:50px;" class="letter" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter" src="../../../assets/img/Vs.gif" alt="В">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect" (click)="viewDiv6(); addEvent3();">В</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm5">
                <img src="../../../assets/img/Vs.gif" alt="vs" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="vz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm6">
                <img src="../../../assets/img/bickle.png" alt="cycle" class="imgInDiv">
                <img src="../../../assets/img/Vase.png" alt="vase" class="imgInDiv">
                <img src="../../../assets/img/grape.png" alt="grapes" class="imgInDiv">
                <img src="../../../assets/img/raven.png" class="imgInDiv" alt="raven">
                <img src="../../../assets/img/camel.png" alt="camel" class="imgInDiv">
                <img src="../../../assets/img/wolf.png" class="imgInDiv" alt="wolf">
                <img src="../../../assets/img/cherry.png" alt="cherry" class="imgInDiv">
                <img src="../../../assets/img/sparrow.png" class="imgInDiv" alt="sparrow">
                <img src="../../../assets/img/busket.png" class="imgInDiv" alt="bucket">
                <img src="../../../assets/img/crow.png" class="imgInDiv" alt="crow">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/Vase.png" alt="ваза">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect" (click)="viewDiv8()">В</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <img class="print" src="../../../assets/img/Vase.png" alt="ваза">
            <img class="letter" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:280px;" class="yellow noselect">ВАЗО</button>
            <button style="width:280px;" class="yellow noselect">ВАЗЯ</button>
            <button style="width:280px;" class="yellow noselect">ВЯЗА</button>
            <button style="width:280px;" class="yellow noselect" (click)="viewDiv9(); addEvent4();">ВАЗА</button>
            <button style="width:280px;" class="yellow noselect">БАЗА</button>
        </div>
    </div>

    <div id="div9">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/Vase.png" alt="ВАЗА">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a2" class="imgInDiv">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/wolf.png" alt="ВОЛК">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect" (click)="viewDiv11()">В</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Д</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <img class="print" src="../../../assets/img/wolf.png" alt="волк">
            <img class="letter" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:280px;" class="yellow noselect">ВОЛА</button>
            <button style="width:280px;" class="yellow noselect">ВАЛК</button>
            <button style="width:280px;" class="yellow noselect" (click)="viewDiv12(); addEvent5();">ВОЛК</button>
            <button style="width:280px;" class="yellow noselect">ВЁЛК</button>
            <button style="width:280px;" class="yellow noselect">ВОКЛ</button>
        </div>
    </div>

    <div id="div12">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/wolf.png" alt="ВОЛК">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/raven.png" alt="ворон">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect" (click)="viewDiv14()">В</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/raven.png" alt="ВОРОН">
            <img class="letter" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="Н">
        </div>

        <div>
            <button style="width:290px;" class="yellow noselect">ВЁРОН</button>
            <button style="width:290px;" class="yellow noselect" (click)="viewDiv15(); addEvent6();">ВОРОН</button>
            <button style="width:290px;" class="yellow noselect">ВАРОН</button>
            <button style="width:290px;" class="yellow noselect">ВЯРОН</button>
        </div>
    </div>

    <div id="div15">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/raven.png" alt="ВОРОН">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/crow.png" alt="ворона">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect" (click)="viewDiv17()">В</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/crow.png" alt="ворона">
            <img class="letter" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <button style="width:310px;" class="yellow noselect">ВАРОНА</button>
            <button style="width:310px;" class="yellow noselect" (click)="viewDiv18(); addEvent7();">ВОРОНА</button>
            <button style="width:310px;" class="yellow noselect">ВОРАНА</button>
            <button style="width:310px;" class="yellow noselect">ВЁРОНА</button>
        </div>
    </div>

    <div id="div18">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/magpie.png" alt="СОРОКА">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/busket.png" alt="ВЕДРО">
        </div>

        <div>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect" (click)="viewDiv20()">В</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/busket.png" alt="ВЕДРО">
            <img class="letter" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
        </div>

        <div>
            <button style="width:290px;" class="yellow noselect">ВЁДРО</button>
            <button style="width:290px;" class="yellow noselect" (click)="viewDiv21(); addEvent8();">ВЕДРО</button>
            <button style="width:290px;" class="yellow noselect">ВИДРО</button>
            <button style="width:290px;" class="yellow noselect">ВЕЛРО</button>
        </div>
    </div>

    <div id="div21">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/busket.png" alt="ВЕДРО">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <img class="print" src="../../../assets/img/camel.png" alt="ВЕРБЛЮД">
            <img class="letter" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="Л">
            <img class="letter" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:350px;" class="yellow noselect">ВЁРБЛЮД</button>
            <button style="width:350px;" class="yellow noselect" (click)="viewDiv23(); addEvent9();">ВЕРБЛЮД</button>
            <button style="width:350px;" class="yellow noselect">ВЕРБЛУД</button>
        </div>
    </div>

    <div id="div23">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/camel.png" alt="ВЕРБЛЮД">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv24()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/grape.png" alt="виноград">
            <img class="letter" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
        </div>

        <div>
            <button style="width:350px;" class="yellow noselect">ВЕНОГРАД</button>
            <button style="width:350px;" class="yellow noselect" (click)="viewDiv25(); addEvent10();">ВИНОГРАД</button>
            <button style="width:350px;" class="yellow noselect">ВЕНОГРАД</button>
        </div>
    </div>

    <div id="div25">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/grape.png" alt="ВИНОГРАД">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv" >
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv26()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div26">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/bickle.png" alt="велосипед">
            <img class="letter" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
        </div>

        <div>
            <button style="width:410px;" class="yellow noselect">ВЕЛАСИПЕД</button>
            <button style="width:410px;" class="yellow noselect">ВЕЛОСИПЕТ</button>
            <button style="width:410px;" class="yellow noselect" (click)="viewDiv27(); addEvent11();">ВЕЛОСИПЕД</button>
        </div>
    </div>

    <div id="div27">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/bickle.png" alt="ВЕЛОСИПЕД">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">9</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Pz.gif" alt="p" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Sz.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Vz.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e2" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv28()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div28">
        <div>
            <p>Прочитай и запиши слоги.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ВАН</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛИВ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВИД</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ТОВ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВОЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВОР</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">РОБ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВАЗ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">РОВ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВЕС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВОТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ИВ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div29">
        <div>
            <p>Замечательно!</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-left:10px; margin-right:10px;">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1"src="../../../assets/img/Dz(з).gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv30()">Домашнее задание</a>
        </div>
    </div>

    <div id="div30">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/bickle.png" class="imgInDiv1" title="ВЕЛОСИПЕД" alt="велосипед">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/camel.png" class="imgInDiv1" title="ВЕРБЛЮД" alt="верблюд">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/raven.png" class="imgInDiv1" title="ВОРОН" alt="ворон">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/crow.png" class="imgInDiv1" title="ВОРОНА" alt="ворона">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/Vase.png" class="imgInDiv1" title="ВАЗА" alt="ваза">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/wolf.png" class="imgInDiv1" title="ВОЛК" alt="волк">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/busket.png" class="imgInDiv1" title="ВЕДРО" alt="ведро">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/grape.png" class="imgInDiv1" title="ВИНОГРАД" alt="виноград">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>