<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/4.gif" alt="4">
        </div>

        <div class="text">
            <p>Любое путешествие начинается с подготовки.</p>
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Составь равенства.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <div class="inDivConsVow" id="divSum40" (click)="clickDivSum40()">100 - 60</div>
            <div class="inDivConsVow" id="divSum60" (click)="clickDivSum60()">110 - 50</div>
            <div class="inDivConsVow" id="divSum70" (click)="clickDivSum70()">30 + 40</div>
            <div class="inDivConsVow" id="divSum20" (click)="clickDivSum20()">40 - 20</div>
            <div class="inDivConsVow" id="divSum70d" (click)="clickDivSum70d()">120 - 50</div>
            <div class="inDivConsVow" id="divSum30" (click)="clickDivSum30()">60 - 30</div>
            <div class="inDivConsVow" id="divSum60d" (click)="clickDivSum60d()">20 + 40</div>
            <div class="inDivConsVow" id="divSum80" (click)="clickDivSum80()">160 - 80</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div class="inDivConsVow" id="divSum45" (click)="clickDivSum45()">60 - 15</div>
            <div class="inDivConsVow" id="divSum45d" (click)="clickDivSum45d()">20 + 25</div>
            <div class="inDivConsVow" id="divSum40d" (click)="clickDivSum40d()">25 + 15</div>
            <div class="inDivConsVow" id="divSum20d" (click)="clickDivSum20d()">30 - 10</div>
            <div class="inDivConsVow" id="divSum50" (click)="clickDivSum50()">100 - 50</div>
            <div class="inDivConsVow" id="divSum30d" (click)="clickDivSum30d()">15 + 15</div>
            <div class="inDivConsVow" id="divSum50d" (click)="clickDivSum50d()">25 + 25</div>
            <div class="inDivConsVow" id="divSum80d" (click)="clickDivSum80d()">45 + 35</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>А теперь повторяем таблицу умножения на 5, 4, 2.</p>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">5 x 10 =
                <input type="text" class="inputInDiv2" id="input1">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">2 x 10 =
                <input type="text" class="inputInDiv2" id="input2">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">2 x 8 =
                <input type="text" class="inputInDiv2" id="input3">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">5 x 3 =
                <input type="text" class="inputInDiv2" id="input4">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">4 x 6 =
                <input type="text" class="inputInDiv2" id="input5">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">5 x 4 =
                <input type="text" class="inputInDiv2" id="input6">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">5 x 5 =
                <input type="text" class="inputInDiv2" id="input7">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">2 x 4 =
                <input type="text" class="inputInDiv2" id="input8">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">2 x 3 =
                <input type="text" class="inputInDiv2" id="input9">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">4 x 7 =
                <input type="text" class="inputInDiv2" id="input10">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">4 x 10 =
                <input type="text" class="inputInDiv2" id="input11">
            </span>
        </div>

        <div class="button">
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="margin: 0;">А теперь попробуй пересечь долину трёх задач.</p>
            <p style="color:green; margin: 0;">1 задача</p>
            <p style="margin: 0;">В корзине 5 зелёных и 7 красных яблок.</p>
            <p style="margin: 0;">А жёлтых яблок столько, сколько зелёных и красных яблок вместе.</p>
            <p style="margin-top: 0;">Сколько жёлтых яблок в корзине?</p>
        </div>

        <div style="position:relative; height:400px;">
            <img style="height:327px; position:absolute; left:0%; top:0%;" src="../../../assets/img/schemaApples.png" alt="схема">
            <img style="height:300px; position:absolute; left:30%; top:10%;" src="../../../assets/img/basket.png" alt="корзина">
            <img style="height:73px; position:absolute; left:35%; top:40%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:40%; top:40%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:28%; top:60%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:30%; top:65%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:35%; top:70%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:45%; top:70%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:40%; top:70%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:45%; top:40%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:50%; top:65%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:53%; top:60%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:390px; position:absolute; left:60%; top:5%;" src="../../../assets/img/schemaApple2.png" alt="схема">
            <button style="position:absolute; left:0%; top:55%;" class="blue noselect">13</button>
            <button style="position:absolute; left:5%; top:70%;" class="blue noselect" (click)="viewDiv7()">12</button>
            <button style="position:absolute; left:13%; top:80%;" class="blue noselect">14</button>
            <button style="position:absolute; left:21%; top:80%;" class="blue noselect">2</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">2 задача</p>
            <p style="margin: 0;">Девочка взяла из пакета 7 конфет, а мальчик - 8.</p>
            <p style="margin: 0;">После этого в пакете осталось 4 конфеты.</p>
            <p style="margin-top:0;">Сколько конфет было в пакете?</p>
        </div>

        <div style="display:flex; flex-direction:row;">
            <div style="display:flex; flex-direction:column; position:relative;">
                <p style="margin:0; color:green;">Схема 1</p>
                <img src="../../../assets/img/schema1Sweets.png" style="height:410px;" alt="схема">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(30deg); top:15%; right:0%;" alt="конфета">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(-15deg);bottom:0%; left:10%;" alt="конфета">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(30deg); right:0%; bottom:10%;" alt="конфета">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(-15deg); right:0%; bottom:20%;" alt="конфета">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(30deg); bottom:20%; left:0%;" alt="конфета">
            </div>

            <div style="display:flex; flex-direction:column; position:relative;">
                <p style="margin:0; color:green;">Схема 2</p>
                <img src="../../../assets/img/schema2Sweets.png" style="height:366px;" alt="схема">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(80deg); bottom:20%; right:0%;" alt="конфета">
                <img src="../../../assets/img/candy1.png" style="position:absolute; height:80px; transform:rotate(-30deg);bottom:0%; right:10%;" alt="конфета">
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">
            <button class="blue noselect" (click)="viewDiv6()">19</button>
            <button class="blue noselect">15</button>
            <button class="blue noselect">12</button>
            <button class="blue noselect">11</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">3 задача</p>
            <p style="margin: 0;">Девочка гостила у дедушки 3 недели и ещё 3 дня.</p>
            <p style="margin: 0;">Сколько дней девочка гостила у дедушки?</p>
        </div>

        <div style="position:relative; height:550px; width:1200px;">
            <img style="height:512px; position: absolute; left:0%; top:0%;" src="../../../assets/img/OlyaGrandma.png" alt="Дом">
            <img style="height:310px; position: absolute; left:30%; top:10%;" src="../../../assets/img/olyaSchema.png" alt="схема">
            <img style="height:288px; position: absolute; left:60%; top:10%;" src="../../../assets/img/olyaSchema2.png" alt="схема">
            <button style="position:absolute; right:30%; bottom:10%;" class="blue noselect">6</button>
            <button style="position:absolute; right:20%; bottom:15%;" class="blue noselect">17</button>
            <button style="position:absolute; right:10%; bottom:20%;" class="blue noselect">21</button>
            <button style="position:absolute; right:40%; bottom:10%;" class="blue noselect" (click)="viewDiv7()">24</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <p style="margin:0;">Молодец!</p>
            <p style="margin:0; color:red;">ВНИМАНИЕ</p>
            <p style="margin-top:0;">Сегодня изучаем таблицу умножения на 7.</p>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="35Inc" (click)="click35Inc()">35</div>
            <div style="width:130px;" class="inDivConsVow" id="14Inc" (click)="click14Inc()">14</div>
            <div style="width:130px;" class="inDivConsVow" id="7Inc" (click)="click7Inc()">7</div>
            <div style="width:130px;" class="inDivConsVow" id="21Inc" (click)="click21Inc()">21</div>
            <div style="width:130px;" class="inDivConsVow" id="70Inc" (click)="click70Inc()">70</div>
            <div style="width:130px;" class="inDivConsVow" id="63Inc" (click)="click63Inc()">63</div>
            <div style="width:130px;" class="inDivConsVow" id="28Inc" (click)="click28Inc()">28</div>
            <div style="width:130px;" class="inDivConsVow" id="56Inc" (click)="click56Inc()">56</div>
            <div style="width:130px;" class="inDivConsVow" id="49Inc" (click)="click49Inc()">49</div>
            <div style="width:130px;" class="inDivConsVow" id="42Inc" (click)="click42Inc()">42</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="divInc49" (click)="clickDivInc49()">7x7=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc28" (click)="clickDivInc28()">7x4=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc70" (click)="clickDivInc70()">7x10=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc21" (click)="clickDivInc21()">7x3=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc14" (click)="clickDivInc14()">7x2=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc7" (click)="clickDivInc7()">7x1=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc56" (click)="clickDivInc56()">7x8=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc63" (click)="clickDivInc63()">7x9=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc42" (click)="clickDivInc42()">7x6=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc35" (click)="clickDivInc35()">7x5=</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8()">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p style="margin:0;">Молодец!</p>
            <p style="margin:0; color:red;">Наше путешествие прошло успешно!</p>
            <p style="color:green;">Домашнее задание:</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">7 x 1 =</span>
                <input id="input12" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 2 =</span>
                <input id="input13" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 3 =</span>
                <input id="input14" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 4 =</span>
                <input id="input15" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 5 =</span>
                <input id="input16" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">7 x 6 =</span>
                <input id="input17" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 7 =</span>
                <input id="input18" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 8 =</span>
                <input id="input19" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 9 =</span>
                <input id="input20" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">7 x 10 =</span>
                <input id="input21" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput2()">Проверить</a>
        </div>
    </div>
</div>