<div class="total">
    <div>
        <img class="sun" src="../../../assets/img/sun.gif" alt="sun">
        <img class="cloudl" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudr" src="../../../assets/img/cloud.gif" alt="cloud">
        <img class="cloudsl" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="cloudsr" src="../../../assets/img/clouds.gif" alt="clouds">
        <img class="butterfliesl" src="../../../assets/img/butterflies.gif" alt="butterflies">
        <img class="butterfliesr" src="../../../assets/img/butterflies.gif" alt="butterflies">  
    </div>
</div>