<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>В стране Русского языка живут буквы и звуки.</p>
            <p>Знакомимся с жителями страны - весёлыми человечками-буковками.</p>
            <p>Веселые озорные человечки очень любят говорить, петь и шутить.</p>
            <p style="color:red">Внимание!</p>
            <p>Начинаем знакомство с весёлыми буковками-певуньями.</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <img class="print" src="../../../assets/img/watermelon.png" alt="арбуз">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect" (click)="viewDiv3()">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">З</button>
        </div>
    </div>

    <div id="div3">
        <div>
            <img class="cloudo" src="../../../assets/img/cloud.gif" alt="облако">
            <img class="letter" src="../../../assets/img/o.gif" alt="о">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv4()">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Б</button>
        </div>
    </div>

    <div id="div4">
        <div>
            <img class="print" src="../../../assets/img/apple.png" alt="яблоко">
            <img class="letter" src="../../../assets/img/ya.gif" alt="я">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect" (click)="viewDiv5()">Я</button>
            <button class="yellow noselect">В</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <img class="print" src="../../../assets/img/needle.png" alt="игла">
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect" (click)="viewDiv6()">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">П</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv7()">ИА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <img class="print" src="../../../assets/img/snall.png" alt="улитка">
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv8()">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="print" src="../../../assets/img/kid.png" alt="малыш">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv9()">УА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
            <img class="print" src="../../../assets/img/au.png" alt="ау">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">УА</button>
            <button class="yellow noselect" (click)="viewDiv10()">АУ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/i.gif" alt="и">
            <img src="../../../assets/img/a.gif" alt="а">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change">
            <img src="../../../assets/img/a.gif" alt="а">
            <img src="../../../assets/img/i.gif" alt="и">
        </div>

        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/u.gif" alt="у">
            <img src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage2()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change2">
            <img src="../../../assets/img/a.gif" alt="а">
            <img src="../../../assets/img/u.gif" alt="у">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage2()">Проверить</a>
        </div>

    </div>

    <div id="div12">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" alt="а">
            <img src="../../../assets/img/u.gif" alt="у">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage3()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change3">
            <img src="../../../assets/img/u.gif" alt="у">
            <img src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage3(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <p style="font-size:2em; color:red;">Найди, кто как говорит.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;" id="dviCh">
                <div class="inDiv">
                    <div class="textInDiv">АУ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">УИ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ИА</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">УА</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:flex;">
                <img src="../../../assets/img/kid.png" class="imgInDiv" alt="baby">
                <img src="../../../assets/img/donkey.png"class="imgInDiv" alt="donkey">
                <img src="../../../assets/img/au.png" class="imgInDiv" alt="cry">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv14()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">АУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ИА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УА</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size:2em; color:red;">Посмотри и запиши.</p>
            <p>Вспомни, на какую букву начинаются слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <img src="../../../assets/img/needle.png" alt="игла" title="И" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/watermelon.png" alt="арбуз" title="А" class="imgInDiv1">
                <input type = "text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/snall.png" alt="улитка" title="У" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/donkey.png" alt="осел" title="ИА" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/au.png" alt="ау" title="АУ" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/kid.png" alt="малыш" title="УА" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/cloud.gif" alt="облако" title="О" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/apple.png" alt="яблоко" title="Я" class="imgInDiv1">
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div16">
        <div>
            <p class="big">Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" alt="A">
            <img src="../../../assets/img/i.gif" alt="И">
            <img src="../../../assets/img/o.gif" alt="О">
            <img src="../../../assets/img/u.gif" alt="У">
            <img src="../../../assets/img/ya.gif" alt="Я">
        </div>

        <div>
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>
</div>