<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/2M.png" alt="2">
        </div>

        <div class="text">
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Тренируемся быстро считать.</p>
            <p style="color:red">Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Посчитай сколько предметов.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="1count" (click)="click1Count()">1</div>
            <div class="inDivConsVow" id="2count" (click)="click2Count()">2</div>
            <div class="inDivConsVow" id="3count" (click)="click3Count()">3</div>
            <div class="inDivConsVow" id="4count" (click)="click4Count()">4</div>
            <div class="inDivConsVow" id="5count" (click)="click5Count()">5</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/4самолёта.png" id="img4Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/5самолётов.png" id="img5Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/3самолёта.png" id="img3Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/2самолёта.png" id="img2Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/1самолёт.png" id="img1Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg1Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Посчитай сколько предметов.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="6count" (click)="click6Count()">6</div>
            <div class="inDivConsVow" id="7count" (click)="click7Count()">7</div>
            <div class="inDivConsVow" id="8count" (click)="click8Count()">8</div>
            <div class="inDivConsVow" id="9count" (click)="click9Count()">9</div>
            <div class="inDivConsVow" id="10count" (click)="click10Count()">10</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/8plan.png" id="img8Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/6plan.png" id="img6Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/7plan.png" id="img7Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/10plan.png" id="img10Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/9plan.png" id="img9Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg4Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Посчитай сколько предметов.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="11count" (click)="click11Count()">11</div>
            <div class="inDivConsVow" id="12count" (click)="click12Count()">12</div>
            <div class="inDivConsVow" id="13count" (click)="click13Count()">13</div>
            <div class="inDivConsVow" id="14count" (click)="click14Count()">14</div>
            <div class="inDivConsVow" id="15count" (click)="click15Count()">15</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/14plan.png" id="img14Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/11plan.png" id="img11Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/15plan.png" id="img15Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/12plan.png" id="img12Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/13plan.png" id="img13Aircraft" alt="самолёт" class="imgSyllable" (click)="clickImg3Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div style="line-height: 0,2;">
            <p style="color: red;">Запомни!</p>
            <p style="margin:0;">Чтобы быстро считать,</p>
            <p style="margin:0;">Нужно уметь складывать до 10.</p>
            <p style="color:red;">Посчитай и соедини с ответом:</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="4countSum" (click)="click4CountSum()">4</div>
            <div class="inDivConsVow" id="6countSum" (click)="click6CountSum()">6</div>
            <div class="inDivConsVow" id="3countSum" (click)="click3CountSum()">3</div>
            <div class="inDivConsVow" id="2countSum" (click)="click2CountSum()">2</div>
            <div class="inDivConsVow" id="5countSum" (click)="click5CountSum()">5</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/3+3plan.png" class="countRockets" id="img6CountAircraft" alt="самолёт" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/2+3plan.png" class="countRockets" id="img5CountAircraft" alt="самолёт" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/2+0plan.png" class="countRockets" id="img2CountAircraft" alt="самолёт" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/2+1plan.png" class="countRockets" id="img3CountAircraft" alt="самолёт" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/2+2plan.png" class="countRockets" id="img4CountAircraft" alt="самолёт" (click)="clickImg3Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6()">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Посчитай и соедини с ответом.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="7countSum" (click)="click7CountSum()">7</div>
            <div class="inDivConsVow" id="9countSum" (click)="click9CountSum()">9</div>
            <div class="inDivConsVow" id="8countSum" (click)="click8CountSum()">8</div>
            <div class="inDivConsVow" id="10countSum" (click)="click10CountSum()">10</div>
            <div class="inDivConsVow" id="11countSum" (click)="click11CountSum()">11</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/4+4plan.png" class="countRockets" id="img8CountAircraft" alt="самолёт" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/4+3plan.png" class="countRockets" id="img7CountAircraft" alt="самолёт" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/4+5plan.png" class="countRockets" id="img9CountAircraft" alt="самолёт" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/4+7plan.png" class="countRockets" id="img11CountAircraft" alt="самолёт" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/4+6plan.png" class="countRockets" id="img10CountAircraft" alt="самолёт" (click)="clickImg4Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Посчитай и соедини с ответом.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="12countSum" (click)="click12CountSum()">12</div>
            <div class="inDivConsVow" id="13countSum" (click)="click13CountSum()">13</div>
            <div class="inDivConsVow" id="14countSum" (click)="click14CountSum()">14</div>
            <div class="inDivConsVow" id="15countSum" (click)="click15CountSum()">15</div>
            <div class="inDivConsVow" id="16countSum" (click)="click16CountSum()">16</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/6+7plan.png" class="countRockets" id="img13CountAircraft" alt="самолёт" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/8+8plan.png" class="countRockets" id="img16CountAircraft" alt="самолёт" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/7+7plan.png" class="countRockets" id="img14CountAircraft" alt="самолёт" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/7+8plan.png" class="countRockets" id="img15CountAircraft" alt="самолёт" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/5+7plan.png" class="countRockets" id="img12CountAircraft" alt="самолёт" (click)="clickImg1Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8()">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div style="line-height: 0,2;">
            <p style="color: red;">Запомни!</p>
            <p style="margin:0;">Чтобы быстро считать,</p>
            <p style="margin:0;">Нужно уметь вычитать.</p>
            <p style="color:red;">Посчитай и соедини с ответом:</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="6Diff" (click)="click6Diff()">6</div>
            <div class="inDivConsVow" id="2Diff" (click)="click2Diff()">2</div>
            <div class="inDivConsVow" id="3Diff" (click)="click3Diff()">3</div>
            <div class="inDivConsVow" id="4Diff" (click)="click4Diff()">4</div>
            <div class="inDivConsVow" id="5Diff" (click)="click5Diff()">5</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/4-2plan.png" class="countRockets" id="img2DiffAircraft" alt="самолёт" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/5-2plan.png" class="countRockets" id="img3DiffAircraft" alt="самолёт" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/7-2plan.png" class="countRockets" id="img5DiffAircraft" alt="самолёт" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/6-2plan.png" class="countRockets" id="img4DiffAircraft" alt="самолёт" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/8-2plan.png" class="countRockets" id="img6DiffAircraft" alt="самолёт" (click)="clickImg5Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv9()">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p style="color:red;">Вспомни!</p>
            <p>Назови фигуры по форме и цвету.</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/hareGo.gif" alt="заяц">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/bluebrightCircle.png" class="figure" alt="круг">
                    <img src="../../../assets/img/yellowRectangle.png" class="figure" alt="прямоугольник">
                    <img src="../../../assets/img/orangesquare.png" class="figure" alt="квадрат">
                    <img src="../../../assets/img/redTriangle.png" class="figure" alt="треугольник">
                </div>

                <div>
                    <img src="../../../assets/img/greenpentagon.png" class="figure" alt="пятиугольник">
                    <img src="../../../assets/img/blueOval.png" class="figure" alt="овал">
                    <img src="../../../assets/img/yellowPentagon.png" class="figure" alt="пятиугольник">
                </div>
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Посчитай большие фигуры.</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/DonaldDuck.gif" alt="утка">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/orangesquare.png" class="bigFigure" alt="квадрат">
                    <img src="../../../assets/img/greenSquare.png" class="figure" alt="квадрат">
                    <img src="../../../assets/img/redRectangle.png" class="bigFigure" alt="прямоугольник">
                    <img src="../../../assets/img/yellowOval.png" class="bigFigure" alt="овал">
                    <img src="../../../assets/img/redPentagon.png" class="bigFigure" alt="пятиугольник">
                </div>

                <div>
                    <img src="../../../assets/img/BluebrightRectangle.png" class="figure" alt="прямоугольник">
                    <img src="../../../assets/img/greenpentagon.png" class="bigFigure" alt="пятиугольник">
                    <img src="../../../assets/img/bluebrightSqare.png" class="figure" alt="квадрат">
                    <img src="../../../assets/img/greenCircle.png" class="bigFigure" alt="круг">
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect">1</button>
            <button class="blue noselect">2</button>
            <button class="blue noselect">3</button>
            <button class="blue noselect">4</button>
            <button class="blue noselect">5</button>
            <button class="blue noselect" (click)="viewDiv11()">6</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Посчитай маленькие фигуры.</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/danceMikki.gif" alt="микки">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/greenCircle.png" class="figure" alt="круг">
                    <img src="../../../assets/img/orangesquare.png" class="bigFigure" alt="квадрат">
                    <img src="../../../assets/img/blueRectangle.png" class="bigFigure" alt="прямоугольник">
                    <img src="../../../assets/img/greenTriangle.png" class="figure" alt="треугольник">
                    <img src="../../../assets/img/redTriangle.png" class="bigFigure" alt="треугольник">
                </div>

                <div>
                    <img src="../../../assets/img/blueOval.png" class="figure" alt="овал">
                    <img src="../../../assets/img/greenpentagon.png" class="figure" alt="пятиугольник">
                    <img src="../../../assets/img/bluebrightPentagon.png" class="bigFigure" alt="пятиугольник">
                    <img src="../../../assets/img/redOval.png" class="bigFigure" alt="овал">
                    <img src="../../../assets/img/yellowPentagon.png" class="figure" alt="пятиугольник">
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect">1</button>
            <button class="blue noselect">2</button>
            <button class="blue noselect">3</button>
            <button class="blue noselect">4</button>
            <button class="blue noselect" (click)="viewDiv12()">5</button>
            <button class="blue noselect">6</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <p style="color:green;">Задача</p>
            <p style="margin:0;">На стоянке стояло 3 машины.</p>
            <p style="margin:0;">Потом приехало ещё 4 машины.</p>
            <p style="margin:0;">Сколько теперь машин на стоянке?</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/hareWatch.gif" alt="заяц">
            </div>

            <div style="display: flex; flex-direction:row; position:relative;">
                <div style="display: flex; flex-direction:column; margin-right: 20px;">
                    <div>
                        <img src="../../../assets/img/car1.png" class="forRiddle" alt="машина">
                        <img src="../../../assets/img/car2.png" class="forRiddle" alt="машина">
                    </div>

                    <div>
                        <img src="../../../assets/img/car4.png" class="forRiddle" alt="машина">
                    </div>
                </div>

                <div style="display: flex; flex-direction:column;">
                    <div>
                        <img src="../../../assets/img/car2.png" class="forRiddle" alt="машина">
                        <img src="../../../assets/img/car4.png" class="forRiddle" alt="машина">
                    </div>

                    <div>
                        <img src="../../../assets/img/car5.png" class="forRiddle" alt="машина">
                        <img src="../../../assets/img/car3.png" class="forRiddle" alt="машина">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect">3</button>
            <button class="blue noselect">4</button>
            <button class="blue noselect">5</button>
            <button class="blue noselect">6</button>
            <button class="blue noselect" (click)="viewDiv13()">7</button>
            <button class="blue noselect">8</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Молодец!</p>
            <p style="color: red;">Наше путешествие прошло успешно!</p>
            <p style="color: green; cursor: pointer; text-decoration: underline green;" (click)="viewDiv14()">Домашнее задание.</p>
        </div>

        <div>
            <img src="../../../assets/img/pyatochok.gif" class="gif" alt="Пятачок">
            <img src="../../../assets/img/hareGo.gif" class="gif" alt="Заяц">
            <img src="../../../assets/img/rabbit.png" class="gif" alt="Заяц">
        </div>

        <div>
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Задание № 1.</p>
            <p>Расположи числа по порядку.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="divForNumber" id="divFor6" (click)="clickDivFor6()"></div>

                <div class="divForNumber" id="divFor7" (click)="clickDivFor7()"></div>

                <div class="divForNumber" id="divFor8" (click)="clickDivFor8()"></div>

                <div class="divForNumber" id="divFor9" (click)="clickDivFor9()"></div>

                <div class="divForNumber" id="divFor10" (click)="clickDivFor10()"></div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/6.gif" id="img6" alt="6" class="number" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/8.gif" id="img8" alt="8" class="number" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/9.gif" id="img9" alt="9" class="number" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/10.gif" style="width: 148px;" id="img10" alt="10" class="number" (click)="clickImg5Aircraft()">
                <img src="../../../assets/img/7.gif" id="img7" alt="7" class="number" (click)="clickImg2Aircraft()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv15()">Жми!</a>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Задание № 2.</p>
            <p>Расположи числа по порядку.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="divForNumber" id="divFor1" (click)="clickDivFor1()"></div>

                <div class="divForNumber" id="divFor2" (click)="clickDivFor2()"></div>

                <div class="divForNumber" id="divFor3" (click)="clickDivFor3()"></div>

                <div class="divForNumber" id="divFor4" (click)="clickDivFor4()"></div>

                <div class="divForNumber" id="divFor5" (click)="clickDivFor5()"></div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/4.gif" id="img4" alt="4" class="number" (click)="clickImg4Aircraft()">
                <img src="../../../assets/img/2.gif" id="img2" alt="2" class="number" (click)="clickImg2Aircraft()">
                <img src="../../../assets/img/1.gif" id="img1" alt="1" class="number" (click)="clickImg1Aircraft()">
                <img src="../../../assets/img/3.gif" style="width: 148px;" id="img3" alt="3" class="number" (click)="clickImg3Aircraft()">
                <img src="../../../assets/img/5.gif" id="img5" alt="5" class="number" (click)="clickImg5Aircraft()">
            </div>
        </div>
    </div>
</div>