<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/4.gif" alt="4">
            <img class="number1" src="../../../assets/img/0.gif" alt="0">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Собери гласные по парочкам.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:20px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="yi" class="imgInDivMargin">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivMargin">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv3()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div3">
        <p>Изучаем алфавит.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/6wrSI8YW4dw" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <p>Запомни название букв.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/V4rG2lejrR0" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv5(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Подбери правильное название букв.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">ГЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">БЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ВЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЙО</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ДЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">А</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЙЭ</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv6()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div6">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/MA8jj6sIcCk" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv7(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv8()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div8">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/s_GE4ZYPkcA" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv9(); addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Подбери правильное название букв.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">ЖЭ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv" style="width:180px;">
                    <div class="textInDiv">И КРАТКОЕ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">И</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЗЭ</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Zs.gif" alt="imgZ2" class="imgInDiv">
                <img src="../../../assets/img/J.gif" alt="imgJ2" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="imgY" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="imgI2" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/yJgriHc-oVY" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv11(); addEvent5();">Жми!</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDiv">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/YO.gif"  alt="yo" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv12()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div12">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/1RuwA_1qunk" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv13(); addEvent6();">Жми!</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">9</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">10</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">11</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDiv">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv14()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div14">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/1RuwA_1qunk" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv15(); addEvent7();">Жми!</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16(); addEvent8();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Подбери правильное название букв.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">КА</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЭЛЬ</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">ЭМ</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv17()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div17">
        <p>Послушай внимательно.</p>

        <iframe width="1000" height="600" src="https://www.youtube.com/embed/89cNjK1OYYI" frameborder="0" allowfullscreen></iframe>

        <div class="button">
            <a class="stitched" (click)="viewDiv18(); addEvent9();">Жми!</a>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Расположи буквы в правильном порядке.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:20px;">
                <div class="inDivABC">
                    <div class="textInDiv">1</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">2</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">3</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">4</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">5</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">6</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">7</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">8</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">9</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">10</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">11</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">12</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">13</div>
                    <div class="divInDivABC"></div>
                </div>

                <div class="inDivABC">
                    <div class="textInDiv">14</div>
                    <div class="divInDivABC"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDivABC">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDivABC">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDivABC">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDivABC">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDivABC">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDivABC">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivABC">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDivABC">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDivABC">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDivABC">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDivABC">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDivABC">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDivABC">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDivABC">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Це-лый час жуж-жит у-же</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">На цве-точ-ке бук-ва...</p>
        </div>

        <div>
            <img src="../../../assets/img/c.gif" class="riddle" alt="Ц" (click)="clickWrong()">
            <img src="../../../assets/img/J.gif" class="riddle" alt="Ж" (click)="viewDiv20(); addEvent10();">
            <img src="../../../assets/img/ei.gif" class="riddle" alt="Э" (click)="clickWrong()">
            <img src="../../../assets/img/Zs.gif" class="riddle" alt="З" (click)="clickWrong()">
        </div>
    </div>

    <div id="div20">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/crane.png" alt="ЖУРАВЛЬ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/iy.gif" alt="y" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">На од-ной но-ге сто-ит,</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Лю-бят гу-си бук-ву...</p>
        </div>

        <div>
            <img src="../../../assets/img/Sz.gif" class="riddle" alt="С" (click)="clickWrong()">
            <img src="../../../assets/img/i.gif" class="riddle" alt="И" (click)="clickWrong()">
            <img src="../../../assets/img/D.gif" class="riddle" alt="Д" (click)="clickWrong()">
            <img src="../../../assets/img/Gs.gif" class="riddle" alt="Г" (click)="viewDiv22(); addEvent11();">
        </div>
    </div>

    <div id="div22">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/gooser.png" alt="ГУСЁНОК">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Sz.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="g" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv23()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Об-руч, мяч и ко-ле-со</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Вам на-пом-нят бук-ву...</p>
        </div>

        <div>
            <img src="../../../assets/img/B.gif" class="riddle" alt="Б" (click)="clickWrong()">
            <img src="../../../assets/img/o.gif" class="riddle" alt="О" (click)="viewDiv24(); addEvent12();">
            <img src="../../../assets/img/Ms.gif" class="riddle" alt="М" (click)="clickWrong()">
            <img src="../../../assets/img/Ks.gif" class="riddle" alt="К" (click)="clickWrong()">
        </div>
    </div>

    <div id="div24">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/vegatebles.png" alt="ОВОЩИ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Shy.gif" alt="sh" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv25()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Ай-бо-ли-ту все спер-ва</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">Го-во-ри-ли бук-ву...</p>
        </div>

        <div>
            <img src="../../../assets/img/Ks.gif" class="riddle" alt="К" (click)="clickWrong()">
            <img src="../../../assets/img/Vs.gif" class="riddle" alt="В" (click)="clickWrong()">
            <img src="../../../assets/img/a.gif" class="riddle" alt="А" (click)="viewDiv26(); addEvent13();">
            <img src="../../../assets/img/u.gif" class="riddle" alt="У" (click)="clickWrong()">
        </div>
    </div>

    <div id="div26">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/doctor.png" alt="АЙБОЛИТ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/y.gif" id="y" class="imgInDiv">
                <img src="../../../assets/img/i.gif" id="i" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" id="l" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" id="t" class="imgInDiv">
                <img src="../../../assets/img/B.gif" id="b" class="imgInDiv">
                <img src="../../../assets/img/a.gif" id="a" class="imgInDiv">
                <img src="../../../assets/img/o.gif" id="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv27()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div27">
        <div>
            <p>Отгадай загадку.</p>
        </div>

        <div>
            <p style="font-size:50px; color:rgb(247, 55, 87);">О-на на ан-те-ну по-хо-жа</p>
            <p style="font-size:50px; color:rgb(247, 55, 87);">И на зонт как буд-то то-же.</p>
        </div>

        <div>
            <img src="../../../assets/img/Ts.png" class="riddle" alt="Т" (click)="viewDiv28(); addEvent14();">
            <img src="../../../assets/img/o.gif" class="riddle" alt="О" (click)="clickWrong()">
            <img src="../../../assets/img/Zs.gif" class="riddle" alt="З" (click)="clickWrong()">
            <img src="../../../assets/img/Ns.gif" class="riddle" alt="Н" (click)="clickWrong()">
        </div>
    </div>

    <div id="div28">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/finch.png" alt="ЗЯБЛИК">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/Zz.gif" alt="z" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv29()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div29">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ГВОЗДЬ</span>
                <input style="width:194px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">САД</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗООСАД</span>
                <input style="width:210px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СОН</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЛОН</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">САЛОН</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КОТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРОТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СКОТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗУБ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗУБР</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">НОЛЬ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div30">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Rz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/iy.gif" alt="Ь">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/Hz.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/Hs.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
            <img class="letter1" src="../../../assets/img/Shy.gif" alt="Щ">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>
</div>