<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/5.gif" alt="5">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буковки, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm2">
                <img src="../../../assets/img/indian.png" alt="indian" class="imgInDiv">
                <img src="../../../assets/img/pineapple.png" alt="pineapple" class="imgInDiv">
                <img src="../../../assets/img/snall.png" alt="snail" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm3">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm4">
                <img src="../../../assets/img/iris.png" alt="iris" class="imgInDiv">
                <img src="../../../assets/img/shark.png" alt="shark" class="imgInDiv">
                <img src="../../../assets/img/udot.png" alt="udot" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm5">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm6">
                <img src="../../../assets/img/lizard.png" alt="lizard" class="imgInDiv">
                <img src="../../../assets/img/hoop.png" alt="hoop" class="imgInDiv">
                <img src="../../../assets/img/racoon.png" alt="racoon" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5();addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm7">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm8">
                <img src="../../../assets/img/lamb.png" alt="lamb" class="imgInDiv">
                <img src="../../../assets/img/vegatebles.png" alt="vegatebles" class="imgInDiv">
                <img src="../../../assets/img/racoon.png" alt="racoon" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6();addEvent5();">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm9">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm10">
                <img src="../../../assets/img/penguin.png" alt="penguin" class="imgInDiv">
                <img src="../../../assets/img/cat2.png" alt="cat" class="imgInDiv">
                <img src="../../../assets/img/panda.png" alt="panda" class="imgInDiv">
                <img src="../../../assets/img/whale.png" alt="whale" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7(); addEvent6();">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm11">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm12">
                <img src="../../../assets/img/parrot.png" alt="parrot" class="imgInDiv">
                <img src="../../../assets/img/cactus.png" alt="cactus" class="imgInDiv">
                <img src="../../../assets/img/gun.png" alt="gun" class="imgInDiv">
                <img src="../../../assets/img/kiwi.png" alt="kiwi" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8(); addEvent7();">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm13">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm14">
                <img src="../../../assets/img/mouse.png" alt="mouse" class="imgInDiv">
                <img src="../../../assets/img/foxM.png" alt="fox" class="imgInDiv">
                <img src="../../../assets/img/bear.png" alt="bear" class="imgInDiv">
                <img src="../../../assets/img/moose.png" alt="moose" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv9(); addEvent8();">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Узнай буковки в новых словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm15">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm16">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/lemon.png" alt="lemon" class="imgInDiv">
                <img src="../../../assets/img/raspberry.png" alt="raspberry" class="imgInDiv">
                <img src="../../../assets/img/onion.png" alt="onion" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Котик говорит</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/cat2.png" alt="кот">
            <img class="letter" src="../../../assets/img/Mz.gif" alt="м">
            <img class="letter" src="../../../assets/img/ya.gif" alt="я">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУЯ</button>
            <button class="yellow noselect" (click)="viewDiv12(); addEvent9();">МЯУ</button>
            <button class="yellow noselect">ЯМУ</button>
            <button class="yellow noselect">УМЯ</button>
            <button class="yellow noselect">УЯМ</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px;" class="img3" src="../../../assets/img/Mz.gif" alt="m">
            <img style="width:100px;" class="img3" src="../../../assets/img/ya.gif" alt="ya">
            <img style="width:100px;" class="img3" src="../../../assets/img/u.gif" alt="u">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Ослик говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
            <img class="letter" src="../../../assets/img/a.gif" alt="а">
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv14()">ИА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши слово!</p>
        </div>

        <div>
            <img src="../../../assets/img/i.gif" alt="и">
            <img src="../../../assets/img/a.gif" alt="а">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change">
            <img src="../../../assets/img/a.gif" alt="a">
            <img src="../../../assets/img/i.gif" alt="i">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Корова говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Ms.gif" alt="м">
            <img class="letter" src="../../../assets/img/u.gif" alt="у">
            <img class="print" src="../../../assets/img/cow.png" alt="корова">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv16()">МУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">КУ</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">МИ</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage2()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change2">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage2()">Проверить</a>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Коза говорит</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/Mz.gif" alt="м">
            <img class="letter" src="../../../assets/img/e.gif" alt="е">
            <img class="print" src="../../../assets/img/goat.png" alt="коза">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect">УА</button>
            <button class="yellow noselect">КУ</button>
            <button class="yellow noselect" (click)="viewDiv18()">МЕ</button>
        </div>
    </div>

    <div id="div18">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px; height:140px;" class="img3" src="../../../assets/img/Mz.gif" alt="М">
            <img style="width:100px; height:140px;" class="img3" src="../../../assets/img/e.gif" alt="Е">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage3()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change3">
            <img style="width:100px; height:140px;" class="img3" src="../../../assets/img/e.gif" alt="Е">
            <img style="width:100px; height:140px;" class="img3" src="../../../assets/img/Mz.gif" alt="М">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage3()">Проверить</a>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img style="height:100px;" src="../../../assets/img/goat.png">
            <img style="height:100px;" src="../../../assets/img/cow.png">
        </div>
    
        <div>
            <img class="letter" src="../../../assets/img/Ms.gif" alt="м">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:300px;" class="yellow noselect">МАЛОКО</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv20(); addEvent10();">МОЛОКО</button>
            <button style="width:300px;" class="yellow noselect">МОЛАКО</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="m">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="o">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="l">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="o2">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="k">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="o3">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv21()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height:130px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <div style="display:flex; flex-direction:row; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" cl src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect" (click)="viewDiv22()">МОЛОКО.</button>
            </div>

            <div style="display:flex; flex-direction:row; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" cl src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div style="display:flex; flex-direction:row; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ИА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МОЛОКО</span>
                <input style="width:220px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЕ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" class="letter1" alt="A">
            <img src="../../../assets/img/i.gif" class="letter1" alt="И">
            <img src="../../../assets/img/o.gif" class="letter1" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1"  src="../../../assets/img/Lz.gif" alt="л">
            <img src="../../../assets/img/u.gif" class="letter1" alt="У">
            <img src="../../../assets/img/ya.gif" class="letter1" alt="Я">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/e.gif" alt="Е">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv24(); addEvent11();">Домашнее задание</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и соедини с картинкой.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px; justify-content:space-between;">
                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">МОЛОКО</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">МУ</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">МЯУ</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">ИА</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">МЕ</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img style="height:135px;" src="../../../assets/img/donkey.png" alt="donkey" class="imgInDiv">
                <img style="height:135px;" src="../../../assets/img/goat.png" alt="goat" class="imgInDiv">
                <img style="height:135px;" src="../../../assets/img/goatAndCow.png" alt="cowAndGoat" class="imgInDiv">
                <img style="height:135px;" src="../../../assets/img/cat2.png" class="imgInDiv" alt="cat">
                <img style="height:135px;" src="../../../assets/img/cow.png" class="imgInDiv" alt="cow">
            </div>
        </div>
    </div>
</div>