

    <!--<div class="registr"> !!!сделать кнопку и надпись через js через js
        <div>
            <p>В первый раз на сайте?</p>
        </div>

        <div class="button-row">
            <nav>
                <a routerLink="/registration" routerLinkActive="active" class="action-button">Зарегистрироваться</a>
            </nav>
        </div>
    </div> -->

<div class="block-login">
    <div class="text-enter">
        <p class="text-enter">Вход на сайт</p>
    </div>

    <div class="login-auth">
        <div class="auth-block">
            <label class="login-text">E-mail:</label>
            <input class="login-input" required email>
            <div class="login-error">
                Некорректный e-mail
            </div>
        </div>

        <div class="auth-block">
            <label class="login-text">Пароль:</label>
            <input type="password" class="login-input" required>
            <div class="login-error">
                Введите пароль
            </div>
        </div>
    </div>

    <div>
        <a class="tesuen_z">Войти</a>
    </div>
</div>