<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/5.gif" alt="5">
        </div>

        <div class="text">
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Тренируемся быстро считать.</p>
            <p style="color:red">Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Посчитай сколько предметов.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="10count" (click)="click10Count()">10</div>
            <div class="inDivConsVow" id="11count" (click)="click11Count()">11</div>
            <div class="inDivConsVow" id="12count" (click)="click12Count()">12</div>
            <div class="inDivConsVow" id="13count" (click)="click13Count()">13</div>
            <div class="inDivConsVow" id="16count" (click)="click16Count()">16</div>
            <div class="inDivConsVow" id="17count" (click)="click17Count()">17</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/16dog.png" id="img16Dog" alt="машина" class="imgSyllable" (click)="clickImg16Dog()">
                <img src="../../../assets/img/17dog.png" id="img17Dog" alt="машина" class="imgSyllable" (click)="clickImg17Dog()">
                <img src="../../../assets/img/12dog.png" id="img12Dog" alt="машина" class="imgSyllable" (click)="clickImg12Dog()">
                <img src="../../../assets/img/11dog.png" id="img11Dog" alt="машина" class="imgSyllable" (click)="clickImg11Dog()">
                <img src="../../../assets/img/10dog.png" id="img10Dog" alt="машина" class="imgSyllable" (click)="clickImg10Dog()">
                <img src="../../../assets/img/13dog.png" id="img13Dog" alt="машина" class="imgSyllable" (click)="clickImg13Dog()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Посчитай сколько предметов.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="18count" (click)="click18Count()">18</div>
            <div class="inDivConsVow" id="19count" (click)="click19Count()">19</div>
            <div class="inDivConsVow" id="20count" (click)="click20Count()">20</div>
            <div class="inDivConsVow" id="21count" (click)="click21Count()">21</div>
            <div class="inDivConsVow" id="22count" (click)="click22Count()">22</div>
            <div class="inDivConsVow" id="23count" (click)="click23Count()">23</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/23dog.png" id="img23Dog" alt="собака" class="imgSyllable" (click)="clickImg17Dog()">
                <img src="../../../assets/img/19dog.png" id="img19Dog" alt="собака" class="imgSyllable" (click)="clickImg11Dog()">
                <img src="../../../assets/img/22dog.png" id="img22Dog" alt="собака" class="imgSyllable" (click)="clickImg16Dog()">
                <img src="../../../assets/img/18dog.png" id="img18Dog" alt="собака" class="imgSyllable" (click)="clickImg10Dog()">
                <img src="../../../assets/img/21dog.png" id="img21Dog" alt="собака" class="imgSyllable" (click)="clickImg13Dog()">
                <img src="../../../assets/img/20dog.png" id="img20Dog" alt="собака" class="imgSyllable" (click)="clickImg12Dog()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p style="color: red;">Запомни!</p>
            <p style="margin:0;">Чтобы быстро считать,</p>
            <p style="margin:0;">Нужно уметь складывать до 10.</p>
            <p style="color:red;">Посчитай и соедини с ответом:</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="14countSum" (click)="click14CountSum()">14</div>
            <div class="inDivConsVow" id="10countSum" (click)="click10CountSum()">10</div>
            <div class="inDivConsVow" id="12countSum" (click)="click12CountSum()">12</div>
            <div class="inDivConsVow" id="6countSum" (click)="click6CountSum()">6</div>
            <div class="inDivConsVow" id="8countSum" (click)="click8CountSum()">8</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/7+7dog.png" class="countRockets" id="img14CountDog" alt="собака" (click)="clickImg5Dog()">
                <img src="../../../assets/img/4+4dog.png" class="countRockets" id="img8CountDog" alt="собака" (click)="clickImg2Dog()">
                <img src="../../../assets/img/6+6dog.png" class="countRockets" id="img12CountDog" alt="собака" (click)="clickImg4Dog()">
                <img src="../../../assets/img/5+5dog.png" class="countRockets" id="img10CountDog" alt="собака" (click)="clickImg3Dog()">
                <img src="../../../assets/img/3+3dog.png" class="countRockets" id="img6CountDog" alt="собака" (click)="clickImg1Dog()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p style="color:red;">Посчитай и соедини с ответом.</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="22countSum" (click)="click22CountSum()">22</div>
            <div class="inDivConsVow" id="24countSum" (click)="click24CountSum()">24</div>
            <div class="inDivConsVow" id="18countSum" (click)="click18CountSum()">18</div>
            <div class="inDivConsVow" id="16countSum" (click)="click16CountSum()">16</div>
            <div class="inDivConsVow" id="20countSum" (click)="click20CountSum()">20</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/11+11dog.png" class="countRockets" id="img22CountDog" alt="собака" (click)="clickImg4Dog()">
                <img src="../../../assets/img/9+9dog.png" class="countRockets" id="img18CountDog" alt="собака" (click)="clickImg2Dog()">
                <img src="../../../assets/img/8+8dog.png" class="countRockets" id="img16CountDog" alt="собака" (click)="clickImg1Dog()">
                <img src="../../../assets/img/12+12dog.png" class="countRockets" id="img24CountDog" alt="собака" (click)="clickImg5Dog()">
                <img src="../../../assets/img/10+10dog.png" class="countRockets" id="img20CountDog" alt="собака" (click)="clickImg3Dog()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6()">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p style="color: red;">Запомни!</p>
            <p style="margin:0;">Чтобы быстро считать,</p>
            <p style="margin:0;">Нужно уметь вычитать.</p>
            <p style="color:red;">Посчитай и соедини с ответом:</p>
        </div>

        <div style="display: flex; justify-content: space-around; margin-bottom: 20px;">
            <div class="inDivConsVow" id="12Diff" (click)="click12Diff()">12</div>
            <div class="inDivConsVow" id="14Diff" (click)="click14Diff()">14</div>
            <div class="inDivConsVow" id="11Diff" (click)="click11Diff()">11</div>
            <div class="inDivConsVow" id="10Diff" (click)="click10Diff()">10</div>
            <div class="inDivConsVow" id="13Diff" (click)="click13Diff()">13</div>
        </div>

        <div>
            <div style="display: flex; justify-content: space-between;">
                <img src="../../../assets/img/16-6dog.png" class="countRockets" id="img10DiffDog" alt="машина" (click)="clickImg1Dog()">
                <img src="../../../assets/img/16-4dog.png" class="countRockets" id="img12DiffDog" alt="машина" (click)="clickImg3Dog()">
                <img src="../../../assets/img/16-2dog.png" class="countRockets" id="img14DiffDog" alt="машина" (click)="clickImg5Dog()">
                <img src="../../../assets/img/16-5dog.png" class="countRockets" id="img11DiffDog" alt="машина" (click)="clickImg2Dog()">
                <img src="../../../assets/img/16-3dog.png" class="countRockets" id="img13DiffDog" alt="машина" (click)="clickImg4Dog()">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p style="color:red;">Вспомни!</p>
            <p>Сколько больших фигур?</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/DonaldDuck.gif" alt="утка">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/bluebrightCircle.png" class="bigFigure" alt="круг">
                    <img src="../../../assets/img/yellowRectangle.png" class="figure" alt="прямоугольник">
                    <img src="../../../assets/img/greenHexagon.png" class="bigFigure" alt="шестиугольник">
                    <img src="../../../assets/img/orangePallalelogramm.png" class="figure" alt="параллелограм">
                </div>

                <div>
                    <img src="../../../assets/img/orangeHeptagon.png" class="bigFigure" alt="семиугольник">
                    <img src="../../../assets/img/blueOval.png" class="bigFigure" alt="овал">
                    <img src="../../../assets/img/redTriangle.png" class="bigFigure" alt="треугольник">
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect">1</button>
            <button class="blue noselect">2</button>
            <button class="blue noselect">3</button>
            <button class="blue noselect">4</button>
            <button class="blue noselect" (click)="viewDiv8()">5</button>
            <button class="blue noselect">6</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Сколько всего синих и голубых фигур?</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/DonaldRest.gif" alt="утка">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/redHeptagon.png" class="bigFigure" alt="семиугольник">
                    <img src="../../../assets/img/greenSquare.png" class="figure" alt="квадрат">
                    <img src="../../../assets/img/redRectangle.png" class="bigFigure" alt="прямоугольник">
                    <img src="../../../assets/img/blueSqare.png" class="bigFigure" alt="квадрат">
                    <img src="../../../assets/img/redPentagon.png" class="bigFigure" alt="пятиугольник">
                </div>

                <div>
                    <img src="../../../assets/img/blueCircle.png" class="figure" alt="круг">
                    <img src="../../../assets/img/bluebrightSqare.png" class="figure" alt="квадрат">
                    <img src="../../../assets/img/greenpentagon.png" class="bigFigure" alt="пятиугольник">
                    <img src="../../../assets/img/bluePallalelogram.png" class="bigFigure" alt="параллелограм">
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect">1</button>
            <button class="blue noselect">2</button>
            <button class="blue noselect">3</button>
            <button class="blue noselect" (click)="viewDiv9()">4</button>
            <button class="blue noselect">5</button>
            <button class="blue noselect">6</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>На сколько больше красных фигур, чем синих?</p>
        </div>

        <div style="display: flex; flex-direction:row;">
            <div style="display: flex; align-items: flex-end;">
                <img class="gif" src="../../../assets/img/vinni.gif" alt="винни">
            </div>

            <div style="display: flex; flex-direction:column;">
                <div>
                    <img src="../../../assets/img/redCircle.png" class="figure" alt="круг">
                    <img src="../../../assets/img/bluebrightHeptagon.png" class="bigFigure" alt="семиугольник">
                    <img src="../../../assets/img/blueRectangle.png" class="bigFigure" alt="прямоугольник">
                    <img src="../../../assets/img/redPentagon.png" class="figure" alt="пятиугольник">
                    <img src="../../../assets/img/BluebrightRectangle.png" class="bigFigure" alt="прямоугольник">
                </div>

                <div>
                    <img src="../../../assets/img/redPentagon.png" class="figure" alt="пятиугольник">
                    <img src="../../../assets/img/bluebrightTriangle.png" class="figure" alt="треугольник">
                    <img src="../../../assets/img/blueHeptagon.png" class="bigFigure" alt="семиугольник">
                    <img src="../../../assets/img/bluebrightOval.png" class="bigFigure" alt="овал">
                    <img src="../../../assets/img/yellowPentagon.png" class="figure" alt="пятиугольник">
                </div>
            </div>
        </div>

        <div>
            <button class="blue noselect" (click)="viewDiv10()">1</button>
            <button class="blue noselect">2</button>
            <button class="blue noselect">3</button>
            <button class="blue noselect">4</button>
            <button class="blue noselect">5</button>
            <button class="blue noselect">6</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Молодец!</p>
            <p style="color: red;">Наше путешествие прошло успешно!</p>
            <p style="color: green; cursor: pointer; text-decoration: underline green;" (click)="viewDiv11()">Домашнее задание.</p>
        </div>

        <div>
            <img src="../../../assets/img/vinni.gif" class="gif" alt="винни">
            <img src="../../../assets/img/DonaldRest.gif" class="gif" alt="утка">
            <img src="../../../assets/img/DonaldDuck.gif" class="gif" alt="утка">
        </div>

        <div>
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Задание № 1.</p>
            <p>Расположи числа по порядку.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="divForNumber" id="divFor20" (click)="clickDivFor20()"></div>

                <div class="divForNumber" id="divFor21" (click)="clickDivFor21()"></div>

                <div class="divForNumber" id="divFor22" (click)="clickDivFor22()"></div>

                <div class="divForNumber" id="divFor23" (click)="clickDivFor23()"></div>

                <div class="divForNumber" id="divFor24" (click)="clickDivFor24()"></div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <div class="forNumber" id="count24" (click)="clickImg5Dog()">24</div>
                <div class="forNumber" id="count21" (click)="clickImg2Dog()">21</div>
                <div class="forNumber" id="count20" (click)="clickImg1Dog()">20</div>
                <div class="forNumber" id="count23" (click)="clickImg4Dog()">23</div>
                <div class="forNumber" id="count22" (click)="clickImg3Dog()">22</div>
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv12()">Жми!</a>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Задание № 1.</p>
            <p>Расположи числа по порядку.</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="divForNumber" id="divFor25" (click)="clickDivFor25()"></div>

                <div class="divForNumber" id="divFor26" (click)="clickDivFor26()"></div>

                <div class="divForNumber" id="divFor27" (click)="clickDivFor27()"></div>

                <div class="divForNumber" id="divFor28" (click)="clickDivFor28()"></div>

                <div class="divForNumber" id="divFor29" (click)="clickDivFor29()"></div>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <div class="forNumber" id="count25" (click)="clickImg1Dog()">25</div>
                <div class="forNumber" id="count27" (click)="clickImg3Dog()">27</div>
                <div class="forNumber" id="count26" (click)="clickImg2Dog()">26</div>
                <div class="forNumber" id="count28" (click)="clickImg4Dog()">28</div>
                <div class="forNumber" id="count29" (click)="clickImg5Dog()">29</div>
            </div>
        </div>
    </div>
</div>