<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/3.gif" alt="3">
            <img class="number1" src="../../../assets/img/6.gif" alt="6">
        </div>

        <div class="text">
            <p>Внимание!</p>
            <p>Урок надо успеть пройти за 20 минут.</p>
        </div>

        <div class="button">
            <a class="stitched" style="width:700px;" (click)="viewDiv2()">Проверочная работа</a>
        </div>
    </div>
</div>