
<div class="bcg">

    <div class="div-spacebetween">  
        <div>
            <img class="img-playingchildren" src="../../assets/img/playingchildren.png">
        </div>

        <div class="div-ico">
            <ul class="ul-ico">
                <li class="li-ico">Математические занятия для детей 5-12 лет</li>
                <li class="li-ico">Обучению чтению и грамоте детей от 4 лет</li>
                <li class="li-ico">Уроки по программированию (Scratch) от 7 лет</li>
            </ul>
        </div>
    </div>

    <div class="registr">
        <p class="registr">Уроки проходят в формате онлайн в удобное для ребёнка время.</p>
        <p class="registr">После регистрации вы получите 3 бесплатных занятия для самостоятельного ознакомления.</p>
    </div>

</div>