.bcg {
    background-image: url(../../assets/img/background-image-2.JPG);
    height: 770px;
    width: 1900px;
    box-shadow: 0 0 20px 6px rgb(128,161,103);
}

.div-spacebetween {
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.img-playingchildren {
    width: 500px;
    margin-top: 80px;
    margin-left: 250px;
}

.div-ico {
    display: flex;
    align-items: center;
    height: 550px;
    margin-right: 100px;
}

.ul-ico {
    list-style-type: none;
    line-height: 80px;
}

.li-ico {
    background-image: url(../../assets/img/ico-flower.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 100px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 1px #8c968f;
    color: hsl(88, 94%, 13%);
    cursor: default;
}

div.registr {
    display: flex;
    flex-direction: column;
}

p.registr {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 1px #8c968f;
    color: hsl(88, 94%, 13%);
    font-size: 25px;
    cursor: default;
    margin-top: 0;
    margin-bottom: 0;
}