<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/5.gif" alt="5">
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Рассортируй буквы на мягкие и твёрдые согласные.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;" id="divIm1">
                <div class="inDivConsVow">Мягкий</div>
                <div class="inDivConsVow">Твёрдый</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px;" id="divIm2">
                <img src="../../../assets/img/ta.jpg" alt="ta" class="imgInDivMargin">
                <img src="../../../assets/img/es.jpg" alt="es" class="imgInDivMargin">
                <img src="../../../assets/img/ri.jpg" alt="ri" class="imgInDivMargin">
                <img src="../../../assets/img/me.jpg" alt="me" class="imgInDivMargin">
                <img src="../../../assets/img/ryu.jpg" alt="ryu" class="imgInDivMargin">
                <img src="../../../assets/img/AT.jpg" alt="at" class="imgInDivMargin">
                <img src="../../../assets/img/lyu.jpg" alt="lyu" class="imgInDivMargin">
                <img src="../../../assets/img/yul.jpg" alt="yul" class="imgInDivMargin">
                <img src="../../../assets/img/in.jpg" alt="in" class="imgInDivMargin">
                <img src="../../../assets/img/ish.jpg" alt="ish" class="imgInDivMargin">
                <img src="../../../assets/img/cha.jpg" alt="cha" class="imgInDivMargin">
                <img src="../../../assets/img/em.jpg" alt="em" class="imgInDivMargin">
                <img src="../../../assets/img/se.jpg" alt="se" class="imgInDivMargin">
                <img src="../../../assets/img/te.jpg" alt="te" class="imgInDivMargin">
                <img src="../../../assets/img/chi.jpg" alt="chi" class="imgInDivMargin">
                <img src="../../../assets/img/ir.jpg" alt="ir" class="imgInDivMargin">
                <img src="../../../assets/img/lya.jpg" alt="lya" class="imgInDivMargin">
                <img src="../../../assets/img/ni.jpg" alt="ni" class="imgInDivMargin">
                <img src="../../../assets/img/et.jpg" alt="et" class="imgInDivMargin">
                <img src="../../../assets/img/shi.jpg" alt="shi" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Объедини парные гласные.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img style="border:3px solid red;" src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="eiy" class="imgInDivMargin"><!--ы-->
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDivMargin">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin"><!--э-->
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Найди гласные, которые смягчают согласный звук.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">Смягчает</div>
                <div style="height:80px;" class="inDivConsVow">Не смягчает</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                <img src="../../../assets/img/ei.gif" alt="ei" class="imgInDivMargin"><!--э-->
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDivMargin">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDivMargin">
                <img src="../../../assets/img/a.gif" alt="s" class="imgInDivMargin">
                <img src="../../../assets/img/Eiy.gif" alt="eiy" class="imgInDivMargin"><!--ы-->
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDivMargin">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDivMargin">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDivMargin">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDivMargin">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv5(); addEvent4();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Рассортируй слова по количеству слогов.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">1 слог</div>
                <div class="inDivConsVow">2 слога</div>
                <div class="inDivConsVow">3 слога</div>
                <div class="inDivConsVow">4 слога</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                <img src="../../../assets/img/RainbowText.jpg" alt="rainbow" class="imgText">
                <img src="../../../assets/img/vitamins.jpg" alt="vitamins" class="imgText">
                <img src="../../../assets/img/karamelkaText.jpg" alt="caramel" class="imgText">
                <img src="../../../assets/img/piramidaText.jpg" alt="pyramid" class="imgText">
                <img src="../../../assets/img/slonikText.jpg" alt="elephanter" class="imgText">
                <img src="../../../assets/img/KotText.jpg" alt="cat" class="imgText">
                <img src="../../../assets/img/Слонёнок.jpg" alt="elephanter" class="imgText">
                <img src="../../../assets/img/kotyonokText.jpg" alt="kitten" class="imgText">
                <img src="../../../assets/img/slonText.jpg" alt="elephant" class="imgText">
                <img src="../../../assets/img/krotText.jpg" alt="mole" class="imgText">
                <img src="../../../assets/img/kotikText.jpg" alt="kotik" class="imgText">
                <img src="../../../assets/img/knigaText.jpg" alt="book" class="imgText">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv6(); addEvent5();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Рассортируй буквы на глухие и звонкие.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:20px;">
                <div class="inDivConsVow">Глухой</div>
                <div class="inDivConsVow">Звонкий</div>
            </div>

            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDivMargin">
                <img src="../../../assets/img/Pz.gif" alt="p" class="imgInDivMargin">
                <img src="../../../assets/img/y.gif" alt="y" class="imgInDivMargin"><!--й-->
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDivMargin">
                <img src="../../../assets/img/fZ.gif" alt="f" class="imgInDivMargin">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDivMargin">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDivMargin">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDivMargin">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDivMargin">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDivMargin">
                <img src="../../../assets/img/Nz.gif" alt="n" class="imgInDivMargin">
                <img src="../../../assets/img/Gz.gif" alt="g" class="imgInDivMargin">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDivMargin">
                <img src="../../../assets/img/ch.gif" alt="ch" class="imgInDivMargin">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDivMargin">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDivMargin">
                <img src="../../../assets/img/Hs.gif" alt="h" class="imgInDivMargin">
                <img src="../../../assets/img/Shy.gif" alt="sha" class="imgInDivMargin">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv7()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Аз-бу-ка</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv8()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">А</span><span class="letterSpan" (click)="clickWrongLetter()">з</span>
            <span class="letterSpan" (click)="clickWrongLetter()">б</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickRightLetter()">ю</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan1()">Проверить</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Пусть на-чи-на-ет-ся</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="viewDiv10()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">П</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickWrongLetter()">с</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">ь</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> н</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ч</span><span class="letterSpan" (click)="clickRightLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">и</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickRightLetter()">э</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">с</span><span class="letterSpan" (click)="clickWrongLetter()">я</span>
            <span class="letterSpan" (click)="clickRightLetter()">а</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan2()">Проверить</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">С А-ИС-ТА -</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv12()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">С</span><span class="letterSpan" (click)="clickWrongLetter()"> А</span>
            <span class="letterSpan" (click)="clickWrongLetter()">И</span><span class="letterSpan" (click)="clickWrongLetter()">С</span>
            <span class="letterSpan" (click)="clickRightLetter()">З</span><span class="letterSpan" (click)="clickWrongLetter()">Т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">А</span><span class="letterSpan" (click)="clickWrongLetter()"> -</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan3()">Проверить</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Он,</p>
        </div>

        <div>
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
            <img src="../../../assets/img/1.gif" class="riddle" alt="1" (click)="viewDiv14()">
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">О</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickRightLetter()">м</span><span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan4()">Проверить</a>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Как и аз-бу-ка,</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="viewDiv16()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="clickWrong()">
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">К</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">к</span><span class="letterSpan" (click)="clickRightLetter()">г</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> и</span><span class="letterSpan" (click)="clickWrongLetter()"> а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">з</span><span class="letterSpan" (click)="clickRightLetter()">с</span>
            <span class="letterSpan" (click)="clickWrongLetter()">б</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickRightLetter()">ю</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">,</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan5()">Проверить</a>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">C "А" на-чи-на-ет-ся!</p>
        </div>

        <div>
            <img src="../../../assets/img/8.gif" class="riddle" alt="8" (click)="clickWrong()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="viewDiv18()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">С</span><span class="letterSpan" (click)="clickWrongLetter()"> А</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> н</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ч</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
            <span class="letterSpan" (click)="clickRightLetter()">е</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickWrongLetter()">с</span>
            <span class="letterSpan" (click)="clickRightLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">я</span>
            <span class="letterSpan" (click)="clickWrongLetter()">!</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan6()">Проверить</a>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Взгля-ну</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/2.gif" class="riddle" alt="2" (click)="viewDiv20()">
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">В</span><span class="letterSpan" (click)="clickWrongLetter()">з</span>
            <span class="letterSpan" (click)="clickWrongLetter()">г</span><span class="letterSpan" (click)="clickWrongLetter()">л</span>
            <span class="letterSpan" (click)="clickWrongLetter()">я</span><span class="letterSpan" (click)="clickRightLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">н</span><span class="letterSpan" (click)="clickRightLetter()">ю</span>
            <span class="letterSpan" (click)="clickWrongLetter()">у</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan7()">Проверить</a>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">На АН-ТИ-ЛО-ПУ-ГНУ</p>
        </div>

        <div>
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="viewDiv22()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/7.gif" class="riddle" alt="7" (click)="clickWrong()">
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Н</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> А</span><span class="letterSpan" (click)="clickWrongLetter()">Н</span>
            <span class="letterSpan" (click)="clickRightLetter()">Ц</span><span class="letterSpan" (click)="clickWrongLetter()">Т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">И</span><span class="letterSpan" (click)="clickRightLetter()">Ы</span>
            <span class="letterSpan" (click)="clickWrongLetter()">Л</span><span class="letterSpan" (click)="clickWrongLetter()">О</span>
            <span class="letterSpan" (click)="clickWrongLetter()">П</span><span class="letterSpan" (click)="clickWrongLetter()">У</span>
            <span class="letterSpan" (click)="clickWrongLetter()">-</span><span class="letterSpan" (click)="clickWrongLetter()">Г</span>
            <span class="letterSpan" (click)="clickWrongLetter()">Н</span><span class="letterSpan" (click)="clickWrongLetter()">У</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan8()">Проверить</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">И по-ти-хо-неч-ку вздох-ну:</p>
        </div>

        <div>
            <img src="../../../assets/img/9.gif" class="riddle" alt="9" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/8.gif" class="riddle" alt="8" (click)="viewDiv24()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">И </span><span class="letterSpan" (click)="clickWrongLetter()">п</span>
            <span class="letterSpan" (click)="clickRightLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">о</span>
            <span class="letterSpan" (click)="clickRightLetter()">ц</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickWrongLetter()">и</span><span class="letterSpan" (click)="clickWrongLetter()">х</span>
            <span class="letterSpan" (click)="clickWrongLetter()">о</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickRightLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">ч</span><span class="letterSpan" (click)="clickWrongLetter()">к</span>
            <span class="letterSpan" (click)="clickWrongLetter()">у</span><span class="letterSpan" (click)="clickWrongLetter()"> в</span>
            <span class="letterSpan" (click)="clickRightLetter()">с</span><span class="letterSpan" (click)="clickWrongLetter()">з</span>
            <span class="letterSpan" (click)="clickWrongLetter()">д</span><span class="letterSpan" (click)="clickWrongLetter()">о</span>
            <span class="letterSpan" (click)="clickRightLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">х</span>
            <span class="letterSpan" (click)="clickWrongLetter()">н</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickWrongLetter()">:</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan9()">Проверить</a>
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">- За-чем, за-чем</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="viewDiv26()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
        </div>
    </div>

    <div id="div26">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">- </span><span class="letterSpan" (click)="clickWrongLetter()">З</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">ч</span>
            <span class="letterSpan" (click)="clickRightLetter()">э</span><span class="letterSpan" (click)="clickWrongLetter()">е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">м</span><span class="letterSpan" (click)="clickWrongLetter()">, </span>
            <span class="letterSpan" (click)="clickWrongLetter()">з</span><span class="letterSpan" (click)="clickRightLetter()">о</span>
            <span class="letterSpan" (click)="clickWrongLetter()">а</span><span class="letterSpan" (click)="clickWrongLetter()">ч</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickWrongLetter()">м</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan10()">Проверить</a>
        </div>
    </div>

    <div id="div27">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Вез-ли в Ев-ро-пу</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="viewDiv28()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
        </div>
    </div>

    <div id="div28">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">В</span><span class="letterSpan" (click)="clickRightLetter()">э</span>
            <span class="letterSpan" (click)="clickWrongLetter()">е</span><span class="letterSpan" (click)="clickWrongLetter()">з</span>
            <span class="letterSpan" (click)="clickWrongLetter()">л</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()"> в </span><span class="letterSpan" (click)="clickWrongLetter()">Е</span>
            <span class="letterSpan" (click)="clickWrongLetter()">в</span><span class="letterSpan" (click)="clickRightLetter()">ф</span>
            <span class="letterSpan" (click)="clickWrongLetter()">р</span><span class="letterSpan" (click)="clickWrongLetter()">о</span>
            <span class="letterSpan" (click)="clickWrongLetter()">п</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan11()">Проверить</a>
        </div>
    </div>

    <div id="div29">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Та-ку-ю</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="viewDiv30()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="clickWrong()">
        </div>
    </div>

    <div id="div30">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">Т</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">к</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickRightLetter()">й</span><span class="letterSpan" (click)="clickWrongLetter()">ю</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan12()">Проверить</a>
        </div>
    </div>

    <div id="div31">
        <div>
            <p>Посчитай количество гласных.</p>
        </div>

        <div>
            <p style="font-size:70px; color:red;">Ан-ти-ан-ти-ло-пу?!!</p>
        </div>

        <div>
            <img src="../../../assets/img/3.gif" class="riddle" alt="3" (click)="clickWrong()">
            <img src="../../../assets/img/5.gif" class="riddle" alt="5" (click)="clickWrong()">
            <img src="../../../assets/img/4.gif" class="riddle" alt="4" (click)="clickWrong()">
            <img src="../../../assets/img/6.gif" class="riddle" alt="6" (click)="viewDiv32()">
        </div>
    </div>

    <div id="div32">
        <div>
            <p>Выдели лишние буквы!</p>
        </div>

        <div style="cursor:pointer; margin-bottom:50px;">
            <span class="letterSpan" (click)="clickWrongLetter()">А</span><span class="letterSpan" (click)="clickWrongLetter()">н</span>
            <span class="letterSpan" (click)="clickWrongLetter()">т</span><span class="letterSpan" (click)="clickRightLetter()">ц</span>
            <span class="letterSpan" (click)="clickWrongLetter()">и</span><span class="letterSpan" (click)="clickWrongLetter()">а</span>
            <span class="letterSpan" (click)="clickWrongLetter()">н</span><span class="letterSpan" (click)="clickWrongLetter()">т</span>
            <span class="letterSpan" (click)="clickRightLetter()">ц</span><span class="letterSpan" (click)="clickWrongLetter()">и</span>
            <span class="letterSpan" (click)="clickWrongLetter()">л</span><span class="letterSpan" (click)="clickWrongLetter()">о</span>
            <span class="letterSpan" (click)="clickWrongLetter()">п</span><span class="letterSpan" (click)="clickWrongLetter()">у</span>
            <span class="letterSpan" (click)="clickWrongLetter()">?!!</span>
        </div>

        <div>
            <a class="stitched" (click)="checkSpan13()">Проверить</a>
        </div>
    </div>

    <div id="div33">
        <div style="line-height:0.2;">
            <p style="color:red;">Вспомни.</p>
            <p>В азбуке этой -</p>
            <p>Увидите сами! -</p>
            <p>Буквы живые:</p>
            <p>С хвостами,</p>
            <p>С усами,</p>
            <p>Бегать умеют они</p>
            <p>И летать,</p>
            <p>Ползать и плавать,</p>
            <p>Кусать и хватать...</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv34()">Жми!</a>
        </div>
    </div>

    <div id="div34">
        <div style="line-height:0.2;">
            <p style="color: red;">Вспомни.</p>
            <p>Буквы - мохнатые,</p>
            <p>Буквы - пернатые,</p>
            <p>Стройные буквы</p>
            <p>И даже горбатые,</p>
            <p>Добрые,</p>
            <p>Злые,</p>
            <p>Наземные,</p>
            <p>Водные</p>
            <p>Кто же они?</p>
            <p>Догадались?</p>
            <p>- Животные!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv35()">Жми!</a>
        </div>
    </div>

    <div id="div35">
        <div style="line-height:0.2;">
            <p style="color: red;">Выучи наизусть.</p>
            <p>Азбука</p>
            <p>Пусть начинается</p>
            <p>С АИСТА -</p>
            <p>Он,</p>
            <p>Как и азбука,</p>
            <p>С "А" начинается!</p>
            <p>Взгляну</p>
            <p>На АНТИЛОПУ-ГНУ</p>
            <p>И потихонечку вздохну:</p>
            <p>- Зачем, зачем</p>
            <p>Везли в Европу</p>
            <p>Такую</p>
            <p>Антиантилопу?!!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv36()">Жми!</a>
        </div>
    </div>

    <div id="div36">
        <div>
            <p style="color:red;">Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">СИНЕВА</span>
                <input style="width:206px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СИНИЙ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СИНЕНЬКИЙ</span>
                <input style="width:311px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРАСНОТА</span>
                <input style="width:264px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРАСНЫЙ</span>
                <input style="width:243px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КРАСНЕНЬКИЙ</span>
                <input style="width:366px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗЕЛЕНЬ</span>
                <input style="width:198px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗЕЛЁНЫЙ</span>
                <input style="width:246px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗЕЛЁНЕНЬКИЙ</span>
                <input style="width:369px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖЕЛТИЗНА</span>
                <input style="width:278px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖЁЛТЫЙ</span>
                <input style="width:223px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖЁЛТЕНЬКИЙ</span>
                <input style="width:346px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div37">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Rz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/iy.gif" alt="Ь">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/Hz.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/Hs.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
            <img class="letter1" src="../../../assets/img/Shy.gif" alt="Щ">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>
</div>