<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/8.gif" alt="8">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/iguana.png" alt="iguana" class="imgInDiv">
                <img src="../../../assets/img/orange.png" alt="orange" class="imgInDiv">
                <img src="../../../assets/img/rod.png" alt="rod" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm3">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm4">
                <img src="../../../assets/img/turkey.png" alt="turkey" class="imgInDiv">
                <img src="../../../assets/img/bus.png" alt="bus" class="imgInDiv">
                <img src="../../../assets/img/christTree.png" alt="tree" class="imgInDiv">
                <img src="../../../assets/img/udot.png" alt="udod" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm5">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm6">
                <img src="../../../assets/img/jaguar.png" alt="jaguar" class="imgInDiv">
                <img src="../../../assets/img/island.png" alt="island" class="imgInDiv">
                <img src="../../../assets/img/blackberry.png" alt="blackberry" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5(); addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm7">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm8">
                <img src="../../../assets/img/donkey.png" alt="donkey" class="imgInDiv">
                <img src="../../../assets/img/ruff.png" alt="ruff" class="imgInDiv">
                <img src="../../../assets/img/racoon.png" alt="racoon" class="imgInDiv">
                <img src="../../../assets/img/lamb.png" alt="lamb" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6(); addEvent5();">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm9">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm10">
                <img src="../../../assets/img/pelican.png" alt="pelican" class="imgInDiv">
                <img src="../../../assets/img/wheel.png" alt="wheel" class="imgInDiv">
                <img src="../../../assets/img/sunflower.png" alt="sunflower" class="imgInDiv">
                <img src="../../../assets/img/kangaroo.png" alt="kangaroo" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7(); addEvent6();">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm11">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm12">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/lemon.png" alt="lemon" class="imgInDiv">
                <img src="../../../assets/img/raspberry.png" alt="raspberry" class="imgInDiv">
                <img src="../../../assets/img/onion.png" alt="onion" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8(); addEvent7();">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm13">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm14">
                <img src="../../../assets/img/mill.png" alt="mill" class="imgInDiv">
                <img src="../../../assets/img/lama.png" alt="lama" class="imgInDiv">
                <img src="../../../assets/img/flyswater.png" alt="flyswater" class="imgInDiv">
                <img src="../../../assets/img/frog.png" alt="frog" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv9(); addEvent8();">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Узнай буковки в новых словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm15">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm16">
                <img src="../../../assets/img/mimosa.png" alt="daisy" class="imgInDiv">
                <img src="../../../assets/img/moose.png" alt="moose" class="imgInDiv">
                <img src="../../../assets/img/matryoshka.png" class="imgInDiv" alt="matryoshka">
                <img src="../../../assets/img/wateringCan.png" class="imgInDiv" alt="wateringCan">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div style="line-height:0.2;">
            <p>Знакомимся с новыми буковками,</p>
            <p>которые не любят петь.</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/J.gif" alt="ж">
            <img class="print" src="../../../assets/img/bittle.png" alt="жук">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect" (click)="viewDiv11(); addEvent9();">Ж</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Узнай, на какую букву начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm17">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm18">
                <img src="../../../assets/img/mill.png" alt="mill" class="imgInDiv">
                <img src="../../../assets/img/bittle.png" alt="beatle" class="imgInDiv">
                <img src="../../../assets/img/mimosa.png" alt="daisy" class="imgInDiv">
                <img src="../../../assets/img/toad.png" class="imgInDiv" alt="toad">
                <img src="../../../assets/img/crane.png" class="imgInDiv" alt="crane">
                <img src="../../../assets/img/bear.png" class="imgInDiv" alt="bear">
                <img src="../../../assets/img/jellyfish.png" class="imgInDiv" alt="jellyfish">
                <img src="../../../assets/img/giraffe.png" class="imgInDiv" alt="giraffe">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv12()">Жми!</a>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div13">
        <div>
            <img class="print" src="../../../assets/img/cat2.png" alt="кот2">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv14()">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Котик говорит</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/cat2.png" alt="кот">
            <img class="letter" src="../../../assets/img/Mz.gif" alt="м">
            <img class="letter" src="../../../assets/img/ya.gif" alt="я">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУЯ</button>
            <button class="yellow noselect" (click)="viewDiv15(); addEvent10();">МЯУ</button>
            <button class="yellow noselect">ЯМУ</button>
            <button class="yellow noselect">УМЯ</button>
            <button class="yellow noselect">УЯМ</button>
        </div>
    </div>

    <div id="div15">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div style="display:flex; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Mz.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="я">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div style="display:flex; justify-content:center;">
            <img style="height:150px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
            <img class="letter" src="../../../assets/img/YO.gif" alt="ё">
            <img class="letter" src="../../../assets/img/J.gif" alt="Ж">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ЖЁ</button>
            <button class="yellow noselect">ЁМ</button>
            <button class="yellow noselect" (click)="viewDiv17(); addEvent11();">ЁЖ</button>
            <button class="yellow noselect">ЕЖ</button>
            <button class="yellow noselect">ЖЕ</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height:150px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
            <img style="width:100px;" class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img style="width:100px;" class="letter1" src="../../../assets/img/J.gif" alt="Ж">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv18()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png">
            <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png">
        </div>
    
        <div>
            <img class="letter" src="../../../assets/img/Ms.gif" alt="м">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:300px;" class="yellow noselect">МАЛОКО</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv19(); addEvent12();">МОЛОКО</button>
            <button style="width:300px;" class="yellow noselect">МОЛАКО</button>
        </div>
    </div>

    <div id="div19">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv20()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height:130px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px;"  class="letter1"src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect" (click)="viewDiv21(); addEvent13();">МОЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div21">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height:130px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="любит">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px; width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
                
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv" style="display:flex; align-items:flex-end;"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/cat2.png" alt="cat" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/dot.png" style="height:50px; width:50px;" alt="t" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/heart.png" alt="h" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height:150px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px; width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect" (click)="viewDiv23(); addEvent14();">МОЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МАЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div23">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="height:150px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="любит">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:100px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px; width: 50x;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
                
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv" style="display:flex; align-items:flex-end;"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/hedgehog.png" alt="hedgehog" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/dot.png" style="height:50px; width:50px;" alt="t" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/heart.png" alt="h" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o2" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv24()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="height:150px; z-index:3;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
            <img style="height:130px;" class="letter1" src="../../../assets/img/i.gif" alt="и">
            <img style="height:130px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
            <img style="height:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ls.gif" alt="Л">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:130px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img style="height:130px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img style="height:50px; z-index:3;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/i.gif" alt="И">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МОЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/i.gif" alt="и">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect" (click)="viewDiv25()">МОЛОКО.</button>
            </div>

            <div style="display:flex; align-items:center;">
                <img style="height:100px;" class="letter1" src="../../../assets/img/hedgehog.png" alt="ёж">
                <img style="height:100px;" class="letter1" src="../../../assets/img/i.gif" alt="и">
                <img style="height:100px;" class="letter1" src="../../../assets/img/cat2.png" alt="кот">
                <img style="height:100px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
                <button style="width:305px;" class="yellow noselect">МОЛАКО.</button>
            </div>
        </div>
    </div>

    <div id="div25">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ПАПА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МОЛОКО</span>
                <input style="width:212px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МАМА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЁЖ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div26">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" class="letter1" alt="A">
            <img src="../../../assets/img/i.gif" class="letter1" alt="И">
            <img class="letter1"  src="../../../assets/img/J.gif" alt="Ж">
            <img src="../../../assets/img/o.gif" class="letter1" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1"  src="../../../assets/img/Lz.gif" alt="л">
            <img src="../../../assets/img/u.gif" class="letter1" alt="У">
            <img src="../../../assets/img/ya.gif" class="letter1" alt="Я">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1"  src="../../../assets/img/YO.gif" alt="Ё">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv27()">Домашнее задание</a>
        </div>
    </div>

    <div id="div27">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КО-КО</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МУ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">ЁЖ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КУ-КУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КАП-КАП</span>
                <input style="width:212px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>