<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/3.gif" alt="3">
            <img class="number1" src="../../../assets/img/6.gif" alt="6">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Й</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Х</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ц</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ч</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЗС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Н</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ГК</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БП</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЕЭ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">АЯ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОЁ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УЮ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ИЫ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Р</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЖШ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ДТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВФ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ь</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Где находится буква? В начале, в середине или в конце слова?</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm1">
                <img style="background-color:rgb(139, 255, 139);" src="../../../assets/img/D.gif" alt="d1" class="imgInDiv">
                <img style="background-color:rgb(252, 252, 144)" src="../../../assets/img/D.gif" alt="d2" class="imgInDiv">
                <img style="background-color:rgb(245, 207, 137);" src="../../../assets/img/D.gif" alt="d3" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm2">
                <img src="../../../assets/img/radish.png" alt="radish" class="imgInDiv">
                <img src="../../../assets/img/melon.png" alt="melon" class="imgInDiv">
                <img src="../../../assets/img/leopard.png" alt="leopard" class="imgInDiv">
                <img src="../../../assets/img/camel.png" class="imgInDiv" alt="camel">
                <img src="../../../assets/img/grape2.png" alt="grapes" class="imgInDiv">
                <img src="../../../assets/img/iodine.png" alt="iodine" class="imgInDiv">
                <img src="../../../assets/img/dolphin.png" class="imgInDiv" alt="dolphin">
                <img src="../../../assets/img/house.png" alt="house" class="imgInDiv">
                <img src="../../../assets/img/oak.png" alt="tree" class="imgInDiv">
                <img src="../../../assets/img/bickle.png" ialtdalt="cycle" class="imgInDiv">
                <img src="../../../assets/img/woodpecker.png" alt="woodpecker" class="imgInDiv">
                <img src="../../../assets/img/busket.png" alt="bucket" class="imgInDiv">
                <img src="../../../assets/img/sunflower.png" class="imgInDiv" alt="sunflower">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/panda.png" alt="panda" class="imgInDiv">
                <img src="../../../assets/img/forgetMeNot.png" class="imgInDiv" alt="forgetMeNot">
                <img src="../../../assets/img/kid.png" alt="child" class="imgInDiv">
                <img src="../../../assets/img/dragon.png" alt="dragon" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Где находится буква? В начале, в середине или в конце слова?</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm3">
                <img style="background-color:rgb(139, 255, 139);" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img style="background-color:rgb(252, 252, 144)" src="../../../assets/img/a.gif" alt="a2" class="imgInDiv">
                <img style="background-color:rgb(245, 207, 137);" src="../../../assets/img/a.gif" alt="a3" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm4">
                <img src="../../../assets/img/sofa.png" id="sofa" class="imgInDiv">
                <img src="../../../assets/img/bus.png" id="bus" class="imgInDiv">
                <img src="../../../assets/img/baton.png" id="loaf" class="imgInDiv">
                <img src="../../../assets/img/cuckoo.png" class="imgInDiv" id="cuckoo">
                <img src="../../../assets/img/giraffe.png" id="giraffe" class="imgInDiv">
                <img src="../../../assets/img/squirrel.png" id="squirrel" class="imgInDiv">
                <img src="../../../assets/img/grape2.png" class="imgInDiv" id="grapes">
                <img src="../../../assets/img/watermelon.png" id="watermelon" class="imgInDiv">
                <img src="../../../assets/img/blackberry.png" id="blackberry" class="imgInDiv">
                <img src="../../../assets/img/stork.png" id="stork" class="imgInDiv">
                <img src="../../../assets/img/barrel.png" id="barrel" class="imgInDiv">
                <img src="../../../assets/img/orange.png" class="imgInDiv" id="orange">
                <img src="../../../assets/img/cactus.png" id="cactus" class="imgInDiv">
                <img src="../../../assets/img/crane.png" id="crane" class="imgInDiv">
                <img src="../../../assets/img/dragon.png"  class="imgInDiv" id="dragon">
                <img src="../../../assets/img/hyena.png" id="hyena" class="imgInDiv" >
                <img src="../../../assets/img/aloe.png" id="aloe" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Новая буква!</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/iye.gif" alt="Ъ">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect">Ч</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect" (click)="viewDiv6(); addEvent3();">Ъ</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Ф</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Рассортируй слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm5">
                <img style="background-color:rgb(139, 255, 139);" src="../../../assets/img/iy.gif" alt="yi" class="imgInDiv">
                <img style="background-color:rgb(252, 252, 144)" src="../../../assets/img/iy.gif" alt="yi2" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm6">
                <img src="../../../assets/img/pour.png" alt="pour" class="imgInDiv">
                <img src="../../../assets/img/syem.png" alt="eat" class="imgInDiv">
                <img src="../../../assets/img/obyel.png" alt="eating" class="imgInDiv">
                <img src="../../../assets/img/gooseTwxt.png" class="imgInDiv" alt="goose">
                <img src="../../../assets/img/HorseText.png" alt="horse" class="imgInDiv">
                <img src="../../../assets/img/ingo.png" alt="drive" class="imgInDiv">
                <img src="../../../assets/img/obyezd.png" class="imgInDiv" alt="driving">
                <img src="../../../assets/img/MooseText2.png" alt="moose" class="imgInDiv">
                <img src="../../../assets/img/coatText.png" class="imgInDiv" alt="coat">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Какая буква есть в слове?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/liftUpper.png" alt="ПОДЪЕМНИК">
            <img class="letter" src="../../../assets/img/Ps.gif" alt="п">
            <img class="letter" src="../../../assets/img/o.gif" alt="о">
            <img class="letter" src="../../../assets/img/D.gif" alt="д">
            <img class="letter" src="../../../assets/img/iye.gif" alt="ъ">
            <img class="letter" src="../../../assets/img/YO.gif" alt="ё">
            <img class="letter" src="../../../assets/img/Ms.gif" alt="м">
            <img class="letter" src="../../../assets/img/Nz.gif" alt="н">
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="к">
        </div>

        <div>
            <button class="yellow noselect">Х</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Щ</button>
            <button class="yellow noselect" (click)="viewDiv8()">Ъ</button>
            <button class="yellow noselect">Ф</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Ф</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/liftUpper.png" alt="ПОДЪЕМНИК">
            <img class="letter" src="../../../assets/img/Ps.gif" alt="п">
            <img class="letter" src="../../../assets/img/o.gif" alt="о">
            <img class="letter" src="../../../assets/img/D.gif" alt="д">
            <img class="letter" src="../../../assets/img/iye.gif" alt="ъ">
            <img class="letter" src="../../../assets/img/YO.gif" alt="ё">
            <img class="letter" src="../../../assets/img/Ms.gif" alt="м">
            <img class="letter" src="../../../assets/img/Nz.gif" alt="н">
            <img class="letter" src="../../../assets/img/i.gif" alt="и">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="к">
        </div>

        <div>
            <button style="width:430px;" class="yellow noselect">ПОДЬЁМНИК</button>
            <button style="width:430px;" class="yellow noselect" (click)="viewDiv9(); addEvent4();">ПОДЪЁМНИК</button>
            <button style="width:430px;" class="yellow noselect">ПОДЪЁМНИГ</button>
        </div>
    </div>

    <div id="div9">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/liftUpper.png" alt="ПОДЪЁМНИК">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="yi" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
                <img src="../../../assets/img/Nz.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/Ps.gif" alt="p" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Какая буква есть в слове?</p>
        </div>

        <div>
            <img class="letter" src="../../../assets/img/bristly.png" alt="ВЗЪЕРОШЕННЫЙ">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect" (click)="viewDiv11()">Ъ</button>
            <button class="yellow noselect">Ф</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Щ</button>
            <button class="yellow noselect">Х</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">Д</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/bristly.png" alt="ВЗЪЕРОШЕННЫЙ">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button style="width:600px;" class="yellow noselect">ВЗЬЕРОШЕННЫЙ</button>
            <button style="width:600px;" class="yellow noselect" (click)="viewDiv12(); addEvent5();">ВЗЪЕРОШЕННЫЙ</button>
        </div>
    </div>

    <div id="div12">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/bristly.png" alt="ВЗЪЕРОШЕННЫЙ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Vs.gif" alt="v" class="imgInDiv">
                <img src="../../../assets/img/Rs.gif" alt="r" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e2" class="imgInDiv">
                <img src="../../../assets/img/Sh.gif" alt="sh" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="yi" class="imgInDiv">
                <img src="../../../assets/img/Eiy.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n2" class="imgInDiv">
                <img src="../../../assets/img/Zs.gif" alt="z" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="i" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Какая буква есть в слове?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/edible.png" alt="СЪЕДОБНЫЙ">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="н">
            <img class="letter" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">В</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Х</button>
            <button class="yellow noselect">Э</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect" (click)="viewDiv14()">Ъ</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/edible.png" alt="СЪЕДОБНЫЙ">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/Ns.gif" alt="н">
            <img class="letter" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button style="width:430px;" class="yellow noselect">СЬЕДОБНЫЙ</button>
            <button style="width:430px;" class="yellow noselect" (click)="viewDiv15(); addEvent6();">СЪЕДОБНЫЙ</button>
        </div>
    </div>

    <div id="div15">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/edible.png" alt="СЪЕДОБНЫЙ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="yi" class="imgInDiv">
                <img src="../../../assets/img/Eiy.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>Какая буква есть в слове?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/inedible.png" alt="несъедобный">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">Ф</button>
            <button class="yellow noselect" (click)="viewDiv17()">Ъ</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect">Х</button>
            <button class="yellow noselect">Ш</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Т</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/inedible.png" alt="несъедобный">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
        </div>

        <div>
            <button style="width:600px;" class="yellow noselect" (click)="viewDiv18(); addEvent7();">НЕСЪЕДОБНЫЙ</button>
            <button style="width:600px;" class="yellow noselect">НЕСЬЕДОБНЫЙ</button>
        </div>
    </div>

    <div id="div18">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/inedible.png" alt="НЕСЪЕДОБНЫЙ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/y.gif" alt="i" class="imgInDiv">
                <img src="../../../assets/img/Nz.gif" alt="n" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="yi" class="imgInDiv">
                <img src="../../../assets/img/Eiy.gif" alt="y" class="imgInDiv">
                <img src="../../../assets/img/Ns.gif" alt="n2" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>Какая буква есть в слове?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/eatsUp.png" alt="ОБЪЕДАЮТ">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter" src="../../../assets/img/Ts.png" alt="Т">
        </div>

        <div>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">Ь</button>
            <button class="yellow noselect">Й</button>
            <button class="yellow noselect">В</button>
            <button class="yellow noselect">Р</button>
            <button class="yellow noselect">З</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ц</button>
            <button class="yellow noselect" (click)="viewDiv20()">Ъ</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">Ф</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/eatsUp.png" alt="ОБЪЕДАЮТ">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter" src="../../../assets/img/Ts.png" alt="Т">
        </div>

        <div>
            <button style="width:390px;" class="yellow noselect">ОБЬЕДАЮТ</button>
            <button style="width:390px;" class="yellow noselect" (click)="viewDiv21(); addEvent8();">ОБЪЕДАЮТ</button>
        </div>
    </div>

    <div id="div21">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/eatsUp.png" alt="ОБЪЕДАЮТ">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/iye.gif" alt="yi" class="imgInDiv">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDiv">
                <img src="../../../assets/img/Ts.png" alt="t" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img src="../../../assets/img/D.gif" alt="d" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Прочитай и запиши слоги.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">СЪЕЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЕЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЪЕМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЕМЬ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВЪЕЗД</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ВЫЕЗД</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПОДЪЁМ</span>
                <input style="width:222px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ПОДЪЕМ</span>
                <input style="width:222px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОБЪЁМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОБЪЕМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЕМЬЯ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БЬЁТ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/Tz.png" alt="Т">
            <img class="letter1" src="../../../assets/img/Ts.png" alt="Т">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img class="letter1" src="../../../assets/img/Zz.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Zs.gif" alt="З">
            <img class="letter1" src="../../../assets/img/Rz.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/Rs.gif" alt="Р">
            <img class="letter1" src="../../../assets/img/ei.gif" alt="Э">
            <img class="letter1" src="../../../assets/img/Vs.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Vz.gif" alt="В">
            <img class="letter1" src="../../../assets/img/Sh.gif" alt="Ш">
            <img class="letter1" src="../../../assets/img/ch.gif" alt="Ч">
            <img class="letter1" src="../../../assets/img/c.gif" alt="Ц">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/fS.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/fZ.gif" alt="Ф">
            <img class="letter1" src="../../../assets/img/iy.gif" alt="Ь">
            <img class="letter1" src="../../../assets/img/iye.gif" alt="Ъ">
            <img class="letter1" src="../../../assets/img/Hz.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/Hs.gif" alt="Х">
            <img class="letter1" src="../../../assets/img/y.gif" alt="Й">
            <img class="letter1" src="../../../assets/img/Shy.gif" alt="Щ">
            <img class="letter1" src="../../../assets/img/Eiy.gif" alt="Ы">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv24()">Домашнее задание</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/boy.png" class="imgInDiv1" title="МАЛЬЧИК" alt="МАЛЬЧИК">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/8.gif" class="imgInDiv1" title="ВОСЕМЬ" alt="ВОСЕМЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/5.gif" class="imgInDiv1" title="ПЯТЬ" alt="ПЯТЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/6.gif" class="imgInDiv1" title="ШЕСТЬ" alt="ШЕСТЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/7.gif" class="imgInDiv1" title="СЕМЬ" alt="СЕМЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/9.gif" class="imgInDiv1" title="ДЕВЯТЬ" alt="ДЕВЯТЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/10.gif" class="imgInDiv1" title="ДЕСЯТЬ" alt="ДЕСЯТЬ">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/trees.png" class="imgInDiv1" title="ДЕРЕВЬЯ" alt="ДЕРЕВЬЯ">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>