<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
            <img class="number1" src="../../../assets/img/6.gif" alt="6">
        </div>

        <div class="text">
            <p>Любое путешествие начинается с подготовки.</p>
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <p>Подбери примеры к соответствующим ответам.</p>

        <div style="display:flex; flex-direction:row; margin-bottom:0; justify-content:center;">
            <span class="buttGrey">20</span>
            <span class="buttGrey">50</span>
            <span class="buttGrey">70</span>
            <span class="buttGrey">90</span>
        </div>
        
        <div class="frameGrey" style="height:570px; width:1204px;">
            <img src="../../../assets/img/PuzzleChipAndDeil.png" alt="Чип и Дейл" style="height:570px; width:1204px;">

            <table style="border:none; height:570px; width:1204px; position:absolute; top:0; left:0; border-spacing:0;" id="tableMos">
                <tr>
                    <td>86 - 16</td>
                    <td>45 x 2</td>
                    <td>(3+2) x 10</td>
                    <td>1 x 70</td>
                    <td>83 + 7</td>
                    <td>20 + 0</td>
                    <td>1 x 90</td>
                    <td>3 + 17</td>
                </tr>
                <tr>
                    <td>10 x (10-1)</td>
                    <td>2 x 45</td>
                    <td>(100+20) - 50</td>
                    <td>1 x 20</td>
                    <td>70 x (5-4)</td>
                    <td>9 x (7+3)</td>
                    <td>30 - (10+0)</td>
                    <td>2 x (13+22)</td>
                </tr>
                <tr>
                    <td>5 x (3+1)</td>
                    <td>40 + 57 - 7</td>
                    <td>102 - 12</td>
                    <td>0 + 90</td>
                    <td>5 x (16-6)</td>
                    <td>(15+15) - 10</td>
                    <td>35 x 2</td>
                    <td>15 + (10-5)</td>
                </tr>
                <tr>
                    <td>60 - (4+6)</td>
                    <td>(20+15) x 2</td>
                    <td>1 x (30-10)</td>
                    <td>2 x (10+15)</td>
                    <td>1 x (10x5)</td>
                    <td>10 x (5+0)</td>
                    <td>2 x (10+15)</td>
                    <td>83 + 7</td>
                </tr>
                <tr>
                    <td>1 x (30-10)</td>
                    <td>40 + 57 - 7</td>
                    <td>0 + 90</td>
                    <td>102 - 12</td>
                    <td>(100+20) - 50</td>
                    <td>(15+15) - 10</td>
                    <td>2 x (13+22)</td>
                    <td>1 x 20</td>
                </tr>
            </table>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p style="color:red;">Запомни!</p>
            <p style="margin-bottom:0;">Чтобы быстро считать,</p>
            <p style="margin-top:0;">нужно уметь быстро складывать и отнимать десятки.</p>
        </div>

        <div style="margin-bottom:50px; display:flex; flex-direction:row; justify-content:center;" id="number">
            <button style="width:110px;" class="blue noselect">100</button>
            <button class="blue noselect">90</button>
            <button class="blue noselect">80</button>
            <button class="blue noselect">70</button>
            <button class="blue noselect">60</button>
            <button class="blue noselect">50</button>
            <button class="blue noselect">40</button>
            <button class="blue noselect">30</button>
        </div>

        <div style="display:flex; flex-direction:column;" id="structure">
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="inDivConsVow">290 - 200</div>
                <div class="inDivConsVow">240 - 200</div>
                <div class="inDivCons">110 - 70</div>
                <div class="inDivConsVow">280 - 200</div>
                <div class="inDivConsVow">400 - 300</div>
                <div class="inDivCons">110 - 50</div>
                <div class="inDivConsVow">250 - 200</div>
                <div class="inDivConsVow">270 - 200</div>
                <div class="inDivCons">30 + 50</div>
                <div class="inDivCons">120 - 40</div>
            </div>
    
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="inDivConsVow">260 - 160</div>
                <div class="inDivCons">90 + 0</div>
                <div class="inDivCons">110 - 60</div>
                <div class="inDivCons">110 - 40</div>
                <div class="inDivCons">80 + 20</div>
                <div class="inDivConsVow">260 - 200</div>
                <div class="inDivCons">10 + 50</div>
                <div class="inDivCons">110 - 20</div>
                <div class="inDivCons">30 + 40</div>
                <div class="inDivCons">10 + 40</div>
            </div>

            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="inDivCons">30 + 0</div>
                <div class="inDivConsVow">230 - 200</div>
                <div class="inDivCons">20 + 20</div>
                <div class="inDivCons">110 - 80</div>
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div style="position:relative; width:1300px;">
            <p style="color:red; margin:0;">Запомни!</p>
            <p style="margin:0;">Чтобы найти значение числового выражения,</p>
            <p style="margin:0;">содержащего скобки,</p>
            <p style="margin:0;">нужно первым выполнить действия в скобках.</p>
            <div style="display:flex; flex-direction:row; margin:0; margin-right:20%; justify-content:center;">
                <p style="color:red; margin:0; margin-right:50px;">1 действие</p>
                <p style="color:red; margin:0;">2 действие</p>
            </div>
            <p style="font-size:3em; margin:0;">(10 - 4) : 3 = <span style="color:red; font-size:inherit;">?</span></p>
            <p style="font-size:3em; margin:0;">1) 10 - 4 = 6</p>
            <p style="font-size:3em; margin:0;">2) 6 : 3 = 2</p>
            <p style="font-size:3em; margin:0;">(10 - 4) : 3 = <span style="color:red; font-size:inherit;">2</span></p>
            <img src="../../../assets/img/DonaldRest.gif" style="position:absolute; bottom:0; right:0; height:319px;" alt="утка">
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Реши примеры в два действия и впиши ответ.</p>
        </div>

        <div style="display: flex; flex-direction:row; margin-bottom:20px;">
            <div class="spanAndInput">
                <span class="spanInDiv">(35+5) : 2=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">(40+60) : 10=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">(20+7) : 3=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">36 : (10-4)=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">(40+9) : 7=</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <div class="spanAndInput">
                <span class="spanInDiv">(60 + 4) : 8=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">90 : (10-1)=</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">(25+20) : 5=</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p style="color:green;">1 задача</p>
            <p style="margin-top:0;">Найди закономерность и определи следующих 2 числа.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <button class="green noselect">-7</button>
            <button class="green noselect">-10</button>
            <button class="green noselect">-17</button>
            <button class="green noselect">-20</button>
            <button class="green noselect">-27</button>
            <button class="green noselect">-30</button>
            <button class="green noselect">?</button>
            <button class="green noselect">?</button>
        </div>

        <div style="display:flex; flex-direction:row;">
            <button style="width:200px; height:72px;" class="blue noselect">-37, -47</button>
            <button style="width:200px; height:72px;" class="blue noselect">-40, -47</button>
            <button style="width:200px; height:72px;" class="blue noselect" (click)="viewDiv7()">-37, -40</button>
            <button style="width:200px; height:72px;" class="blue noselect">-40, -37</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <p style="margin:0;">Замечательно!</p>
            <p style="color:green; margin:0;">2 задача</p>
            <p style="margin:0;">Три гнома собирали рубины.</p>
            <p style="margin:0;">Гном в синей шапке собрал не менее 7 рубинов.</p>
            <p style="margin:0;">Гном в красной шапке собрал не более 9 рубинов.</p>
            <p style="margin:0;">Гном в жёлтой шапке собрал рубинов больше, чем гном в синей шапке,</p>
            <p style="margin:0;">но меньше, чем гном в красной шапке.</p>
            <p style="margin-top:0;">Сколько всего рубинов собрали все гномы вместе?</p>
        </div>

        <div style="display:flex; flex-direction:row;">
            <div style="display:flex; flex-direction:row; align-items:center; margin-right:100px;">
                <img src="../../../assets/img/dwarf1.png" style="height:201px;" alt="гном">
                <img src="../../../assets/img/biggerEqualy.png" style="height:58px;" alt="знак">
                <img src="../../../assets/img/seven.png" style="height:95px;" alt="семь">
                <img src="../../../assets/img/rubin.png" style="height:68px;" alt="рубин">
            </div>

            <div style="display:flex; flex-direction:row; align-items:center; margin-bottom:150px; margin-right:100px;">
                <img src="../../../assets/img/dwarf2.png" style="height:214px;" alt="гном">
                <div>
                    <div style="display:flex; flex-direction:row;">
                        <img src="../../../assets/img/seven.png" style="height:95px;" alt="семь">
                        <img src="../../../assets/img/less.png" style="height:60px;" alt="знак">
                        <img src="../../../assets/img/question.png" style="height:66px;" alt="вопрос">
                        <img src="../../../assets/img/less.png" style="height:60px;" alt="знак">
                        <img src="../../../assets/img/seven.png" style="height:89px;" alt="девять">
                    </div>

                    <img src="../../../assets/img/rubin.png" style="height:77px;" alt="рубин">
                </div>
            </div>

            <div style="display:flex; flex-direction:row; align-items:center;">
                <img src="../../../assets/img/dwarf3.png" style="height:216px;" alt="гном">
                <img src="../../../assets/img/lessEqual.png" style="height:67px;" alt="знак">
                <img src="../../../assets/img/nine.png" style="height:88px;" alt="девять">
                <img src="../../../assets/img/rubin.png" style="height:80px;" alt="рубин">
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">
            <button class="blue noselect">7</button>
            <button class="blue noselect">8</button>
            <button class="blue noselect">9</button>
            <button class="blue noselect">16</button>
            <button class="blue noselect">17</button>
            <button class="blue noselect" (click)="viewDiv8()">24</button>
            <button class="blue noselect">30</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p style="margin:0;">Замечательно!</p>
            <p style="color:green; margin:0;">3 задача</p>
            <p style="margin:0;">В магазине привезли всего 40 фиолетовых, зелёных и синих машинок.</p>
            <p style="margin:0;">Из них 12 фиолетовых и 13 зелёных машинок.</p>
            <p style="margin-top:0;">Сколько синих машинок привезли в магазин?</p>
        </div>

        <div style="display:flex; flex-direction:row; height:450px; align-items:center;">
            <div style="height:inherit; display:flex; flex-direction:column; justify-content:space-between;">
                <div style="display:flex; flex-direction:row; align-items:center;">
                    <img src="../../../assets/img/car1.png" style="height:108px;" alt="машинка">
                    <img src="../../../assets/img/-.png" style="height:20px;" alt="-">
                    <img src="../../../assets/img/one.png" style="height:102px;" alt="один">
                    <img src="../../../assets/img/two.png" style="height:105px;" alt="два">
                </div>

                <div style="display:flex; flex-direction:row; align-items:center;">
                    <img src="../../../assets/img/car4.png" style="height:108px;" alt="машинка">
                    <img src="../../../assets/img/-.png" style="height:20px;" alt="-">
                    <img src="../../../assets/img/one.png" style="height:102px;" alt="один">
                    <img src="../../../assets/img/three.png" style="height:101px;" alt="три">
                </div>

                <div style="display:flex; flex-direction:row; align-items:center;">
                    <img src="../../../assets/img/car5.png" style="height:108px;" alt="машинка">
                    <img src="../../../assets/img/-.png" style="height:20px;" alt="-">
                    <img src="../../../assets/img/question.png" style="height:99px;" alt="вопрос">
                </div>
            </div>

            <img src="../../../assets/img/shemaGeneralSchema.png" style="height:447px;" alt="обощение">
            <img src="../../../assets/img/four.png" style="height:97px;" alt="четыре">
            <img src="../../../assets/img/zero.png" style="height:103px; margin-right:50px;" alt="ноль">

            <div style="position:relative; height:450px; width:470px;">
                <img src="../../../assets/img/car1.png" style="height:109px; position:absolute; top:10%; left:5%;" alt="машинка">
                <img src="../../../assets/img/car1.png" style="height:109px; position:absolute; top:60%; left:12%;" alt="машинка">
                <img src="../../../assets/img/car4.png" style="height:109px; position:absolute; top:30%; left:10%;" alt="машинка">
                <img src="../../../assets/img/car4.png" style="height:109px; position:absolute; top:45%; left:40%;" alt="машинка">
                <img src="../../../assets/img/car5.png" style="height:109px; position:absolute; top:40%; left:5%;" alt="машинка">
                <img src="../../../assets/img/car5.png" style="height:109px; position:absolute; top:20%; left:40%;" alt="машинка">
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">
            <button class="blue noselect">12</button>
            <button class="blue noselect">13</button>
            <button class="blue noselect">25</button>
            <button class="blue noselect" (click)="viewDiv9()">15</button>
            <button class="blue noselect">40</button>
        </div>
    </div>

    <div id="div9">
        <p style="margin:0;">Замечательно!</p>
        <button style="width:370px; font-size:1em; margin-bottom:20px;" class="blue noselect" (click)="viewDiv10(); addEvent3();">Домашнее задание</button>

        <div>
            <img src="../../../assets/img/TimonDance.gif" style="height:170px;" alt="Тимон">
            <img src="../../../assets/img/DonaldRest.gif" style="height:223px;" alt="утка">
            <img src="../../../assets/img/MikkiClass.gif" style="height:249px;" alt="мышь">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Посчитай и соедини с ответом.</p>
        </div>

        <div style="margin-bottom:100px; display:flex; flex-direction:row;" id="sum">
            <div class="inDivCons">100</div>
            <div class="inDivCons">70</div>
            <div class="inDivCons">50</div>
            <div class="inDivCons">6</div>
            <div class="inDivCons">30</div>
            <div class="inDivCons">27</div>
            <div class="inDivCons">1</div>
            <div class="inDivCons">7</div>
            <div class="inDivCons">30</div>
            <div class="inDivCons">25</div>
            <div class="inDivCons">10</div>
            <div class="inDivCons">6</div>
        </div>

        <div id="example">
            <div style="display:flex; flex-direction:row; margin-bottom:20px;">
                <div class="inDivConsVow">(30-0) : 1</div>
                <div class="inDivConsVow">55 - 15 : 3</div>
                <div class="inDivConsVow">5 x (100-95)</div>
                <div class="inDivConsVow">(50-20) : 5</div>
                <div class="inDivConsVow">40 : (8-4)</div>
                <div class="inDivConsVow">(30+30) : 10</div>
                <div class="inDivConsVow">56 : (6+2)</div>
                <div class="inDivConsVow">9 x (6-3)</div>
            </div>
    
            <div style="display:flex; flex-direction:row;">
                <div class="inDivConsVow">70 - 40</div>
                <div class="inDivConsVow">100:(50+50)</div>
                <div class="inDivConsVow">64 + 2 x 3</div>
                <div class="inDivConsVow">10 x (10+0)</div>
            </div>
        </div>
    </div>
</div>