<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>Любое путешествие начинается с подготовки.</p>
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Составь равенства.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <div class="inDivConsVow" id="divSum27" (click)="clickDivSum27()">13 + 14</div>
            <div class="inDivConsVow" id="divSum7" (click)="clickDivSum7()">17 - 10</div>
            <div class="inDivConsVow" id="divSum6" (click)="clickDivSum6()">14 - 8</div>
            <div class="inDivConsVow" id="divSum30" (click)="clickDivSum30()">25 + 5</div>
            <div class="inDivConsVow" id="divSum29" (click)="clickDivSum29()">30 - 1</div>
            <div class="inDivConsVow" id="divSum7d" (click)="clickDivSum7d()">10 - 3</div>
            <div class="inDivConsVow" id="divSum12" (click)="clickDivSum12()">8 + 4</div>
            <div class="inDivConsVow" id="divSum6d" (click)="clickDivSum6d()">2 + 4</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div class="inDivConsVow" id="divSum27d" (click)="clickDivSum27d()">14 + 13</div>
            <div class="inDivConsVow" id="divSum15" (click)="clickDivSum15()">30 - 15</div>
            <div class="inDivConsVow" id="divSum12d" (click)="clickDivSum12d()">19 - 7</div>
            <div class="inDivConsVow" id="divSum29d" (click)="clickDivSum29d()">21 + 8</div>
            <div class="inDivConsVow" id="divSum30d" (click)="clickDivSum30d()">12 + 18</div>
            <div class="inDivConsVow" id="divSum15d" (click)="clickDivSum15d()">7 + 8</div>
            <div class="inDivConsVow" id="divSum16" (click)="clickDivSum16()">5 + 11</div>
            <div class="inDivConsVow" id="divSum16d" (click)="clickDivSum16d()">9 + 7</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>А теперь вспомни таблицу умножения на 4.</p>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="24Inc" (click)="click24Inc()">24</div>
            <div style="width:130px;" class="inDivConsVow" id="36Inc" (click)="click36Inc()">36</div>
            <div style="width:130px;" class="inDivConsVow" id="32Inc" (click)="click32Inc()">32</div>
            <div style="width:130px;" class="inDivConsVow" id="40Inc" (click)="click40Inc()">40</div>
            <div style="width:130px;" class="inDivConsVow" id="12Inc" (click)="click12Inc()">12</div>
            <div style="width:130px;" class="inDivConsVow" id="16Inc" (click)="click16Inc()">16</div>
            <div style="width:130px;" class="inDivConsVow" id="28Inc" (click)="click28Inc()">28</div>
            <div style="width:130px;" class="inDivConsVow" id="20Inc" (click)="click20Inc()">20</div>
            <div style="width:130px;" class="inDivConsVow" id="8Inc" (click)="click8Inc()">8</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="divInc32" (click)="clickDivInc32()">4x8=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc24" (click)="clickDivInc24()">4x6=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc20" (click)="clickDivInc20()">4x5=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc8" (click)="clickDivInc8()">4x2=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc16" (click)="clickDivInc16()">4x4=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc12" (click)="clickDivInc12()">3x4=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc28" (click)="clickDivInc28()">4x7=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc36" (click)="clickDivInc36()">4x9=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc40" (click)="clickDivInc40()">4x10=</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="margin: 0;">А теперь попробуй пересечь долину трёх задач.</p>
            <p style="color:green; margin: 0;">1 задача</p>
            <p style="margin: 0;">На столе стоит 3 вазы.</p>
            <p style="margin: 0;">В каждой вазе по 7 цветков.</p>
            <p style="margin-top:0;">Сколько всего цветков в вазах?</p>
        </div>

        <div style="position:relative; height:352px;">
            <img style="height:264px; position: absolute; left:0%; bottom:0%;" src="../../../assets/img/chairAndTable.png" alt="Стол и стулья">
            <img style="height:153px; position: absolute; left:15%; top:0%;" src="../../../assets/img/flowersInVase.png" alt="цветы в вазе">
            <img style="height:100px; position: absolute; left:27%; top:15%;" src="../../../assets/img/vase2.png" alt="ваза">
            <img style="height:100px; position: absolute; left:37%; top:15%;" src="../../../assets/img/vase2.png" alt="ваза">
            <img style="height:60px; position: absolute; left:30%; top:0%;" src="../../../assets/img/blueQuestion.png" alt="вопрос">
            <img style="height:60px; position: absolute; left:40%; top:0%;" src="../../../assets/img/blueQuestion.png" alt="вопрос">
            <img style="height:80px; position: absolute; left:30%; top:60%;" src="../../../assets/img/redQuestion.png" alt="вопрос">
            <img style="height:270px; width:50px; position: absolute; left:32%; top:15%; transform: rotate(90deg);" src="../../../assets/img/GeneralSchema.png" alt="схема">
            <button style="position:absolute; right:20%; top:0%;" class="blue noselect">18</button>
            <button style="position:absolute; right:10%; top:20%;" class="blue noselect" (click)="viewDiv5()">21</button>
            <button style="position:absolute; right:0%; top:40%;" class="blue noselect">24</button>
        </div>
    </div>

    <div id="div5">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">2 задача</p>
            <p style="margin: 0;">Белочки собрали шишки.</p>
            <p style="margin: 0;">2 белки собрали по 3 шишки.</p>
            <p style="margin: 0;">А 3 белки собрали по 6 шишек.</p>
            <p style="margin-top: 0;">Сколько всего шишек собрали белки?</p>
        </div>

        <div style="position:relative; height:400px; width:1167px;">
            <img style="height:383px; position: absolute; left:0%; top:20%;" src="../../../assets/img/meadow2.png" alt="луг">
            <img style="height:198px; position: absolute; left:5%; top:25%;" src="../../../assets/img/squirrel3.png" alt="белка">
            <img style="height:198px; position: absolute; left:17%; top:25%;" src="../../../assets/img/squirrel3.png" alt="белка">
            <img style="height:198px; position: absolute; left:29%; top:25%;" src="../../../assets/img/squirrel3.png" alt="белка">
            <img style="height:198px; position: absolute; right:5%; top:25%;" src="../../../assets/img/squirrel2.png" alt="белка">
            <img style="height:198px; position: absolute; right:20%; top:25%;" src="../../../assets/img/squirrel2.png" alt="белка">
            <img style="height:100px; position: absolute; left:50%; top:30%;" src="../../../assets/img/redQuestion.png" alt="вопрос">
            <img style="height:80px; position: absolute; left:24%; top:90%;" src="../../../assets/img/blueQuestion.png" alt="вопрос">
            <img style="height:80px; position: absolute; right:18%; top:90%;" src="../../../assets/img/blueQuestion.png" alt="вопрос">
            <img style="height:56px; position: absolute; left:10%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; left:12%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; left:23%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; left:25%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; left:35%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; left:37%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; right:12%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:56px; position: absolute; right:27%; top:60%;" src="../../../assets/img/cones.png" alt="шишки">
            <img style="height:270px; width:50px; position: absolute; left:25%; top:50%; transform: rotate(90deg);" src="../../../assets/img/GeneralSchema.png" alt="схема">
            <img style="height:270px; width:50px; position: absolute; right:20%; top:50%; transform: rotate(90deg);" src="../../../assets/img/GeneralSchema.png" alt="схема">
            <img style="height:200px; position: absolute; left:32%; top:50%; transform: rotate(90deg);" src="../../../assets/img/arrow1.png" alt="стрелка">
            <img style="height:200px; position: absolute; left:55%; top:50%; transform: rotate(-90deg);" src="../../../assets/img/arrow2.png" alt="стрелка">
            <button style="position:absolute; right:40%; top:0%;" class="blue noselect">18</button>
            <button style="position:absolute; right:50%; top:10%;" class="blue noselect">6</button>
            <button style="position:absolute; right:60%; top:0%;" class="blue noselect" (click)="viewDiv6()">24</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">3 задача</p>
            <p style="margin: 0;">По небу летели 4 стаи птиц.</p>
            <p style="margin: 0;">В каждой стаи по 8 птиц.</p>
            <p style="margin: 0;">6 птиц решили дальше не лететь.</p>
            <p style="margin: 0;">Сколько всего птицп полетело дальше?</p>
        </div>

        <div style="position:relative; height:460px; width:1140px;">
            <img style="height:317px; position: absolute; left:0%; bottom:0%;" src="../../../assets/img/meadow3.png" alt="луг">
            <img style="height:85px; position: absolute; left:0%; top:20%;" src="../../../assets/img/birds.png" alt="птицы">
            <img style="height:85px; position: absolute; left:25%; top:10%;" src="../../../assets/img/birds.png" alt="птицы">
            <img style="height:85px; position: absolute; left:50%; top:0%;" src="../../../assets/img/birds.png" alt="птицы">
            <img style="height:85px; position: absolute; left:75%; top:0%;" src="../../../assets/img/birds.png" alt="птицы">
            <img style="height:97px; position: absolute; bottom:0%; right:40%;" src="../../../assets/img/swan.png" alt="лебедь">
            <img style="height:97px; position: absolute; bottom:20%; right:55%;" src="../../../assets/img/swan.png" alt="лебедь">
            <img style="height:97px; position: absolute; bottom:30%; right:48%;" src="../../../assets/img/swan.png" alt="лебедь">
            <img style="height:97px; position: absolute; bottom:20%; right:40%;" src="../../../assets/img/swan.png" alt="лебедь">
            <img style="height:97px; position: absolute; bottom:10%; right:30%;" src="../../../assets/img/swan.png" alt="лебедь">
            <img style="height:97px; position: absolute; bottom:0%; right:20%;" src="../../../assets/img/swan.png" alt="лебедь">
            <button style="position:absolute; left:40%; top:20%;" class="blue noselect">32</button>
            <button style="position:absolute; left:50%; top:25%;" class="blue noselect" (click)="viewDiv7()">26</button>
            <button style="position:absolute; left:60%; top:20%;" class="blue noselect">12</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <p style="margin:0;">Молодец!</p>
            <p style="margin:0; color:red;">ВНИМАНИЕ</p>
            <p style="margin:0;">Сегодня изучаем таблицу умножения на 6.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">6 x 9 =</span>
                <input id="input1" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 7 =</span>
                <input id="input2" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 6 =</span>
                <input id="input3" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 5 =</span>
                <input id="input4" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 3 =</span>
                <input id="input5" type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">6 x 2 =</span>
                <input id="input6" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 4 =</span>
                <input id="input7" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 8 =</span>
                <input id="input8" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">6 x 10 =</span>
                <input id="input9" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p style="margin:0;">Молодец!</p>
            <p style="margin:0; color:red;">Наше путешествие прошло успешно!</p>
            <p style="color:green;">Домашнее задание:</p>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="30Incr" (click)="click30Incr()">30</div>
            <div style="width:130px;" class="inDivConsVow" id="48Incr" (click)="click48Incr()">48</div>
            <div style="width:130px;" class="inDivConsVow" id="36Incr" (click)="click36Incr()">36</div>
            <div style="width:130px;" class="inDivConsVow" id="60Incr" (click)="click60Incr()">60</div>
            <div style="width:130px;" class="inDivConsVow" id="6Incr" (click)="click6Incr()">6</div>
            <div style="width:130px;" class="inDivConsVow" id="54Incr" (click)="click54Incr()">54</div>
            <div style="width:130px;" class="inDivConsVow" id="24Incr" (click)="click24Incr()">24</div>
            <div style="width:130px;" class="inDivConsVow" id="18Incr" (click)="click18Incr()">18</div>
            <div style="width:130px;" class="inDivConsVow" id="12Incr" (click)="click12Incr()">12</div>
            <div style="width:130px;" class="inDivConsVow" id="42Incr" (click)="click42Incr()">42</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="divIncr18" (click)="clickDivIncr18()">6x3=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr48" (click)="clickDivIncr48()">6x8=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr42" (click)="clickDivIncr42()">6x7=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr24" (click)="clickDivIncr24()">6x4=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr6" (click)="clickDivIncr6()">6x1=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr36" (click)="clickDivIncr36()">6x6=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr30" (click)="clickDivIncr30()">6x5=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr54" (click)="clickDivIncr54()">6x9=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr60" (click)="clickDivIncr60()">6x10=</div>
            <div style="width:130px;" class="inDivConsVow" id="divIncr12" (click)="clickDivIncr12()">6x2=</div>
        </div>
    </div>
</div>