<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/4.gif" alt="4">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буковки?</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="p" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm2">
                <img src="../../../assets/img/turkey.png" alt="turkey" class="imgInDiv">
                <img src="../../../assets/img/anchor.png" alt="anchor" class="imgInDiv">
                <img src="../../../assets/img/ball.png" alt="ball" class="imgInDiv">
                <img src="../../../assets/img/wasps.png" alt="wasps" class="imgInDiv">
                <img src="../../../assets/img/bubble.png" alt="bubble" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p style="font-size:2em; color:red;">Узнай буквы.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm3">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm4">
                <img src="../../../assets/img/lizard.png" alt="lizzard" class="imgInDiv">
                <img src="../../../assets/img/bus.png" alt="bus" class="imgInDiv">
                <img src="../../../assets/img/hoop.png" alt="hoop" class="imgInDiv">
                <img src="../../../assets/img/indian.png" alt="indian" class="imgInDiv">
                <img src="../../../assets/img/duck.png" alt="duck" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p style="font-size:2em; color:red;">Соедини картинку с буквой.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm5">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm6">
                <img src="../../../assets/img/penguin.png" alt="penguin" class="imgInDiv">
                <img src="../../../assets/img/bear.png" alt="bear" class="imgInDiv">
                <img src="../../../assets/img/cat2.png" alt="cat" class="imgInDiv">
                <img src="../../../assets/img/panda.png" alt="panda" class="imgInDiv">
                <img src="../../../assets/img/mouse.png" alt="mouse" class="imgInDiv">
                <img src="../../../assets/img/whale.png" alt="whale" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div style="line-height:0.2;">
            <p>Знакомимся с новыми буковками,</p>
            <p>которые не любят петь в одиночку.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/moose.png" alt="лось">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="л">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect" (click)="viewDiv6()">Л</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <img class="print" src="../../../assets/img/foxM.png" alt="лис">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="л">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect" (click)="viewDiv7()">Л</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <img class="print" src="../../../assets/img/cat2.png" alt="кот">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="к">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv8()">К</button>
            <button class="yellow noselect">С</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Котик говорит</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/cat2.png" alt="кот">
            <img class="letter" src="../../../assets/img/Mz.gif" alt="м">
            <img class="letter" src="../../../assets/img/ya.gif" alt="я">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">МУЯ</button>
            <button class="yellow noselect" (click)="viewDiv9()">МЯУ</button>
            <button class="yellow noselect">ЯМУ</button>
            <button class="yellow noselect">УМЯ</button>
            <button class="yellow noselect">УЯМ</button>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/magnifier.png" alt="лупа">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
            <img class="letter" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">ЛИПИ</button>
            <button style="width:300px;" class="yellow noselect">ПАЛО</button>
            <button class="yellow noselect" style="width:300px;">ПАЛУ</button>
            <button class="yellow noselect" style="width:300px;" (click)="viewDiv10()">ЛУПА</button>
            <button class="yellow noselect" style="width:300px;">ПУЛА</button>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>
    
        <div>
            <img class="print" src="../../../assets/img/paw.png" alt="лапа">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:300px;" class="yellow noselect">ПУЛА</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv11()">ЛАПА</button>
            <button style="width:300px;" class="yellow noselect">ПАЛУ</button>
            <button style="width:300px;" class="yellow noselect">ЛУПА</button>
            <button style="width:300px;" class="yellow noselect">ПАЛА</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div style="display:flex; align-items:flex-end; justify-content:center;">
            <img class="print" src="../../../assets/img/mather.png" alt="мама">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">МИМИ</button>
            <button style="width:300px;" class="yellow noselect">МОМО</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv12()">МАМА</button>
            <button style="width:300px;" class="yellow noselect">МЕМЕ</button>
            <button style="width:300px;" class="yellow noselect">МУМУ</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img style="width:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img style="width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <button style="width:700px;" class="yellow noselect">Я ЛЮБЛЮ МАМА.</button>
            <button style="width:700px;" class="yellow noselect" (click)="viewDiv13()">Я ЛЮБЛЮ МАМУ.</button>
            <button style="width:700px;" class="yellow noselect">А ЛЮБЛЮ МАМУ.</button>
            <button style="width:700px;" class="yellow noselect">У ЛЮБЛЮ МАМУ.</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>

        <div style="display:flex; align-items:flex-end; justify-content:center;">
            <img class="print" src="../../../assets/img/father.png" alt="папа">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="п">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="п">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">ПИПИ</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv14()">ПАПА</button>
            <button style="width:300px;" class="yellow noselect">ПОПО</button>
            <button style="width:300px;" class="yellow noselect">ПЕПЕ</button>
            <button style="width:300px;" class="yellow noselect">ПУПУ</button>
        </div>
    </div>

    <div id="div14">
        <div>
            <p>Попробуй прочитать предложение.</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img style="width:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img style="width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>
        
        <div>
            <p>Найди предложение!</p>
        </div>

        <div style="display:flex; flex-direction:column;">
            <button style="width:700px;" class="yellow noselect">Я ЛЮБЛЮ ПАПА.</button>
            <button style="width:700px;" class="yellow noselect" (click)="viewDiv15()">Я ЛЮБЛЮ ПАПУ.</button>
            <button style="width:700px;" class="yellow noselect">А ЛЮБЛЮ ПАПУ.</button>
            <button style="width:700px;" class="yellow noselect">У ЛЮБЛЮ ПАПУ.</button>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Дождик говорит</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="print" src="../../../assets/img/rain.png" alt="дождь">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">КУП-КУП</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv16(); addEvent4();">КАП-КАП</button>
            <button style="width:300px;" class="yellow noselect">КАП-КУП</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово.</p>
        </div>

        <div>
            <img style="width:100px;" class="img3" src="../../../assets/img/Mz.gif" alt="м">
            <img style="width:100px;" class="img3" src="../../../assets/img/ya.gif" alt="я">
            <img style="width:100px;" class="img3" src="../../../assets/img/u.gif" alt="У">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Mz.gif" class="imgInDiv" alt="m">
                <img src="../../../assets/img/ya.gif" class="imgInDiv" alt="ya">
                <img src="../../../assets/img/u.gif" class="imgInDiv" alt="u">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv17(); addEvent5();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div17">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово.</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a">
                <img class="imgInDiv" src="../../../assets/img/Ks.gif" alt="k">
                <img class="imgInDiv" src="../../../assets/img/dash.png" alt="dash">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a">
                <img class="imgInDiv" src="../../../assets/img/Ks.gif" alt="k">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv18(); addEvent6();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div18">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово.</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img style="width:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ms.gif" alt="м">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img style="width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall" style="display:flex; align-items:flex-end;">
                    <div style="height:55px;" class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img class="imgInDiv" src="../../../assets/img/ya.gif" alt="ya">
                <img class="imgInDiv" src="../../../assets/img/u.gif" alt="u">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a">
                <img class="imgInDiv" style="height:50px; width:50px;" class="img2" src="../../../assets/img/dot.png" alt="dot">
                <img class="imgInDiv" src="../../../assets/img/heart.png" alt="heart">
                <img class="imgInDiv" src="../../../assets/img/Ms.gif" alt="m1">
                <img class="imgInDiv" src="../../../assets/img/Ms.gif" alt="m2">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19(); addEvent7();">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово.</p>
        </div>

        <div>
            <img style="width:100px;" class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img style="width:130px;" class="letter1" src="../../../assets/img/heart.png" alt="сердце">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="а">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img style="width:50px;" class="img2" src="../../../assets/img/dot.png" alt="точка">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall" style="display:flex; align-items:flex-end;">
                    <div style="height:55px;" class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img class="imgInDiv" src="../../../assets/img/ya.gif" alt="ya">
                <img class="imgInDiv" src="../../../assets/img/u.gif" alt="u">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a">
                <img class="imgInDiv" style="height:50px; width:50px;" class="img2" src="../../../assets/img/dot.png" alt="dot">
                <img class="imgInDiv" src="../../../assets/img/heart.png" alt="heart">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p1">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p2">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv20()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div20">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и запиши.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; justify-content:center;">
            <div class="spanAndInput">
                <span class="spanInDiv">ЛУПА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КАП-КАП</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛАПА</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div21">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" class="letter1" alt="A">
            <img src="../../../assets/img/i.gif" class="letter1" alt="И">
            <img src="../../../assets/img/o.gif" class="letter1" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1"  src="../../../assets/img/Lz.gif" alt="л">
            <img src="../../../assets/img/u.gif" class="letter1" alt="У">
            <img src="../../../assets/img/ya.gif" class="letter1" alt="Я">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/e.gif" alt="Е">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv22(); addEvent8();">Домашнее задание</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и соедини с картинкой.</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; justify-content:space-between;">
                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">ЛАПА</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">ЛУПА</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">КАП-КАП</div>
                    <div class="divInDiv"></div>
                </div>

                <div style="height:220px;" class="inDiv">
                    <div class="textInDiv">МЯУ</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img style="height:135px;" src="../../../assets/img/magnifier.png" class="imgInDiv" alt="magnifier">
                <img style="height:135px;" src="../../../assets/img/paw.png" class="imgInDiv" alt="paw">
                <img style="height:135px;" src="../../../assets/img/cat2.png" class="imgInDiv" alt="cat">
                <img style="height:135px;" src="../../../assets/img/rain.png" class="imgInDiv" alt="rain">
            </div>
        </div>
    </div>
</div>