<div class="total">
    <app-gif></app-gif>
    <div id="div1">
        <div>
            <p class="title1">Страна Математика</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/7M.png" alt="7">
        </div>

        <div class="text">
            <p>Любое путешествие начинается с подготовки.</p>
            <p>В стране Математика очень важно быстро считать.</p>
            <p>Внимание!</p>
            <p>Начинаем!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Реши примеры.</p>
        </div>

        <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
            <div class="inDivConsVow" id="inc24" (click)="clickInc24()">6 x 4</div>
            <div class="inDivConsVow" id="inc24d" (click)="clickInc24d()">3 x 8</div>
            <div class="inDivConsVow" id="inc42" (click)="clickInc42()">7 x 6</div>
            <div class="inDivConsVow" id="inc35" (click)="clickInc35()">5 x 7</div>
            <div class="inDivConsVow" id="inc45" (click)="clickInc45()">5 x 9</div>
            <div class="inDivConsVow" id="inc32" (click)="clickInc32()">4 x 8</div>
            <div class="inDivConsVow" id="inc27" (click)="clickInc27()">9 x 3</div>
            <div class="inDivConsVow" id="inc20" (click)="clickInc20()">4 x 5</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div class="inDivConsVow" id="sum27" (click)="clickSum27()">54 - 27</div>
            <div class="inDivConsVow" id="sum45" (click)="clickSum45()">9+9+9+9+9</div>
            <div class="inDivConsVow" id="sum35" (click)="clickSum35()">7+7+7+7+7</div>
            <div class="inDivConsVow" id="sum24" (click)="clickSum24()">8+8+8</div>
            <div class="inDivConsVow" id="sum20" (click)="clickSum20()">5+5+5+5</div>
            <div class="inDivConsVow" id="sum42" (click)="clickSum42()">26 + 16</div>
            <div class="inDivConsVow" id="sum32" (click)="clickSum32()">8+8+8+8</div>
            <div class="inDivConsVow" id="sum24d" (click)="clickSum24d()">8 + 16</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3()">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div style="position:relative; width:1000px;">
            <p style="color:red; margin:0;">Запомни!</p>
            <p>Компоненты действия сложения:</p>
            <p style="font-size:4em; margin:0;">5 + 2</p>
            <div style="display:flex; flex-direction:row; margin:0; justify-content:center;">
                <p style="color:red; margin:0; margin-right: 50px;">ПЕРВОЕ</p>
                <p style="color:red; margin:0;">ВТОРОЕ</p>
            </div>
            <div style="display:flex; flex-direction:row; margin:0; justify-content:center;">
                <p style="color:red; margin:0; margin-right: 50px;">СЛАГАЕМОЕ</p>
                <p style="color:red; margin:0;">СЛАГАЕМОЕ</p>
            </div>
            <p>Результат действия сложения:</p>
            <p style="font-size:4em; margin:0;">5 + 2 = 7</p>
            <p style="color:red; margin:0; margin-left:40%;">СУММА</p>
            <img src="../../../assets/img/tigerJump.gif" style="position:absolute; bottom:0; left:0; height:336px;" alt="тигр">
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4()">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p style="margin:0;">Молодец!</p>
            <p style="margin:0; color:red;">ВНИМАНИЕ</p>
            <p style="margin-top:0;">Сегодня изучаем таблицу умножения на 9.</p>
        </div>

        <div style="margin-bottom: 20px; display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="50Inc" (click)="click50Inc()">50</div>
            <div style="width:130px;" class="inDivConsVow" id="80Inc" (click)="click80Inc()">80</div>
            <div style="width:130px;" class="inDivConsVow" id="60Inc" (click)="click60Inc()">60</div>
            <div style="width:130px;" class="inDivConsVow" id="10Inc" (click)="click10Inc()">10</div>
            <div style="width:130px;" class="inDivConsVow" id="40Inc" (click)="click40Inc()">40</div>
            <div style="width:130px;" class="inDivConsVow" id="70Inc" (click)="click70Inc()">70</div>
            <div style="width:130px;" class="inDivConsVow" id="30Inc" (click)="click30Inc()">30</div>
            <div style="width:130px;" class="inDivConsVow" id="100Inc" (click)="click100Inc()">100</div>
            <div style="width:130px;" class="inDivConsVow" id="90Inc" (click)="click90Inc()">90</div>
            <div style="width:130px;" class="inDivConsVow" id="20Inc" (click)="click20Inc()">20</div>
        </div>

        <div style="display: flex; flex-direction: row;">
            <div style="width:130px;" class="inDivConsVow" id="divInc40" (click)="clickDivInc40()">10x4=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc50" (click)="clickDivInc50()">10x5=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc80" (click)="clickDivInc80()">10x8=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc100" (click)="clickDivInc100()">10x10=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc10" (click)="clickDivInc10()">10x1=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc20" (click)="clickDivInc20()">10x2=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc60" (click)="clickDivInc60()">10x6=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc70" (click)="clickDivInc70()">10x7=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc90" (click)="clickDivInc90()">10x9=</div>
            <div style="width:130px;" class="inDivConsVow" id="divInc30" (click)="clickDivInc30()">10x3=</div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p style="margin: 0;">А теперь попробуй пересечь долину трёх задач.</p>
            <p style="color:green; margin-bottom:0;">1 задача</p>
            <p style="margin: 0;">В одной корзине лежит 5 яблок.</p>
            <p style="margin:0;">Во второй корзине на 2 яблока больше.</p>
            <p style="margin-top:0;">Сколько яблок в двух корзинах?</p>
        </div>

        <div style="position:relative; width:800px; height:300px;">
            <img style="height:300px; position:absolute; left:10%; top:0%;" src="../../../assets/img/basket.png" alt="корзина">
            <img style="height:300px; position:absolute; left:60%; top:0%;" src="../../../assets/img/basket.png" alt="корзина">
            <img style="height:73px; position:absolute; left:18%; top:29%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:17%; top:32%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:20%; top:32%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:23%; top:32%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:26%; top:32%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:69%; top:29%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:71%; top:29%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:67%; top:32%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:75%; top:32%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:70%; top:32%;" src="../../../assets/img/apple3.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:73%; top:32%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:76%; top:32%;" src="../../../assets/img/apple.png" alt="яблоко">
            <img style="height:73px; position:absolute; left:73%; top:32%;" src="../../../assets/img/apple4.png" alt="яблоко">
            <img style="height:110px; position:absolute; left:45%; top:0%;" src="../../../assets/img/questionBlue.png" alt="вопрос">
            <img style="height:110px; position:absolute; left:60%; top:0%;" src="../../../assets/img/arrow1.png" alt="стрелка">
            <img style="height:110px; position:absolute; left:30%; top:0%;" src="../../../assets/img/arrow2.png" alt="стрелка">
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">
            <button class="blue noselect">7</button>
            <button class="blue noselect">10</button>
            <button class="blue noselect" (click)="viewDiv6()">12</button>
            <button class="blue noselect">9</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">2 задача</p>
            <p style="margin: 0;">На огороде растут тыквы в 5 рядов.</p>
            <p style="margin: 0;">В каждом ряду по 4 тыквы.</p>
            <p style="margin-top:0;">Сколько тыкв растёт на огороде?</p>
            <p style="font-size:2em; margin:0;">4 + 4 + 4 + 4 + 4 = ? (т.)</p>
            <p style="font-size:2em; margin:0;">4 x 5 = ? (т.)</p>
        </div>

        <div style="position:relative; width:800px; height:300px;">
            <img style="height:56px; position:absolute; left:20%; top:15%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:20%; top:23%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:20%; top:31%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:20%; top:39%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:40%; top:15%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:40%; top:23%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:40%; top:31%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:40%; top:39%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:60%; top:15%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:60%; top:23%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:60%; top:31%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:60%; top:39%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:80%; top:15%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:80%; top:23%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:80%; top:31%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <img style="height:56px; position:absolute; left:80%; top:39%;" src="../../../assets/img/BigPumpkin.png" alt="тыква">
            <button style="position:absolute; left:0%; top:40%;" class="blue noselect">19</button>
            <button style="position:absolute; left:10%; top:60%;" class="blue noselect" (click)="viewDiv7()">20</button>
            <button style="position:absolute; right:0%; top:40%;" class="blue noselect">16</button>
            <button style="position:absolute; right:10%; top:60%;" class="blue noselect">24</button>
        </div>
    </div>

    <div id="div7">
        <div>
            <p style="margin: 0;">Замечательно!</p>
            <p style="color:green; margin: 0;">3 задача</p>
            <p style="margin: 0;">В одной вазе 6 груш.</p>
            <p style="margin: 0;">В другой вазе на 3 груши меньше.</p>
            <p style="margin: 0;">Сколько всего груш в двух вазах?</p>
        </div>

        <div style="display:flex; flex-direction:row;">
            <div style="position:relative; width:800px; height:300px;">
                <img style="height:220px; position:absolute; left:0%; top:40%;" src="../../../assets/img/vase1.png" alt="ваза">
                <img style="height:220px; position:absolute; left:50%; top:40%;" src="../../../assets/img/vase1.png" alt="ваза">
                <img style="height:115px; position:absolute; left:5%; top:30%;" src="../../../assets/img/pear1.png" alt="груша">
                <img style="height:115px; position:absolute; left:10%; top:30%;" src="../../../assets/img/pear1.png" alt="груша">
                <img style="height:115px; position:absolute; left:15%; top:30%;" src="../../../assets/img/pear1.png" alt="груша">
                <img style="height:115px; position:absolute; left:20%; top:30%;" src="../../../assets/img/pear1.png" alt="груша">
                <img style="height:115px; position:absolute; left:25%; top:30%;" src="../../../assets/img/pear1.png" alt="груша">
                <img style="height:115px; position:absolute; left:30%; top:30%;" src="../../../assets/img/pear2.png" alt="груша">
                <img style="height:115px; position:absolute; left:55%; top:30%;" src="../../../assets/img/pear2.png" alt="груша">
                <img style="height:115px; position:absolute; left:65%; top:30%;" src="../../../assets/img/pear2.png" alt="груша">
                <img style="height:115px; position:absolute; left:75%; top:30%;" src="../../../assets/img/pear2.png" alt="груша">
            </div>
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; align-items:center; margin-top:20px;">
            <button class="blue noselect">12</button>
            <button class="blue noselect">15</button>
            <button class="blue noselect" (click)="viewDiv8()">9</button>
            <button class="blue noselect">3</button>
        </div>
    </div>

    <div id="div8">
        <p style="margin:0;">Молодец!</p>
        <p style="margin:0; color:red;">Наше путешествие прошло успешно!</p>
        <button style="width:370px; font-size:1em; margin-bottom:20px;" class="blue noselect" (click)="viewDiv9()">Домашнее задание</button>

        <div>
            <img src="../../../assets/img/goosen.png" style="height:184px;" alt="гусь">
            <img src="../../../assets/img/gooser2.png" style="height:80px;" alt="гусёнок">
            <img src="../../../assets/img/swollow2.png" style="height:89px;" alt="ласточка">
            <img src="../../../assets/img/squirreler.png" style="height:137px;" alt="бельчонок">
            <img src="../../../assets/img/squirrel3.png" style="height:186px;" alt="белка">
        </div>

        <div style="margin-bottom: 100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>
    </div>

    <div id="div9">
        <div>
            <p>А теперь повторяем таблицу умножения на 9.</p>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 1 =
                <input type="text" class="inputInDiv2" id="input1">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 2 =
                <input type="text" class="inputInDiv2" id="input2">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 3 =
                <input type="text" class="inputInDiv2" id="input3">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 4 =
                <input type="text" class="inputInDiv2" id="input4">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 5 =
                <input type="text" class="inputInDiv2" id="input5">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 6 =
                <input type="text" class="inputInDiv2" id="input6">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 7 =
                <input type="text" class="inputInDiv2" id="input7">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 8 =
                <input type="text" class="inputInDiv2" id="input8">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 9 =
                <input type="text" class="inputInDiv2" id="input9">
            </span>
        </div>

        <div style="color:black;">
            <span style="margin-right: 10px; display: flex; align-items: center;">10 x 10 =
                <input type="text" class="inputInDiv2" id="input10">
            </span>
        </div>

        <div class="button">
            <a class="stitched" (click)="checkInput1()">Проверить</a>
        </div>
    </div>
</div>