<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/2.gif" alt="2">
            <img class="number1" src="../../../assets/img/1.gif" alt="1">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2()">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px; margin-left:5px;">
            <div class="spanAndInput">
                <span class="spanInDiv">Д</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ж</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ё</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Ю</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Н</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Б</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Г</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1(); addEvent1();">Проверить</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай, на какую букву начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm1">
                <img src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img src="../../../assets/img/yu.gif" alt="yu" class="imgInDiv">
                <img src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
            </div>

            <div id="divIm2">
                <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                    <img src="../../../assets/img/foxM.png" alt="fox" class="imgInDiv">
                    <img src="../../../assets/img/rod.png" alt="rod" class="imgInDiv">
                    <img src="../../../assets/img/magnifier.png" alt="magnifier" class="imgInDiv">
                    <img src="../../../assets/img/yurta.png" class="imgInDiv" alt="yurt">
                    <img src="../../../assets/img/wateringCan.png" alt="wateringCan" class="imgInDiv">
                    <img src="../../../assets/img/yula.png" class="imgInDiv" alt="whirligig">
                    <img src="../../../assets/img/onion.png" alt="onion" class="imgInDiv">
                    <img src="../../../assets/img/snall.png" class="imgInDiv" alt="snail">
                    <img src="../../../assets/img/frog.png" class="imgInDiv" alt="frog">
                    <img src="../../../assets/img/spoon.png" class="imgInDiv" alt="spoon">
                    <img src="../../../assets/img/duck.png" class="imgInDiv" alt="duck">
                    <img src="../../../assets/img/seaCadet.png" class="imgInDiv" alt="seaCadet">
                    <img src="../../../assets/img/lemon.png" class="imgInDiv" alt="lemon">
                    <img src="../../../assets/img/moose.png" class="imgInDiv" alt="moose">
                    <img src="../../../assets/img/udot.png" class="imgInDiv" alt="hoopoe">
                    <img src="../../../assets/img/skirt.png" class="imgInDiv" alt="skirt">
                </div>
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4();addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Узнай, на какую букву начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm3">
                <img src="../../../assets/img/J.gif" alt="j" class="imgInDiv">
                <img src="../../../assets/img/Mz.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/Gs.gif" alt="gs" class="imgInDiv">
                <img src="../../../assets/img/Gz.gif" alt="gz" class="imgInDiv">
            </div>

            <div id="divIm4">
                <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                    <img src="../../../assets/img/mountain.png" alt="mountain" class="imgInDiv">
                    <img src="../../../assets/img/mimosa.png" alt="mimosa" class="imgInDiv">
                    <img src="../../../assets/img/hyena.png" alt="hyena" class="imgInDiv">
                    <img src="../../../assets/img/crane.png" class="imgInDiv" alt="crane">
                    <img src="../../../assets/img/jackdaw.png" alt="jackdaw" class="imgInDiv">
                    <img src="../../../assets/img/mill.png" class="imgInDiv" alt="mill">
                    <img src="../../../assets/img/dahilas.png" alt="dahilas" class="imgInDiv">
                    <img src="../../../assets/img/bittle.png" class="imgInDiv" alt="beatle">
                    <img src="../../../assets/img/toad.png" class="imgInDiv" alt="toad">
                    <img src="../../../assets/img/kettlebell.png" class="imgInDiv" alt="kettlebell">
                    <img src="../../../assets/img/bear.png" class="imgInDiv" alt="bear">
                    <img src="../../../assets/img/pigeon.png" class="imgInDiv" alt="pigeon">
                    <img src="../../../assets/img/giraffe.png" class="imgInDiv" alt="giraffe">
                    <img src="../../../assets/img/jellyfish.png" class="imgInDiv" alt="jellyfish">
                    <img src="../../../assets/img/dwarf.png" class="imgInDiv" alt="dwarf">
                    <img src="../../../assets/img/guitar.png" class="imgInDiv" alt="guitar">
                </div>
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5()">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Новая буква!</p>
        </div>

        <div>
            <img style="margin-right:50px;" class="letter" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Н</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect" (click)="viewDiv6(); addEvent3();">С</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Узнай, на какой звук начинаются слова.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:center; margin-bottom:50px;" id="divIm5">
                <img src="../../../assets/img/Ss.gif" alt="ss" class="imgInDiv">
                <img src="../../../assets/img/Sz.gif" alt="sz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between; flex-wrap:wrap;" id="divIm6">
                <img src="../../../assets/img/catfish.png" alt="catfish" class="imgInDiv">
                <img src="../../../assets/img/heart.png" alt="heart" class="imgInDiv">
                <img src="../../../assets/img/rope.png" alt="rope" class="imgInDiv">
                <img src="../../../assets/img/drake.png" class="imgInDiv" alt="drake">
                <img src="../../../assets/img/saber.png" alt="saber" class="imgInDiv">
                <img src="../../../assets/img/net.png" class="imgInDiv" alt="net">
                <img src="../../../assets/img/plane.png" alt="plane" class="imgInDiv">
                <img src="../../../assets/img/titmouse.png" class="imgInDiv" alt="titmouse">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7()">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/catfish.png" alt="сом">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect" (click)="viewDiv8()">С</button>
            <button class="yellow noselect">Я</button>
            <button class="yellow noselect">М</button>
        </div>
    </div>

    <div id="div8">
        <div>
            <img class="print" src="../../../assets/img/catfish.png" alt="сом">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ms.gif" alt="М">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:160px;" class="yellow noselect">МОС</button>
            <button style="width:160px;" class="yellow noselect">ОМС</button>
            <button style="width:160px;" class="yellow noselect">СМО</button>
            <button style="width:160px;" class="yellow noselect" (click)="viewDiv9(); addEvent4();">СОМ</button>
            <button style="width:160px;" class="yellow noselect">СУМ</button>
        </div>
    </div>

    <div id="div9">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/catfish.png" alt="сом">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ms.gif" alt="m" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv10()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/saber.png" alt="сабля">
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect" (click)="viewDiv11()">С</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div11">
        <div>
            <img class="print" src="../../../assets/img/saber.png" alt="сабля">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="Л">
            <img class="letter" src="../../../assets/img/ya.gif" alt="Я">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:290px;" class="yellow noselect">СОЛЯБ</button>
            <button style="width:290px;" class="yellow noselect">СЯБЛА</button>
            <button style="width:290px;" class="yellow noselect">СОБЛЯ</button>
            <button style="width:290px;" class="yellow noselect" (click)="viewDiv12(); addEvent5();">САБЛЯ</button>
            <button style="width:290px;" class="yellow noselect">САПЛЯ</button>
        </div>
    </div>

    <div id="div12">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/saber.png" alt="сабля">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/B.gif" alt="b" class="imgInDiv">
                <img src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv13()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div13">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/rope.png" alt="скакалка">
        </div>

        <div>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect" (click)="viewDiv14()">С</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Г</button>
        </div>
    </div>

    <div id="div14">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img class="print" src="../../../assets/img/rope.png" alt="скакалка">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:350px;" class="yellow noselect">СКАКАДКА</button>
            <button style="width:350px;" class="yellow noselect" (click)="viewDiv15(); addEvent6();">СКАКАЛКА</button>
            <button style="width:350px;" class="yellow noselect">СКОКАЛКА</button>
        </div>
    </div>

    <div id="div15">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/rope.png" alt="скакалка">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
                <div class="inDiv">
                    <div class="textInDiv">1</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">2</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">3</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">4</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">5</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">6</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">7</div>
                    <div class="divInDiv"></div>
                </div>

                <div class="inDiv">
                    <div class="textInDiv">8</div>
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:center; flex-wrap:wrap;">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k2" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k3" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a2" class="imgInDiv">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/a.gif" alt="a3" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv16()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div16">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
        </div>

        <div>
            <button class="yellow noselect" (click)="viewDiv17()">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ж</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Г</button>
        </div>
    </div>

    <div id="div17">
        <div>
            <p>Попробуй прочитать слово.</p>
        </div>
    
        <div>
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Sz.gif" alt="С">
            <img class="letter" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter" src="../../../assets/img/Ls.gif" alt="Л">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>
    
        <div>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv18(); addEvent7();">ОСЁЛ</button>
            <button style="width:300px;" class="yellow noselect">АСЁЛ</button>
            <button style="width:300px;" class="yellow noselect">ЁСОЛ</button>
            <button style="width:300px;" class="yellow noselect">СЕЛО</button>
        </div>
    </div>

    <div id="div18">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/donkey.png" alt="осел">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Ls.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Sz.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/YO.gif" alt="yo" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv19()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div19">
        <div>
            <p>На какую букву начинается слово?</p>
        </div>

        <div>
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
        </div>

        <div>
            <button class="yellow noselect">Г</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Д</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Ё</button>
            <button class="yellow noselect">Л</button>
            <button class="yellow noselect">Ю</button>
            <button class="yellow noselect" (click)="viewDiv20()">О</button>
            <button class="yellow noselect">Б</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div20">
        <div>
            <img class="print" src="../../../assets/img/donkey.png" alt="осел">
            <img class="letter" src="../../../assets/img/o.gif" alt="О">
            <img class="letter" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter" src="../../../assets/img/Lz.gif" alt="Л">
            <img class="letter" src="../../../assets/img/i.gif" alt="И">
            <img class="letter" src="../../../assets/img/Ks.gif" alt="К">
        </div>

        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:290px;" class="yellow noselect">КОСЛИ</button>
            <button style="width:290px;" class="yellow noselect" (click)="viewDiv21(); addEvent8();">ОСЛИК</button>
            <button style="width:290px;" class="yellow noselect">ОКЛИС</button>
            <button style="width:290px;" class="yellow noselect">КУКЛУ</button>
        </div>
    </div>

    <div id="div21">
        <div style="display:flex; flex-direction:row; justify-content:center;">
            <img style="height:100px;" class="print" src="../../../assets/img/donkey.png" alt="ослик">
            <p style="font-size:1.3em; color:red;">Сложи слово!</p>
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img src="../../../assets/img/Lz.gif" alt="l" class="imgInDiv">
                <img src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
                <img src="../../../assets/img/Ss.gif" alt="s" class="imgInDiv">
                <img src="../../../assets/img/Ks.gif" alt="k" class="imgInDiv">
                <img src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Прочитай и запиши слоги.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">СОМ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СИ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОСТ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ОС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СОВ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">БАС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МИС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛЕС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СЕЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УС</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">СИЛ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">ЛИС</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/a.gif" alt="A">
            <img class="letter1" src="../../../assets/img/D.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/Dz.gif" alt="Д">
            <img class="letter1" src="../../../assets/img/i.gif" alt="И">
            <img class="letter1" src="../../../assets/img/J.gif" alt="Ж">
            <img class="letter1" src="../../../assets/img/o.gif" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1" src="../../../assets/img/Lz.gif" alt="л">
            <img class="letter1" src="../../../assets/img/u.gif" alt="У">
            <img class="letter1" src="../../../assets/img/Ns.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="Н">
            <img class="letter1" src="../../../assets/img/ya.gif" alt="Я">
            <img class="letter1" src="../../../assets/img/Gs.gif" alt="Г">
            <img class="letter1" src="../../../assets/img/Gz.gif" alt="Г">
        </div>

        <div>
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Nz.gif" alt="М">
            <img class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1" src="../../../assets/img/Kz.gif" alt="К">
            <img class="letter1" src="../../../assets/img/e.gif" alt="Е">
            <img class="letter1" src="../../../assets/img/B.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/Bz.gif" alt="Б">
            <img class="letter1" src="../../../assets/img/YO.gif" alt="Ё">
            <img class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1" src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1" src="../../../assets/img/yu.gif" alt="Ю">
            <img class="letter1" src="../../../assets/img/Ss.gif" alt="С">
            <img class="letter1" src="../../../assets/img/Sz.gif" alt="С">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv23()">Домашнее задание</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; justify-content:center; flex-wrap:wrap; margin-bottom:50px;">
            <div class="imgAndInput">
                <img src="../../../assets/img/saber.png" class="imgInDiv1" title="САБЛЯ" alt="сабля">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/catfish.png" class="imgInDiv1" title="СОМ" alt="сом">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/rope.png" class="imgInDiv1" title="СКАКАЛКА" alt="скакалка">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/donkey.png" class="imgInDiv1" title="ОСЛИК" alt="ослик">
                <input type="text" class="inputInDiv1">
            </div>

            <div class="imgAndInput">
                <img src="../../../assets/img/poppy.png" class="imgInDiv1" title="МАК" alt="мак">
                <input type="text" class="inputInDiv1">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>
</div>