<div class="total">
    <app-gif></app-gif>

    <div id="div1">
        <div>
            <p class="title1">Страна русского языка</p>
        </div>

        <div class="travel">
            <p class="title2">Путешествие</p>
            <img class="number1" src="../../../assets/img/6.gif" alt="6">
        </div>

        <div class="text">
            <p>Встречаемся снова с озорными буковками,</p>
            <p style="color:red">Внимание!</p>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv2(); addEvent1();">Вперед!</a>
        </div>
    </div>

    <div id="div2">
        <div>
            <p>Узнай буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm1">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm2">
                <img src="../../../assets/img/iris.png" alt="iris" class="imgInDiv">
                <img src="../../../assets/img/shark.png" alt="shark" class="imgInDiv">
                <img src="../../../assets/img/udot.png" alt="udot" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv3(); addEvent2();">Жми!</a>
        </div>
    </div>

    <div id="div3">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm3">
                <img style="border:3px solid red;" src="../../../assets/img/u.gif" alt="u" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/i.gif" alt="i" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/a.gif" alt="a" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm4">
                <img src="../../../assets/img/indian.png" alt="indian" class="imgInDiv">
                <img src="../../../assets/img/stork.png" alt="stork" class="imgInDiv">
                <img src="../../../assets/img/duck.png" alt="duck" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv4(); addEvent3();">Жми!</a>
        </div>
    </div>

    <div id="div4">
        <div>
            <p>Вспомни буквы, которые любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm5">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border: px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm6">
                <img src="../../../assets/img/lamb.png" alt="lamb" class="imgInDiv">
                <img src="../../../assets/img/vegatebles.png" alt="vegetables" class="imgInDiv">
                <img src="../../../assets/img/racoon.png" alt="racoon" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv5(); addEvent4();">Жми!</a>
        </div>
    </div>

    <div id="div5">
        <div>
            <p>Узнай буквы в других словах.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-around; margin-bottom:50px;" id="divIm7">
                <img style="border:3px solid red;" src="../../../assets/img/e.gif" alt="e" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/ya.gif" alt="ya" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/o.gif" alt="o" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-around;" id="divIm8">
                <img src="../../../assets/img/berries.png" alt="berries" class="imgInDiv">
                <img src="../../../assets/img/perch.png" alt="perch" class="imgInDiv">
                <img src="../../../assets/img/unicorn.png" alt="unicorn" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv6(); addEvent5();">Жми!</a>
        </div>
    </div>

    <div id="div6">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm9">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm10">
                <img src="../../../assets/img/parrot.png" alt="parrot" class="imgInDiv">
                <img src="../../../assets/img/cactus.png" alt="cactus" class="imgInDiv">
                <img src="../../../assets/img/gun.png" alt="gun" class="imgInDiv">
                <img src="../../../assets/img/kiwi.png" alt="kiwi" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv7(); addEvent6();">Жми!</a>
        </div>
    </div>

    <div id="div7">
        <div>
            <p>Повтори буквы.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm11">
                <img style="border:3px solid red;" src="../../../assets/img/Ks.gif" alt="ks" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ps.gif" alt="ps" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Kz.gif" alt="kz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Pz.gif" alt="pz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm12">
                <img src="../../../assets/img/parrot.png" alt="parrot" class="imgInDiv">
                <img src="../../../assets/img/cactus.png" alt="cactus" class="imgInDiv">
                <img src="../../../assets/img/gun.png" alt="gun" class="imgInDiv">
                <img src="../../../assets/img/kiwi.png" alt="kiwi" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv8(); addEvent7();">Жми!</a>
        </div>
    </div>

    <div id="div8">
        <div>
            <p>Вспомни буквы, которые не любят петь.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm13">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm14">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/lemon.png" alt="lemon" class="imgInDiv">
                <img src="../../../assets/img/raspberry.png" alt="raspberry" class="imgInDiv">
                <img src="../../../assets/img/onion.png" alt="onion" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv9(); addEvent8();">Жми!</a>
        </div>
    </div>

    <div id="div9">
        <div>
            <p>Повтори буквы.</p>
        </div>

        <div>
            <div style="display:flex; justify-content:space-between; margin-bottom:50px;" id="divIm15">
                <img style="border:3px solid red;" src="../../../assets/img/Ls.gif" alt="ls" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Ms.gif" alt="ms" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Lz.gif" alt="lz" class="imgInDiv">
                <img style="border:3px solid red;" src="../../../assets/img/Mz.gif" alt="mz" class="imgInDiv">
            </div>

            <div style="display:flex; justify-content:space-between;" id="divIm16">
                <img src="../../../assets/img/jellyfish.png" alt="jellyfish" class="imgInDiv">
                <img src="../../../assets/img/lemon.png" alt="lemon" class="imgInDiv">
                <img src="../../../assets/img/raspberry.png" alt="raspberry" class="imgInDiv">
                <img src="../../../assets/img/onion.png" alt="onion" class="imgInDiv">
            </div>
        </div>

        <div class="button">
            <a class="stitched" (click)="viewDiv10()">Жми!</a>
        </div>
    </div>

    <div id="div10">
        <div>
            <p>Прочитай и запиши буквы.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">П</span>
                <input type="text" class="inputInDiv">
            </div>


            <div class="spanAndInput">
                <span class="spanInDiv">М</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Е</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Я</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">А</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">У</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">И</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">О</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">К</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">Л</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp1()">Проверить</a>
        </div>
    </div>

    <div id="div11">
        <div>
            <img class="print" src="../../../assets/img/kid.png" alt="малыш">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect" (click)="viewDiv12()">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div12">
        <div>
            <img class="letter" src="../../../assets/img/u.gif" alt="У">
            <img class="letter" src="../../../assets/img/a.gif" alt="А">
            <img class="print" src="../../../assets/img/kid.png" alt="малыш">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button class="yellow noselect">ОУ</button>
            <button class="yellow noselect">УИ</button>
            <button class="yellow noselect" (click)="viewDiv13()">УА</button>
            <button class="yellow noselect">АИ</button>
            <button class="yellow noselect">ЯИ</button>
        </div>
    </div>

    <div id="div13">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div>
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
        </div>

        <div style="height:100px; display:flex; justify-content:center;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" (click)="changeImage1()"><img style="height:70px;" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" id="change">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="У">
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage1()">Проверить</a>
        </div>
    </div>

    <div id="div14">
        <div>
            <img class="print" src="../../../assets/img/cuckoo.png" alt="кукушка">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv15()">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div15">
        <div>
            <p>Кукушка говорит</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
            <img class="print" src="../../../assets/img/cuckoo.png" alt="кукушка">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">МУ-МУ</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv16()">КУ-КУ</button>
            <button style="width:300px;" class="yellow noselect">АУ-КУ</button>
            <button style="width:300px;" class="yellow noselect">КУ-МУ</button>
        </div>
    </div>

    <div id="div16">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div class="center">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px; height: 40px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:20px;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center; margin-right:110px;" class="letter1" (click)="changeImage2()"><img style="height:70px;" class="img3" src="../../../assets/img/arrow.png"></button>
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" class="letter1" (click)="changeImage3()"><img style="height:70px;" class="img3" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center" style="margin-bottom:40px;">
            <div id="change2">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            </div>
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <div id="change3">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/u.gif" alt="у">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            </div>
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage2()">Проверить</a>
        </div>
    </div>

    <div id="div17">
        <div>
            <img class="print" src="../../../assets/img/chicken.png" alt="курица">
        </div>
        
        <div>
            <p>Найди букву!</p>
        </div>

        <div>
            <button class="yellow noselect">О</button>
            <button class="yellow noselect">А</button>
            <button class="yellow noselect">У</button>
            <button class="yellow noselect">И</button>
            <button class="yellow noselect">Е</button>
            <button class="yellow noselect" (click)="viewDiv18()">К</button>
            <button class="yellow noselect">Ы</button>
            <button class="yellow noselect">П</button>
            <button class="yellow noselect">М</button>
            <button class="yellow noselect">Я</button>
        </div>
    </div>

    <div id="div18">
        <div>
            <p>Петушок и курочка говорят</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/o.gif" alt="о">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/o.gif" alt="о">
            <img class="print" src="../../../assets/img/chicken.png" alt="курица">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv19()">КО-КО</button>
            <button style="width:300px;" class="yellow noselect">КУ-КУ</button>
            <button style="width:300px;" class="yellow noselect">ОК-ОК</button>
            <button style="width:300px;" class="yellow noselect">ИК-ИК</button>
            <button style="width:300px;" class="yellow noselect">МО-МО</button>
        </div>
    </div>

    <div id="div19">
        <div>
            <p style="font-size:2em; color:red;">Прочитай и сложи слово!</p>
        </div>

        <div class="center">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/o.gif" alt="о">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
        </div>

        <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:20px;">
            <button style="height:90px; display:flex; justify-content:center; align-items:center; margin-right:110px;" class="letter1" (click)="changeImage4()"><img style="height:70px;" class="img3" src="../../../assets/img/arrow.png"></button>
            <button style="height:90px; display:flex; justify-content:center; align-items:center;" class="letter1" (click)="changeImage5()"><img style="height:70px;" class="img3" src="../../../assets/img/arrow.png"></button>
        </div>

        <div class="center">
            <div id="change4">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            </div>
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <div id="change5">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/o.gif" alt="О">
                <img style="width:100px; height:140px;" class="letter1" src="../../../assets/img/Ks.gif" alt="К">
            </div>
        </div>
        
        <div>
            <a class="stitched" (click)="checkImage3()">Проверить</a>
        </div>
    </div>

    <div id="div20">
        <div>
            <p>Дождик говорит</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img class="print" src="../../../assets/img/rain.png" alt="дождь">
        </div>
        
        <div>
            <p>Найди слово!</p>
        </div>

        <div>
            <button style="width:300px;" class="yellow noselect">КУП-КУП</button>
            <button style="width:300px;" class="yellow noselect" (click)="viewDiv21(); addEvent9();">КАП-КАП</button>
            <button style="width:300px;" class="yellow noselect">КАП-КУП</button>
        </div>
    </div>

    <div id="div21">
        <div>
            <p style="font-size:1.3em; color:red;">Прочитай и сложи слово.</p>
        </div>

        <div style="display:flex; align-items:center; justify-content:center;">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
            <img style="width:50px;" class="img2" src="../../../assets/img/dash.png" alt="-">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ks.gif" alt="к">
            <img style="width:100px;" class="letter1" src="../../../assets/img/a.gif" alt="А">
            <img style="width:100px;" class="letter1" src="../../../assets/img/Ps.gif" alt="П">
        </div>

        <div>
            <div style="display:flex; flex-direction:row; margin-bottom:50px;">
                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>

                <div class="inDivSmall">
                    <div class="divInDiv"></div>
                </div>
            </div>

            <div style="display:flex; justify-content:space-between;">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a">
                <img class="imgInDiv" src="../../../assets/img/Ks.gif" alt="k">
                <img class="imgInDiv" src="../../../assets/img/dash.png" alt="dash">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p">
                <img class="imgInDiv" src="../../../assets/img/a.gif" alt="a2">
                <img class="imgInDiv" src="../../../assets/img/Ks.gif" alt="k2">
                <img class="imgInDiv" src="../../../assets/img/Ps.gif" alt="p2">
            </div>

            <div class="button">
                <a class="stitched" (click)="viewDiv22()">Жми!</a>
            </div>
        </div>
    </div>

    <div id="div22">
        <div>
            <p>Прочитай и запиши слова.</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">КАП-КАП</span>
                <input style="width:212px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КО-КО</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КУ-КУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">УА</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp2()">Проверить</a>
        </div>
    </div>

    <div id="div23">
        <div>
            <p>Вспомни и запиши слова.</p>
        </div>

        <div style="display:flex; flex-direction:row; margin-bottom:50px;">
            <div class="spanAndInput">
                <img src="../../../assets/img/chicken.png" alt="курица" class="imgInDiv1">
                <input style="width:200px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/rain.png" alt="дождь" class="imgInDiv1">
                <input style="width:200px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/cuckoo.png" alt="кукушка" class="imgInDiv1">
                <input style="width:200px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <img src="../../../assets/img/kid.png" alt="малыш" class="imgInDiv1">
                <input style="width:200px;" type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp3()">Проверить</a>
        </div>
    </div>

    <div id="div24">
        <div>
            <p>Замечательно!</p>
        </div>

        <div>
            <img src="../../../assets/img/a.gif" class="letter1" alt="A">
            <img src="../../../assets/img/i.gif" class="letter1" alt="И">
            <img src="../../../assets/img/o.gif" class="letter1" alt="О">
            <img class="letter1" src="../../../assets/img/Ls.gif" alt="л">
            <img class="letter1"  src="../../../assets/img/Lz.gif" alt="л">
            <img src="../../../assets/img/u.gif" class="letter1" alt="У">
            <img src="../../../assets/img/ya.gif" class="letter1" alt="Я">
            <img class="letter1" src="../../../assets/img/Ms.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Mz.gif" alt="М">
            <img class="letter1"  src="../../../assets/img/Ks.gif" alt="К">
            <img class="letter1"  src="../../../assets/img/Ps.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/Pz.gif" alt="П">
            <img class="letter1"  src="../../../assets/img/e.gif" alt="Е">
        </div>

        <div style="margin-bottom:100px;">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
            <img src="../../../assets/img/stars.gif" alt="звезды">
        </div>

        <div>
            <a class="stitched" (click)="viewDiv25()">Домашнее задание</a>
        </div>
    </div>

    <div id="div25">
        <div>
            <p>Прочитай и запиши слова</p>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">МЕ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КАП-КАП</span>
                <input style="width:212px;" type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КО-КО</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">КУ-КУ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div style="display:flex; flex-wrap:wrap; margin-bottom:50px;">
            <div class="spanAndInput">
                <span class="spanInDiv">УА</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МЯУ</span>
                <input type="text" class="inputInDiv">
            </div>

            <div class="spanAndInput">
                <span class="spanInDiv">МУ</span>
                <input type="text" class="inputInDiv">
            </div>
        </div>

        <div>
            <a class="stitched" (click)="checkInp4()">Проверить</a>
        </div>
</div>